<!DOCTYPE html>
<html th:replace="~{/layouts/adminbase :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<!-- 메뉴 -->
<div class="menu">

    <!-- 사이드 메뉴-->



    <div id="sideMenuBar">
        <!-- 사이드 메뉴 항목 -->
        <div id="sideMenuContainer">
            <div id="sidebutton1" class="sideMenuButton">
                계정 관리
            </div>
            <div id="sidebuttonMain" class="sideMenuButton">
                펀딩 목록 관리
            </div>
            <div id="sidebutton3" class="sideMenuButton">
                결제 통계 확인
            </div>
            <div id="sidebutton4" class="sideMenuButton">
                공지사항
            </div>
            <div id="sidebutton5" class="sideMenuButton">
                신고 관리
            </div>
            <div id="sidebutton6" class="sideMenuButton">
                쿠폰 관리
            </div>
        </div>



    </div>
    <!-- 메인 메뉴 -->
    <section>
        <div id="backgroundpage">



            <!-- 메인 메뉴 항목-->
            <div id="mainMenuContainer">
                <div id="mainMenuButton1" class="FundingMenuButton" >
                    오픈 예정 펀딩 목록
                </div>
                <div id="mainMenuButton2" class="FundingMenuButton">
                    진행중인 펀딩 목록
                </div>
                <div id="mainMenuContainernotfirst" class="FundingMenuButton">
                    완료된 펀딩 목록
                </div>
                <div id="mainMenuButton4" class="FundingMenuButton">
                    승인된 펀딩 목록
                </div>
                <div id="mainMenuButton5" class="FundingMenuButton">
                    신청한 펀딩 목록
                </div>
                <div id="mainMenuButton6" class="FundingMenuButton">
                    판매자 등록 신청 목록
                </div>
                <div id="mainMenuButton7" class="FundingMenuButton">
                    반려된 펀딩 목록
                </div>
                <div id="mainMenuButton8" class="FundingMenuButton">
                    중단된 펀딩 목록
                </div>
            </div>



            <!-- 펀딩 제목 검색 버튼 -->
            <div class="memberIDSearchContainer">
                <div id="memberID" class="memberIDButton">
                    제목
                </div>
                <input type="text" placeholder="검색하실 펀딩의 제목을 입력해주세요" id="inputID" class="memberIDButton">

                </input>
                <div id="searchButton" class="memberIDButton">
                    검색
                </div>
            </div>


            <!-- 조회 결과 페이지 -->
            <div class="listPage">
                <div class="SortationContainer">
                    <div id="fundSortation1" class="SortationList">
                        아이디
                    </div>
                    <div id="fundSortation2" class="SortationList">
                        이메일
                    </div>
                    <div id="fundSortation3" class="SortationList">
                        제목
                    </div>
                    <div id="fundSortation4" class="SortationList">
                        오픈 예정일
                    </div>
                    <div id="fundSortation5" class="SortationList">
                        종료 날짜
                    </div>
                </div>



                <div class="listPageLine">
                    <div id="listPageLine1" class="listPageLine">

                    </div>
                    <div id="listPageLine2" class="listPageLine">

                    </div>
                    <div id="listPageLine3" class="listPageLine">

                    </div>
                    <div id="listPageLine4" class="listPageLine">

                    </div>
                    <div id="listPageLine5" class="listPageLine">

                    </div>
                    <div id="listPageLine6" class="listPageLine">

                    </div>
                    <div id="listPageLine7" class="listPageLine">

                    </div>
                    <div id="listPageLine8" class="listPageLine">

                    </div>
                </div>



            </div>
    </section>
</div>



<ul class="pagination">
    <li class="page-prev">
        <a class="prev" href="#"><svg t="1580195949197" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4493" width="20" height="20"><path d="M906.78272 588.78976c-0.02048 8.4992-6.88128 15.36-15.38048 15.37024l-443.6992-0.01024 75.70432 191.68256c2.51904 6.42048 0.48128 13.76256-5.03808 17.90976-5.51936 4.16768-13.13792 4.1472-18.61632-0.09216l-376.5248-289.47456c-3.77856-2.89792-6.00064-7.41376-6.00064-12.16512 0-4.78208 2.22208-9.27744 6.00064-12.1856l376.5248-289.47456c2.7648-2.11968 6.06208-3.19488 9.37984-3.19488 3.23584 0 6.5024 1.03424 9.23648 3.10272 5.51936 4.1472 7.5776 11.48928 5.03808 17.90976L447.68256 419.84l443.71968-0.01024c8.4992 0.01024 15.36 6.88128 15.36 15.36L906.78272 588.78976z" p-id="4494" fill="#777777"></path></svg></a>
    </li>
    <li class="page-number active"><a href="#">1</a></li>
    <li class="page-number"><a href="#">2</a></li>
    <li class="page-number"><a href="#">3</a></li>
    <li class="page-number"><a href="#">4</a></li>
    <li class="page-number"><a href="#">5</a></li>
    <li class="page-number"><a href="#">6</a></li>
    <li class="page-next">
        <a class="next" href="#"><svg t="1580195920917" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4995" width="20" height="20"><path d="M906.77248 512c0 4.77184-2.21184 9.2672-5.9904 12.17536l-376.5248 289.4848c-2.7648 2.11968-6.06208 3.18464-9.3696 3.18464-3.25632 0-6.5024-1.03424-9.24672-3.09248-5.50912-4.15744-7.5776-11.48928-5.03808-17.90976l75.71456-191.67232L132.58752 604.17024c-8.48896 0-15.36-6.88128-15.36-15.36l0-153.6c0-8.48896 6.87104-15.36 15.36-15.36l443.72992 0-75.71456-191.68256c-2.53952-6.42048-0.47104-13.75232 5.04832-17.90976 5.50912-4.15744 13.12768-4.13696 18.60608 0.09216l376.5248 289.4848C904.56064 502.7328 906.77248 507.22816 906.77248 512z" p-id="4996" fill="#777777"></path></svg></a>
    </li>

</ul>



</section>


<script>


    $('.FundingMenuButton').click(function() {
        $('.FundingMenuButton').removeClass('active');
        $(this).addClass('active');
    });

    $('.sideMenuButton').click(function() {
        var buttonId = $(this).attr('id'); // 클릭한 버튼의 id를 가져옵니다.

        $('.sideMenuButton').removeClass('active');
        $(this).addClass('active');

        if (buttonId === 'sidebutton1') {
            window.location.href = '../account/account.html'; // 계정 관리 페이지로 이동합니다.
        } else if (buttonId === 'sidebutton2') {
            window.location.href = '../funding/willopenfunding.html'; // 펀딩 목록 관리 페이지로 이동합니다.
        } else if (buttonId === 'sidebutton3') {
            window.location.href = '../statistics/AllPrice.html'; // 결제 통계 확인 페이지로 이동합니다.
        } else if (buttonId === 'sidebutton4') {
            window.location.href = '../notice/notice.html'; // 공지사항 페이지로 이동합니다.
        } else if (buttonId === 'sidebutton5') {
            window.location.href = '../report/Report Resolution.html'; // 신고 관리 페이지로 이동합니다.
        } else if (buttonId === 'sidebutton6') {
            window.location.href = '../coupon/IssuanceCoupons.html'; // 쿠폰 관리 페이지로 이동합니다.
        }
    });
    $('.FundingMenuButton').click(function() {
        var buttonId = $(this).attr('id'); // 클릭한 버튼의 id를 가져옵니다.
        if (buttonId === 'mainMenuButton1') {
            window.location.href = '../funding/willopenfunding.html'; // 오픈 예정 펀딩 목록
        } else if (buttonId === 'mainMenuButton2') {
            window.location.href = '../funding/ongoingfunding.html'; // 진행중인 펀딩 목록
        } else if (buttonId === 'mainMenuButton4') {
            window.location.href = '../funding/ApprovedFunding.html'; // 완료된 펀딩 목록
        } else if (buttonId === 'mainMenuButton5') {
            window.location.href = '../funding/FUNDINGAPPLIED.html'; // 승인된 펀딩 목록
        } else if (buttonId === 'mainMenuButton6') {
            window.location.href = '../funding/SellerRegistration.html'; // 신청한 펀딩 목록
        } else if (buttonId === 'mainMenuButton7') {
            window.location.href = '../funding/rejectedfunding.html'; // 판매자 등록 목록
        } else if (buttonId === 'mainMenuButton8') {
            window.location.href = '../funding/Suspendedfunding.html'; // 반려된 펀딩 목록
        }

    });
    $(".logo").click(function(){
        window.location.href = '../../index.html';
    })
</script>
</div>
</main>
</html>