<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.user.mypage.repository.MypageMapper">

<!--    <resultMap id="MemberResultMap" type="com.won.dourbest.user.dto.MemberDTO">-->
<!--        <id property="memberCode" column="MEMBER_CODE"/>-->
<!--        <result property="memberId" column="MEMBER_ID"/>-->
<!--        <result property="memberPwd" column="MEMBER_PWD"/>-->
<!--        <result property="memberName" column="MEMBER_NAME"/>-->
<!--        <result property="memberPhone" column="MEMBER_PHONE"/>-->
<!--        <result property="memberEmail" column="MEMBER_EMAIL"/>-->
<!--        <result property="registDate" column="REGIST_DATE"/>-->
<!--        <result property="adultStatus" column="ADULT_STATUS"/>-->

<!--        <association property="membership" resultMap="MemberShipResultMap"/>-->
<!--        <association property="address" resultMap="MemberShipResultMap"/>-->
<!--        <collection property="likeFundingList" resultMap="LikeFundingResultMap"/>-->
<!--        <collection property="purchasedFundingList" resultMap="PurchasedFundingResultMap"/>-->
<!--    </resultMap>-->


     <!--   질문 답변  -->
    <resultMap id="QnaAnwserResult" type="com.won.dourbest.admin.dto.AdminInquiriesDTO">
        <id property="inquiriesCode" column="INQUIRIES_CODE"/>
        <result property="rowNum" column="RNUM"/>
        <result property="contactSubject" column="CONTACT_SUBJECT"/>
        <result property="contactDetails" column="CONTACT_DETAILS"/>
        <result property="dateCreationInquiry" column="DATE_CREATION_INQUIRY"/>
        <result property="whetherAnswer" column="WHETHER_ANSWER"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="inquiriesCode" column="INQUIRIES_CODE"/>
        <result property="answerContent" column="ANSWER_CONTENT"/>
        <result property="answerDate" column="ANSWER_DATE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
    </resultMap>

<!--    판매자 답변-->

    <resultMap id="QnaSellerResult" type="com.won.dourbest.seller.dto.SellerInquiryDTO">
        <id property="sellerInquiryCode" column="SELLER_INQUIRY_CODE"/>
        <result property="rowNum" column="RNUM"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="inquiryTitle" column="INQUIRY_TITLE"/>
        <result property="inquiryContent" column="INQUIRY_CONTENT"/>
        <result property="inquiryDate" column="INQUIRY_DATE"/>
        <result property="answerStatus" column="ANSWER_STATUS"/>
        <result property="answerContent" column="INQUIRY_ANSWER_CONTENT"/>
        <result property="answerDate" column="INQUIRY_ANSWER_DATE"/>
        <result property="fundingCode" column="FUNDING_CODE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
    </resultMap>

<!--신고 답변-->

    <resultMap id="QnaNotifyResult" type="com.won.dourbest.user.dto.MemberReportListDTO">
        <id property="reportCode" column="REPORT_CODE"/>
<!--        <result property="rowNum" column="RNUM"/>-->
        <result property="fundingTitle" column="REPORT_TITLE"/>
        <result property="reportContent" column="REPORT_CONTENT"/>
        <result property="reportDate" column="REPORT_DATE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="reportAnswer" column="ANSWERS_CONTENT"/>
        <result property="reportAnswerDate" column="ANSWER_DATE"/>
    </resultMap>



    <resultMap id="MemberShipResultMap" type="MemberShipDTO">
        <id property="membershipCode" column="MEMBERSHIP_CODE"/>
        <result property="membershipName" column="MEMBERSHIP_NAME"/>
        <result property="accrualRate" column="ACCRUAL_RATE"/>
        <result property="membershipContent" column="MEMBERSHIP_CONTENT"/>
    </resultMap>

    <resultMap id="AddressResultMap" type="AddressDTO">
        <id property="addressCode" column="couponListCode"/>
        <result property="zipCode" column="ZIP_CODE"/>
        <result property="baseAddress" column="BASE_ADDRESS"/>
        <result property="detailAddress" column="DETAIL_ADDRESS"/>
    </resultMap>

    <resultMap id="MypageMainMap" type="MypageMainDTO">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="membershipName" column="MEMBERSHIP_NAME"/>
        <result property="pointTotalAmount" column="POINT_TOTAL_AMOUNT"/>
        <result property="couponCount" column="COUPON_COUNT"/>
        <result property="profile" column="PROFILE"/>
    </resultMap>

    <resultMap id="MypageResultMap" type="MypageDTO">
        <result property="readyCount" column="READY_COUNT"/>
        <result property="ingCount" column="ING_COUNT"/>
        <result property="finishCount" column="FINISH_COUNT"/>
    </resultMap>

    <resultMap id="CoupListResultMap" type="MemberCouponList">
        <id property="couponListCode" column="COUPONLIST_CODE"/>
        <result property="rowNum" column="RNUM"/>
        <result property="useStatus" column="COUPON_USE_STATUS"/>
        <result property="regiStatus" column="COUPON_REGI_STATUS"/>
        <result property="validDate" column="VALID_DATE"/>
        <association property="coupon" resultMap="CouponMap"/>
    </resultMap>

    <resultMap id="CouponMap" type="CouponDTO">
        <id property="couponCode" column="COUPON_CODE"/>
        <result property="couponName" column="COUPON_NAME"/>
        <result property="couponContent" column="COUPON_CONTENT"/>
        <result property="couponDiscount" column="COUPON_DISCOUNT"/>
    </resultMap>

    <resultMap id="OrderFundingResult" type="OrderFundingDTO">
        <id property="rowNum" column="ROWNUM"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="fundingCode" column="FUNDING_CODE"/>
        <result property="fundingSummary" column="FUNDING_SUMMARY"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="changeDate" column="CHANGE_DATE"/>
        <result property="fundingStatusName" column="FUNDING_STATUS_NAME"/>
        <result property="filePath" column="FILE_MODIFICATION_NAME"/>
    </resultMap>

    <resultMap id="OrderCreditResult" type="OrderCreditDTO">
        <id property="rowNum" column="ROWNUM"/>
        <result property="orderPrice" column="ORDER_PRICE"/>
        <result property="couponListCode" column="COUPONLIST_CODE"/>
        <result property="paymentCode" column="PAYMENT_CODE"/>
        <result property="deliveryCharge" column="DELIVERY_CHARGE"/>
        <result property="carCompany" column="CARD_COMPANY"/>
        <result property="cardNumber" column="CARD_NUMBER"/>
        <result property="totalPrice" column="TOTAL_PRICE"/>
        <result property="pointAmount" column="POINT_AMOUNT"/>
        <result property="creditStatus" column="CREDIT_STATUS"/>
        <result property="creditDate" column="CREDIT_DATE"/>
        <result property="deliveryStatus" column="DELIVERY_STATUS"/>
        <result property="deliveryDate" column="DELIVERY_DATE"/>
        <result property="deliveryNumber" column="DELIVERY_NUMBER"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberPhone" column="MEMBER_PHONE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="BaseAddress" column="BASE_ADDRESS"/>
        <result property="detailAddress" column="DETAIL_ADDRESS"/>
        <result property="zipCode" column="ZIP_CODE"/>
    </resultMap>

    <resultMap id="LikeFundingResultMap" type="LikeFundingDTO">
        <id property="fundingCode" column="FUNDING_CODE"/>
        <result property="rowNum" column="RNUM"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="fundingSummary" column="FUNDING_SUMMARY"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="filePath" column="FILE_MODIFICATION_NAME"/>
    </resultMap>

    <resultMap id="PurchasedFundingResultMap" type="PurchasedFundingListDTO">
        <id property="fundingCode" column="FUNDING_CODE"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="fundingSummary" column="FUNDING_SUMMARY"/>
        <result property="endDate" column="END_DATE"/>
        <result property="reviewCode" column="REVIEW_CODE"/>
        <result property="orderCode" column="ORDER_CODE"/>
    </resultMap>

    <resultMap id="FundingResultMap" type="FundingDTO">
        <id property="fundingCode" column="FUNDING_CODE"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="fundingSummary" column="FUNDING_SUMMARY"/>
    </resultMap>

    <resultMap id="InquireResult" type="MemberInquireListDTO">
        <id property="inquiriesCode" column="INQUIRIES_CODE"/>
        <result property="rowNum" column="RNUM"/>
        <result property="contactSubject" column="CONTACT_SUBJECT"/>
        <result property="creationDate" column="DATE_CREATION_INQUIRY"/>
        <result property="contactAnswer" column="WHETHER_ANSWER"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>

    <resultMap id="ReportResult" type="MemberReportListDTO">
        <id property="reportCode" column="REPORT_CODE"/>
        <result property="rowNum" column="RNUM"/>
        <result property="responseCode" column="REPORT_RESPONSE_CODE"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="reportDate" column="REPORT_DATE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="answerStatus" column="ANSWERS_STATUS"/>
    </resultMap>

    <resultMap id="SellerInquireResult" type="MemberSellerInquireDTO">
        <id property="sellerInqCode" column="SELLER_INQUIRY_CODE"/>
        <result property="rowNum" column="RNUM"/>
        <result property="sellerInqDate" column="INQUIRY_DATE"/>
        <result property="sellerInqTitle" column="INQUIRY_TITLE"/>
        <result property="sellerInqAnswerStatus" column="ANSWER_STATUS"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>

    <resultMap id="contactCategoryResult" type="CategoryDTO">
        <id property="categoryCode" column="CATEGORY_CODE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="categoryKind" column="CATEGORY_KIND"/>
    </resultMap>

    <resultMap id="memberPointResult" type="MemberPointDTO">
        <id property="rowNum" column="RNUM"/>
        <result property="pointDate" column="POINT_DATE"/>
        <result property="pointAmount" column="POINT_AMOUNT"/>
        <result property="status" column="POINT_STATUS"/>
        <result property="orderCode" column="ORDER_CODE"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
    </resultMap>

    <sql id="search">
        <if test="cri.searchType != null">
            AND TC.CATEGORY_NAME = #{cri.searchType}
        </if>
        <if test="cri.status != null">
            AND TSI.ANSWER_STATUS = #{cri.status}
        </if>
    </sql>

    <select id="findById" resultMap="MypageMainMap">
        SELECT
            M.MEMBER_ID,
            M.MEMBER_NAME,
            M.PROFILE,
            TM.MEMBERSHIP_NAME,
            NVL(PL.POINT_TOTAL_AMOUNT,0) POINT_TOTAL_AMOUNT,
            (SELECT COUNT(COUPON_CODE) FROM TBL_COUPONLIST TCL WHERE MEMBER_CODE = (SELECT MEMBER_CODE
                                                                                    FROM TBL_MEMBER
                                                                                    WHERE MEMBER_ID = #{userId})
                                                                 AND TCL.COUPON_REGI_STATUS = 'Y'
            ) COUPON_COUNT
        FROM TBL_MEMBER M
                 LEFT JOIN TBL_MEMBERSHIP TM ON (M.MEMBERSHIP_CODE = TM.MEMBERSHIP_CODE)
                 LEFT JOIN TBL_ORDER O ON (M.MEMBER_CODE = O.MEMBER_CODE)
                 LEFT JOIN TBL_POINTLIST PL ON (M.MEMBER_CODE = PL.MEMBER_CODE)
        where M.MEMBER_ID = #{userId}
        group by M.MEMBER_ID, M.PROFILE, M.MEMBER_NAME, TM.MEMBERSHIP_NAME, PL.POINT_TOTAL_AMOUNT
        ORDER BY PL.POINT_TOTAL_AMOUNT DESC
    </select>

    <select id="findDelivery" resultMap="MypageResultMap">
        SELECT
            COUNT(DECODE(A.DELIVERY_STATUS,'배송준비중','1')) READY_COUNT,
            COUNT(DECODE(A.DELIVERY_STATUS,'배송 중','1')) ING_COUNT,
            COUNT(DECODE(A.DELIVERY_STATUS,'배송완료','1')) FINISH_COUNT
        FROM(
                select
                    D.DELIVERY_STATUS,
                    D.DELIVERY_DATE,
                    ROW_NUMBER() over (PARTITION BY D.DELIVERY_CODE ORDER BY D.DELIVERY_DATE DESC) AS RN,
                        D.DELIVERY_CODE
                from TBL_MEMBER M
                         LEFT JOIN TBL_ORDER O ON (M.MEMBER_CODE = O.MEMBER_CODE)
                         LEFT JOIN TBL_CREDIT T ON (O.ORDER_CODE = T.ORDER_CODE)
                         left JOIN TBL_DELIVERY TD ON (T.PAYMENT_CODE = TD.PAYMENT_CODE)
                         left JOIN TBL_DELIVERYLIST D ON (TD.DELIVERY_CODE = D.DELIVERY_CODE)
                         LEFT JOIN TBL_POINTLIST PL ON (M.MEMBER_CODE = PL.MEMBER_CODE)
                WHERE M.MEMBER_ID = #{userId}
                ORDER BY D.DELIVERY_DATE DESC)A
        WHERE RN = 1
    </select>

    <select id="findByCoupon" resultMap="CoupListResultMap">
        SELECT
            B.RNUM,
            B.COUPON_CODE,
            B.COUPON_NAME,
            B.COUPON_CONTENT,
            B.COUPON_DISCOUNT,
            B.COUPONLIST_CODE,
            B.COUPON_USE_STATUS,
            B.COUPON_REGI_STATUS,
            B.VALID_DATE
        FROM(
            SELECT
                ROWNUM RNUM,
                A.COUPON_CODE,
                A.COUPON_NAME,
                A.COUPON_DISCOUNT,
                A.COUPON_CONTENT,
                A.COUPONLIST_CODE,
                A.COUPON_USE_STATUS,
                A.COUPON_REGI_STATUS,
                A.VALID_DATE
            FROM(
                SELECT
                    TC.COUPON_CODE,
                    TC.COUPON_NAME,
                    TC.COUPON_CONTENT,
                    TC.COUPON_DISCOUNT,
                    TCL.COUPONLIST_CODE,
                    TCL.COUPON_USE_STATUS,
                    TCL.COUPON_REGI_STATUS,
                    TCL.VALID_DATE
                FROM TBL_COUPONLIST TCL
                        JOIN TBL_MEMBER TM on TCL.MEMBER_CODE = TM.MEMBER_CODE
                        JOIN TBL_COUPON TC on TCL.COUPON_CODE = TC.COUPON_CODE
                    WHERE TM.MEMBER_ID = #{ userId }
<!--                <if test="cri.status != Y">-->
<!--                    AND TCL.COUPON_REGI_STATUS = #{ cri.status }-->
<!--                </if>-->
                <choose>
                    <when test="cri.order != null ">
                        AND TCL.COUPON_USE_STATUS = #{ cri.order }
                    </when>
                    <when test="cri.status != null">
                        AND TCL.COUPON_REGI_STATUS = #{ cri.status }
                    </when>
                    <otherwise>
                        AND TCL.COUPON_REGI_STATUS = 'Y'
                    </otherwise>
                </choose>
                ORDER BY TCL.VALID_DATE DESC
                ) A
        <![CDATA[
                WHERE ROWNUM <= #{ cri.rowEnd }
        ]]>
            )B
        WHERE B.RNUM >= #{ cri.rowStart }
    </select>

    <select id="findLikeFundingById" resultMap="LikeFundingResultMap">
        SELECT
            B.RNUM,
            B.FUNDING_CODE,
            B.FUNDING_TITLE,
            B.FUNDING_SUMMARY,
            B.CATEGORY_NAME,
            B.FILE_MODIFICATION_NAME
        FROM(
            SELECT
                ROWNUM RNUM,
                A.FUNDING_CODE,
                A.FUNDING_TITLE,
                A.FUNDING_SUMMARY,
                A.CATEGORY_NAME,
                A.FILE_MODIFICATION_NAME
            FROM(
                SELECT
                    F.FUNDING_CODE,
                    F.FUNDING_TITLE,
                    F.FUNDING_SUMMARY,
                    TC.CATEGORY_NAME,
                    TFF.FILE_MODIFICATION_NAME
                FROM TBL_MEMBER M
                    JOIN TBL_LIKE_FUNDING_LIST TLFL ON (M.MEMBER_CODE = TLFL.MEMBER_CODE)
                    JOIN TBL_FUNDING F ON (TLFL.FUNDING_CODE = F.FUNDING_CODE)
                    LEFT JOIN TBL_FUNDING_FILE TFF ON F.FUNDING_CODE = TFF.FUNDING_CODE
                    JOIN TBL_CATEGORY TC on F.CATEGORY_CODE = TC.CATEGORY_CODE
                WHERE M.MEMBER_ID = #{ userId }
                AND TFF.FILE_TYPE='메인'
                <if test="cri.searchType != null">
                    AND TC.CATEGORY_NAME = #{cri.searchType}
                </if>
                <choose>
                    <when test="cri.order == null ">
                        ORDER BY F.APPLICATION_DATE DESC
                    </when>
                    <otherwise>
                        ORDER BY F.APPLICATION_DATE ASC
                    </otherwise>
               </choose>
                ) A
        <![CDATA[
            WHERE ROWNUM <= #{ cri.rowEnd }
            ]]>
            ) B
        WHERE B.RNUM >= #{ cri.rowStart }
        ORDER BY 1 ASC
    </select>

    <select id="findPurchasedFundingById" resultMap="PurchasedFundingResultMap">
        SELECT
            B.RNUM,
            B.FUNDING_CODE,
            B.FUNDING_TITLE,
            B.FUNDING_SUMMARY,
            B.END_DATE,
            B.REVIEW_CODE,
            B.ORDER_CODE,
            B.FILE_MODIFICATION_NAME
            FROM (
                SELECT
                    ROWNUM RNUM,
                    A.FUNDING_CODE,
                    A.FUNDING_TITLE,
                    A.FUNDING_SUMMARY,
                    A.END_DATE,
                    A.REVIEW_CODE,
                    A.ORDER_CODE,
                    A.FILE_MODIFICATION_NAME
                FROM(
                    SELECT DISTINCT
                        TF.FUNDING_CODE,
                        TF.FUNDING_TITLE,
                        TF.FUNDING_SUMMARY,
                        TF.END_DATE,
                        TR.REVIEW_CODE,
                        O.ORDER_CODE,
                        TFF.FILE_MODIFICATION_NAME
                    FROM TBL_MEMBER M
                        LEFT JOIN TBL_PURCHASED_FUNDING_LIST TPFL ON M.MEMBER_CODE = TPFL.MEMBER_CODE
                        LEFT JOIN TBL_FUNDING TF on TPFL.FUNDING_CODE = TF.FUNDING_CODE
                        LEFT JOIN TBL_FUNDING_FILE TFF ON TF.FUNDING_CODE = TFF.FUNDING_CODE
                        LEFT JOIN TBL_ORDER O on M.MEMBER_CODE = O.MEMBER_CODE
                        LEFT JOIN TBL_REVIEW TR on M.MEMBER_CODE = TR.MEMBER_CODE
                    WHERE M.MEMBER_ID = #{ userId }
                    AND TFF.FILE_TYPE='메인'
                    <if test="cri.order != null">
                        <![CDATA[
                                 AND TF.END_DATE < SYSDATE
                             ]]>
                    </if>

                    <choose>
                        <when test='"N".equals(cri.status)'>
                            AND TR.REVIEW_CODE IS NULL
                        </when>
                        <when test='"Y".equals(cri.status) or cri.status == null'>
                            AND TR.REVIEW_CODE IS NOT NULL
                        </when>
                        <otherwise>
                        </otherwise>
                    </choose>

                    ) A
                <![CDATA[
                    WHERE ROWNUM <= #{ cri.rowEnd }
                ]]>
                ) B
        WHERE B.RNUM >= 1
        ORDER BY 1 ASC
    </select>

    <select id="findInquireAllById" resultMap="InquireResult">
        SELECT B.RNUM,
            B.INQUIRIES_CODE,
            B.CONTACT_SUBJECT,
            B.DATE_CREATION_INQUIRY,
            B.WHETHER_ANSWER,
            B.CATEGORY_NAME
        FROM (
            SELECT ROWNUM RNUM,
                A.INQUIRIES_CODE,
                A.CONTACT_SUBJECT,
                A.DATE_CREATION_INQUIRY,
                A.WHETHER_ANSWER,
                A.CATEGORY_NAME
            FROM(
                SELECT
                    TAI.INQUIRIES_CODE,
                    TAI.CONTACT_SUBJECT,
                    TAI.DATE_CREATION_INQUIRY,
                    TAI.WHETHER_ANSWER,
                    TC.CATEGORY_NAME
                FROM TBL_MEMBER M
                JOIN TBL_ADMIN_INQUIRIES TAI on M.MEMBER_CODE = TAI.MEMBER_CODE
                JOIN TBL_CATEGORY TC on TAI.CATEGORY_CODE = TC.CATEGORY_CODE
                WHERE M.MEMBER_ID = #{ userId }
                <if test="cri.status != null">
                    AND TAI.WHETHER_ANSWER = #{ cri.status }
                </if>

                ORDER BY DATE_CREATION_INQUIRY DESC
                ) A
            <![CDATA[
                WHERE ROWNUM <= #{ cri.rowEnd }
            ]]>
        ) B
        WHERE B.RNUM >= #{ cri.rowStart }
        ORDER BY 1 ASC
    </select>

    <select id="findReportAllById" resultMap="ReportResult">
        SELECT
            B.RNUM,
            B.REPORT_CODE,
            B.REPORT_RESPONSE_CODE,
            B.FUNDING_TITLE,
            B.REPORT_DATE,
            B.CATEGORY_NAME,
            B.ANSWERS_STATUS
        FROM(
            SELECT
                ROWNUM RNUM,
                A.REPORT_CODE,
                A.REPORT_RESPONSE_CODE,
                A.FUNDING_TITLE,
                A.REPORT_DATE,
                A.CATEGORY_NAME,
                A.ANSWERS_STATUS
            FROM (
                SELECT
                    TFR.REPORT_CODE,
                    TRR.REPORT_RESPONSE_CODE,
                    F.FUNDING_TITLE,
                    TFR.REPORT_DATE,
                    TC.CATEGORY_NAME,
                    TFR.REPORT_RESP_STATUS ANSWERS_STATUS
                FROM TBL_MEMBER M
                    JOIN TBL_FUNDING_REPORT TFR on M.MEMBER_CODE = TFR.MEMBER_CODE
                    LEFT JOIN TBL_REPORT_RESPONSE TRR ON TFR.REPORT_CODE = TRR.REPORT_CODE
                    JOIN TBL_FUNDING F ON TFR.FUNDING_CODE = F.FUNDING_CODE
                    JOIN TBL_CATEGORY TC on TFR.CATEGORY_CODE = TC.CATEGORY_CODE
                WHERE M.MEMBER_ID = #{userId}
                <if test="cri.status != null">
                    AND TFR.REPORT_RESP_STATUS = #{ cri.status }
                </if>

                ORDER BY TFR.REPORT_DATE DESC
                ) A
             <![CDATA[
                WHERE ROWNUM <= #{ cri.rowEnd }
            ]]>
            ) B
        WHERE B.RNUM >= #{ cri.rowStart }
        ORDER BY 1 ASC
    </select>

    <select id="findSellerInquireById" resultMap="SellerInquireResult">
        SELECT B.RNUM,
            B.SELLER_INQUIRY_CODE,
            B.INQUIRY_TITLE,
            B.INQUIRY_DATE,
            B.ANSWER_STATUS,
            B.CATEGORY_NAME
                FROM (select ROWNUM RNUM,
                A.SELLER_INQUIRY_CODE,
                A.INQUIRY_TITLE,
                A.INQUIRY_DATE,
                A.ANSWER_STATUS,
                A.CATEGORY_NAME
                    from (
                    SELECT
                    TSI.SELLER_INQUIRY_CODE,
                    TSI.INQUIRY_TITLE,
                    TSI.INQUIRY_DATE,
                    TSI.ANSWER_STATUS,
                    TC.CATEGORY_NAME
                        FROM TBL_MEMBER M
                        JOIN TBL_SELLER_INQUIRY TSI on M.MEMBER_CODE = TSI.MEMBER_CODE
                        JOIN TBL_CATEGORY TC on TSI.CATEGORY_CODE = TC.CATEGORY_CODE
                        WHERE M.MEMBER_ID = #{ userId }
                        <include refid="search"/>
                        ORDER BY TSI.INQUIRY_DATE DESC
                    ) A
                        <![CDATA[
                      WHERE ROWNUM <= #{ cri.rowEnd }
                  ]]>
                        ) B
            WHERE B.RNUM >= #{ cri.rowStart }
        ORDER BY 1 ASC
    </select>

    <select id="listCount">
        <if test="name == 'sellerInquire'">
            SELECT
            COUNT(*)
            FROM TBL_MEMBER M
            JOIN TBL_SELLER_INQUIRY TSI on M.MEMBER_CODE = TSI.MEMBER_CODE
            JOIN TBL_CATEGORY TC on TSI.CATEGORY_CODE = TC.CATEGORY_CODE
            WHERE M.MEMBER_ID = #{ userId }
            <include refid="search"/>
        </if>
        <if test="name == 'adminInquire'">
            SELECT
            COUNT(*)
            FROM TBL_MEMBER M
            JOIN TBL_ADMIN_INQUIRIES TAI on M.MEMBER_CODE = TAI.MEMBER_CODE
            JOIN TBL_CATEGORY TC on TAI.CATEGORY_CODE = TC.CATEGORY_CODE
            WHERE M.MEMBER_ID = #{ userId }
            <if test="cri.status != null">
                AND TAI.WHETHER_ANSWER = #{ cri.status }
            </if>
        </if>
        <if test="name == 'report'">
            SELECT
            COUNT(*)
            FROM TBL_MEMBER M
                JOIN TBL_FUNDING_REPORT TFR on M.MEMBER_CODE = TFR.MEMBER_CODE
                LEFT JOIN TBL_REPORT_RESPONSE TRR ON TFR.REPORT_CODE = TRR.REPORT_CODE
                JOIN TBL_FUNDING F ON TFR.FUNDING_CODE = F.FUNDING_CODE
                JOIN TBL_CATEGORY TC on TFR.CATEGORY_CODE = TC.CATEGORY_CODE
            <if test="cri.status != null">
                AND TFR.REPORT_RESP_STATUS = #{ cri.status }
            </if>
        </if>
        <if test="name == 'coupon'">
            SELECT
            COUNT(*)
            FROM TBL_COUPONLIST TCL
                JOIN TBL_MEMBER TM on TCL.MEMBER_CODE = TM.MEMBER_CODE
                JOIN TBL_COUPON TC on TCL.COUPON_CODE = TC.COUPON_CODE
            <if test="cri.status != null">
                AND TCL.COUPON_REGI_STATUS = #{ cri.status }
            </if>
            <if test="cri.order != null">
                AND TCL.COUPON_USE_STATUS = #{ cri.order }
            </if>
        </if>
        <if test="name == 'like'">
            SELECT
                COUNT(*)
            FROM TBL_MEMBER M
                JOIN TBL_LIKE_FUNDING_LIST TLFL ON (M.MEMBER_CODE = TLFL.MEMBER_CODE)
                JOIN TBL_FUNDING F ON (TLFL.FUNDING_CODE = F.FUNDING_CODE)
                LEFT JOIN TBL_FUNDING_FILE TFF ON F.FUNDING_CODE = TFF.FUNDING_CODE
                JOIN TBL_CATEGORY TC on F.CATEGORY_CODE = TC.CATEGORY_CODE
            <if test="cri.searchType != null">
                AND TC.CATEGORY_NAME = #{cri.searchType}
            </if>
        </if>
        <if test="name == 'purchase'">
            SELECT
                COUNT( DISTINCT O.ORDER_CODE)
            FROM TBL_MEMBER M
            LEFT JOIN TBL_PURCHASED_FUNDING_LIST TPFL ON M.MEMBER_CODE = TPFL.MEMBER_CODE
            LEFT JOIN TBL_FUNDING TF on TPFL.FUNDING_CODE = TF.FUNDING_CODE
            LEFT JOIN TBL_FUNDING_FILE TFF ON TF.FUNDING_CODE = TFF.FUNDING_CODE
            LEFT JOIN TBL_ORDER O on M.MEMBER_CODE = O.MEMBER_CODE
            LEFT JOIN TBL_REVIEW TR on M.MEMBER_CODE = TR.MEMBER_CODE
            WHERE M.MEMBER_ID = #{ userId }
            AND TFF.FILE_TYPE='메인'
            <if test="cri.order != null">
                <![CDATA[
                    AND TF.END_DATE < SYSDATE
                ]]>
            </if>
            <choose>
                <when test='"Y".equals(cri.status)'>
                    AND TR.REVIEW_CODE IS NOT NULL
                </when>
                <when test='"N".equals(cri.status) or cri.status == null'>
                    AND TR.REVIEW_CODE IS NULL
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </if>
        <if test="name == 'point'">
            SELECT
                COUNT(*)
            FROM TBL_POINTLIST TP
            JOIN TBL_MEMBER TM on TP.MEMBER_CODE = TM.MEMBER_CODE
            JOiN TBL_ORDER O ON  TP.ORDER_CODE = O.ORDER_CODE
            JOIN TBL_FUNDING TF on TF.FUNDING_CODE = O.FUNDING_CODE
            WHERE TM.MEMBER_ID = #{userId}
            <if test="cri.searchType != null">
                AND TP.POINT_STATUS = #{cri.searchType}
            </if>
        </if>
    </select>

    <update id="updateCouponStatus" parameterType="_int">
        UPDATE TBL_COUPONLIST TCL
        SET TCL.COUPON_REGI_STATUS = 'Y'
        WHERE TCL.COUPONLIST_CODE = #{code}
        AND TCL.COUPON_REGI_STATUS ='N'
    </update>

    <select id="findByOrder" resultMap="OrderFundingResult">
        SELECT
            ROWNUM,
            A.ORDER_CODE,
            A.FUNDING_TITLE,
            A.FUNDING_CODE,
            A.FUNDING_SUMMARY,
            A.OPTION_NAME,
            A.CHANGE_DATE,
            A.FUNDING_STATUS_NAME,
            A.FILE_MODIFICATION_NAME
        FROM
            (SELECT
                 O.ORDER_CODE,
                 TF.FUNDING_CODE,
                 TF.FUNDING_TITLE,
                 TF.FUNDING_SUMMARY,
                 FO.OPTION_NAME,
                 TFS.CHANGE_DATE,
                 TS.FUNDING_STATUS_NAME,
                 TFF.FILE_MODIFICATION_NAME
             FROM TBL_ORDER O
                      JOIN TBL_MEMBER M ON O.MEMBER_CODE = M.MEMBER_CODE
                      LEFT JOIN TBL_FUNDING TF on O.FUNDING_CODE = TF.FUNDING_CODE
                      LEFT JOIN TBL_FUNDING_OPTIONS FO ON O.FUNDING_OPTION_CODE = FO.FUNDING_OPTION_CODE
                      LEFT JOIN TBL_FUNDING_FILE TFF on TF.FUNDING_CODE = TFF.FUNDING_CODE
                      LEFT JOIN TBL_FUNDING_STATUSLIST TFS on TF.FUNDING_CODE = TFS.FUNDING_CODE
                      LEFT JOIN TBL_FUNDING_STATUS TS ON TFS.FUNDING_STATUS_CODE = TS.FUNDING_STATUS_CODE
             WHERE M.MEMBER_ID = #{userId}
               and o.ORDER_CODE = #{orderCode}
             ORDER BY TFS.CHANGE_DATE DESC) A
        WHERE ROWNUM = 1
    </select>

    <select id="findByCredit" resultMap="OrderCreditResult">
        SELECT ROWNUM,
               A.ORDER_PRICE,
               A.COUPONLIST_CODE,
               A.DELIVERY_CHARGE,
               A.PAYMENT_CODE,
               A.CARD_COMPANY,
               A.CARD_NUMBER,
               A.TOTAL_PRICE,
               A.POINT_AMOUNT ,
               A.CREDIT_STATUS,
               A.CREDIT_DATE,
               A.DELIVERY_STATUS,
               A.DELIVERY_DATE,
               A.DELIVERY_NUMBER,
               A.MEMBER_NAME,
               A.MEMBER_PHONE,
               A.MEMBER_CODE,
               A.BASE_ADDRESS,
               A.DETAIL_ADDRESS,
               A.ZIP_CODE
        FROM
            (SELECT
                 O.ORDER_PRICE,
                 NVL(O.COUPONLIST_CODE,0) COUPONLIST_CODE,
                 O.DELIVERY_CHARGE,
                 TC.PAYMENT_CODE,
                 TC.CARD_COMPANY,
                 TC.CARD_NUMBER,
                 TC.TOTAL_PRICE,
                 NVL(DECODE(TP.POINT_STATUS, '사용', TP.POINT_AMOUNT),0) POINT_AMOUNT ,
                 TFC.CREDIT_STATUS,
                 TFC.CREDIT_DATE,
                 T.DELIVERY_STATUS,
\                 TD.DELIVERY_NUMBER,
                 M.MEMBER_NAME,
                 M.MEMBER_PHONE,
                 M.MEMBER_CODE,
                 TA.BASE_ADDRESS,
                 TA.DETAIL_ADDRESS,
                 TA.ZIP_CODE
             FROM TBL_CREDIT TC
                      LEFT JOIN TBL_ORDER O on TC.ORDER_CODE = O.ORDER_CODE
                      LEFT JOIN TBL_MEMBER M ON O.MEMBER_CODE = M.MEMBER_CODE
                      LEFT JOIN TBL_ADDRESS TA on M.MEMBER_CODE = TA.MEMBER_CODE
                      LEFT JOIN TBL_FUNDING_CREDITLIST TFC on TC.PAYMENT_CODE = TFC.PAYMENT_CODE
                      LEFT JOIN TBL_POINTLIST TP ON O.ORDER_CODE = TP.ORDER_CODE
                      LEFT JOIN TBL_DELIVERY TD on TC.PAYMENT_CODE = TD.PAYMENT_CODE
                      LEFT JOIN TBL_DELIVERYLIST T on TD.DELIVERY_CODE = T.DELIVERY_CODE
             WHERE O.ORDER_CODE = #{ orderCode }
               AND TP.POINT_STATUS IS NULL
             ORDER BY T.DELIVERY_DATE DESC
            ) A
        WHERE ROWNUM = 1
    </select>

    <select id="findByPoint" resultMap="memberPointResult">
        SELECT
            B.RNUM,
            B.POINT_DATE,
            B.POINT_AMOUNT,
            B.POINT_STATUS,
            B.ORDER_CODE,
            B.FUNDING_TITLE
        FROM (
            SELECT
                ROWNUM RNUM,
                A.POINT_DATE,
                A.POINT_AMOUNT,
                A.POINT_STATUS,
                A.ORDER_CODE,
                A.FUNDING_TITLE
            FROM (
                SELECT
                    TP.POINT_DATE,
                    TP.POINT_AMOUNT,
                    TP.POINT_STATUS,
                    O.ORDER_CODE,
                    TF.FUNDING_TITLE
                FROM TBL_POINTLIST TP
                    JOIN TBL_MEMBER TM on TP.MEMBER_CODE = TM.MEMBER_CODE
                    JOiN TBL_ORDER O ON  TP.ORDER_CODE = O.ORDER_CODE
                    JOIN TBL_FUNDING TF on TF.FUNDING_CODE = O.FUNDING_CODE
                WHERE TM.MEMBER_ID = #{userId}
                    <if test="cri.searchType != null">
                        AND TP.POINT_STATUS = #{cri.searchType}
                    </if>
                ) A
                <![CDATA[
            WHERE ROWNUM <= #{ cri.rowEnd }
            ]]>
            ) B
        WHERE B.RNUM >= #{ cri.rowStart }
        ORDER BY 1 ASC
    </select>

    <select id="contactCategory" resultMap="contactCategoryResult">
        SELECT
            TC.CATEGORY_CODE,
            TC.CATEGORY_NAME
            FROM TBL_CATEGORY TC
        WHERE TC.CATEGORY_KIND='판매자 문의'
    </select>

    <update id="updateProfile" parameterType="ProfileDTO">
        UPDATE TBL_MEMBER M
        SET M.PROFILE = #{profile}
        WHERE M.MEMBER_ID = #{memberId}
    </update>

    <select id="reviewCount">
        SELECT COUNT(*)
        FROM TBL_REVIEW
            JOIN TBL_FUNDING TF ON TBL_REVIEW.FUNDING_CODE = TF.FUNDING_CODE
            JOIN TBL_MEMBER M ON TBL_REVIEW.MEMBER_CODE = M.MEMBER_CODE
        WHERE m.MEMBER_ID = #{userId}
        AND TF.FUNDING_CODE = #{fundingCode}
    </select>



<!-- 고객 문의사항 쿼리문 ( 답변 여러개중 최신만 가지고 오도록 쿼리짬) -->
    <select id="QnaInqurireAnwser" resultMap="QnaAnwserResult">
        SELECT
            A.CONTACT_SUBJECT,
            A.CONTACT_DETAILS,
            A.DATE_CREATION_INQUIRY,
            A.CATEGORY_NAME,
            A.ANSWER_CONTENT,
            A.ANSWER_DATE,
            A.INQUIRIES_CODE
        FROM
            (SELECT
                 TAI.CONTACT_SUBJECT,
                 TAI.CONTACT_DETAILS,
                 TAI.DATE_CREATION_INQUIRY,
                 TC.CATEGORY_NAME,
                 TAQ.ANSWER_CONTENT,
                 TAQ.ANSWER_DATE,
                 TAI.INQUIRIES_CODE,
                 RANK() OVER (PARTITION BY TAI.INQUIRIES_CODE ORDER BY TAQ.ANSWER_DATE DESC ) AS RECENT
             FROM TBL_ADMIN_INQUIRIES TAI
                      LEFT JOIN TBL_ADMIN_QNA TAQ on TAI.INQUIRIES_CODE = TAQ.INQUIRIES_CODE
                      LEFT JOIN TBL_MEMBER M on TAI.MEMBER_CODE = M.MEMBER_CODE
                      LEFT JOIN TBL_CATEGORY TC on TAI.CATEGORY_CODE = TC.CATEGORY_CODE
             WHERE M.MEMBER_CODE= #{ memberCode }
               AND TAI.INQUIRIES_CODE = #{ id } AND TC.CATEGORY_KIND = '관리자문의'
             ) A WHERE RECENT = 1
    </select>



    <!-- 판매자 문의사항 쿼리문 -->
    <select id="QnaSellerInquire" resultMap="QnaSellerResult">
        SELECT
            A.FUNDING_TITLE,
            A.INQUIRY_TITLE,
            A.INQUIRY_CONTENT,
            A.INQUIRY_DATE,
            A.CATEGORY_NAME,
            A.INQUIRY_ANSWER_CONTENT,
            A.INQUIRY_ANSWER_DATE,
            A.SELLER_INQUIRY_CODE
        FROM
            ( SELECT
                  F.FUNDING_TITLE,
                  SI.INQUIRY_TITLE,
                  SI.INQUIRY_CONTENT,
                  SI.INQUIRY_DATE,
                  TC.CATEGORY_NAME,
                  SA.INQUIRY_ANSWER_CONTENT,
                  SA.INQUIRY_ANSWER_DATE,
                  SI.SELLER_INQUIRY_CODE,
                  RANK() OVER (PARTITION BY SI.SELLER_INQUIRY_CODE ORDER BY SA.INQUIRY_ANSWER_DATE DESC ) AS RECENT
              FROM TBL_SELLER_INQUIRY SI
                       LEFT JOIN TBL_MEMBER M on SI.MEMBER_CODE = M.MEMBER_CODE
                       LEFT JOIN TBL_INQUIRY_ANSWER SA on SI.SELLER_INQUIRY_CODE = SA.SELLER_INQUIRY_CODE
                       LEFT JOIN TBL_CATEGORY TC on SI.CATEGORY_CODE = TC.CATEGORY_CODE
                       LEFT JOIN TBL_FUNDING f on F.FUNDING_CODE = SI.FUNDING_CODE
              WHERE SI.MEMBER_CODE= #{ memberCode }
                AND SI.SELLER_INQUIRY_CODE = #{ id }
            )A WHERE RECENT = 1
    </select>

<!--신고 문의 -->
    <select id="NotifyInquire" resultMap="QnaNotifyResult">
        SELECT
            A.REPORT_TITLE,
            A.REPORT_CONTENT,
            A.REPORT_DATE,
            A.CATEGORY_NAME,
            A.ANSWERS_CONTENT,
            A.ANSWER_DATE
        FROM
            (SELECT
                 FR.REPORT_TITLE,
                 FR.REPORT_CONTENT,
                 FR.REPORT_DATE,
                 TC.CATEGORY_NAME,
                 PP.ANSWERS_CONTENT,
                 PP.ANSWER_DATE,
                 RANK() OVER (PARTITION BY FR.REPORT_CODE ORDER BY PP.ANSWER_DATE DESC ) AS RECENT
             FROM TBL_FUNDING_REPORT FR
                      LEFT JOIN TBL_MEMBER M on FR.MEMBER_CODE = M.MEMBER_CODE
                      LEFT JOIN TBL_REPORT_RESPONSE PP on FR.REPORT_CODE = PP.REPORT_CODE
                      LEFT JOIN TBL_CATEGORY TC on FR.CATEGORY_CODE = TC.CATEGORY_CODE
             WHERE FR.MEMBER_CODE= #{ memberCode }
               AND FR.REPORT_CODE = #{ id }
            )A WHERE RECENT = 1
    </select>


</mapper>