<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{css/seller/jiho/beforefunding.css}">
  <link rel="stylesheet" th:href="@{css/seller/jiho/sellerbutton.css}">
</head>
  <main>
    <section>
      <div class="mainbody">
        <div class="main-container flex-wrapper mainwrap">
          <div class="counttext">
            <div class="content">
              <div>DourBest의</div>
              <div class="value">154792</div>
              <div>번째 펀딩이에요</div>
            </div>
          </div>
        </div>
        <div class="ad mainwrap">
          <h3>현재 실시간 인기 펀딩</h3>
          <div>
            <ul>
              <li><a href="/"><img src="@{}jpg"></a></li>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
            </ul>
          </div>
        </div>
        <div class="sellerbutton">
          <button class="redbutton" onclick="location.href='seller_category.html'">
                            <span>
                                펀딩 신청하기
                            </span>
          </button>
        </div>
        <div class="bottomtext">DourBest에서 건강한 습관을 만들어봐요</div>
      </div>
    </section>
  </main>
<script th:src="@{/js/seller/countAni.js}"></script>
</html>