<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DourBest</title>
  <!-- 폰트어썸 링크 -->
  <script src="https://kit.fontawesome.com/5db9941ba1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" th:href="@{css/header.css}">
  <link rel="stylesheet" th:href="@{css/default.css}">
  <link rel="stylesheet" th:href="@{css/seller/beforefunding.css}">
  <link rel="stylesheet" th:href="@{css/seller/sellerbutton.css}">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>
<body>
<div class="wrapper">
  <!-- 헤더 -->
  <header>
    <div class="header-container flex-wrapper">
      <!-- 헤더 상단 메뉴 -->
      <div class="header-top flex-wrapper">
        <h1>
          <a href="javascript:void(0);">
            <img class="logo" src="../../resources/img/logo.jpeg" alt="DourBest로고">
          </a>
        </h1>
        <div class="header-menu">
          <ul class="flex-wrapper">
            <li><a href="/">펀딩오픈</a></li>
            <li><a href="/">로그인</a></li>
            <li><a href="/">회원가입</a></li>
          </ul>
        </div>
      </div>
      <!-- 헤더 하단 메뉴 -->
      <nav>
        <div class="menu-container flex-wrapper">
          <div class="header-bottom">
            <ul class="flex-wrapper">
              <li><a href="#">오픈펀딩</a></li>
              <li><a href="#">오픈예정펀딩</a></li>
              <li><a href="#">공지사항</a></li>
              <li><a href="#">고객센터</a></li>
              <div class="indicator"></div>
            </ul>
          </div>
          <div class="search-form">
            <form action="" class="flex-wrapper">
              <input type="search" placeholder="Search">
              <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #e54944;"></i></button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- 메인 -->
  <main>
    <section>
      <div class="mainbody">
        <div class="main-container flex-wrapper mainwrap">
          <div class="counttext">
            <div class="content">
              <div>DourBest의</div>
              <div class="value">154792</div>
              <div>번째 펀딩이에요</div>
            </div>
          </div>
        </div>
        <div class="ad mainwrap">
          <h3>현재 실시간 인기 펀딩</h3>
          <div>
            <ul>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
              <li><a href="/"><img src="../../resources/img/toothless.jpg"></a></li>
            </ul>
          </div>
        </div>
        <div class="sellerbutton">
          <button class="redbutton" onclick="location.href='seller_category.html'">
                            <span>
                                펀딩 신청하기
                            </span>
          </button>
        </div>
        <div class="bottomtext">DourBest에서 건강한 습관을 만들어봐요</div>
      </div>
    </section>
  </main>
  <!-- 푸터 -->
  <footer>
    <section></section>
    <section></section>
  </footer>
</div>
<script src="../../resources/js/index.js"></script>
<script src="../js/countAni.js"></script>
</body>
</html>