<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{css/seller/jiho/beforefunding.css}">
  <link rel="stylesheet" th:href="@{css/seller/jiho/sellerbutton.css}">
</head>
  <main>
    <section>
      <div class="mainbody">
        <div class="main-container flex-wrapper mainwrap">
          <div class="counttext">
            <div class="content">
              <div>DourBest의</div>
              <div class="value" th:text="|${imgMap['amount']}|"></div>
              <div>번째 펀딩이에요</div>
            </div>
          </div>
        </div>
        <div class="ad mainwrap">
          <h3>현재 실시간 인기 펀딩</h3>
          <div class="wrapping">
            <div th:each="img : ${imgMap['imgList']}">
              <div class="mainImg"><img th:style="'background-image: url('+@{/fundingImg/}+${img.fileModificationName}+'); background-size: cover'"
                                        th:onclick="|location.href='@{/funding/{code}(code=${img.fundingCode})}'|"></div>
            </div>
          </div>
        </div>
        <div class="sellerbutton">
          <button class="redbutton" th:onclick="|location.href='@{submit/category}'|">
                            <span>
                                펀딩 신청하기
                            </span>
          </button>
        </div>
        <div class="bottomtext">DourBest에서 건강한 습관을 만들어봐요</div>
      </div>
    </section>
  </main>
<script th:src="@{/js/seller/countAni.js}"></script>
</html>