<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="/css/seller/jiho/funding/css">
</head>
  <main>
    <section>
      <div class="fundingpage">
        <div class="top-nav">
          <div>공지사항</div>
          <div>문의사항</div>
          <div> 후기 </div>
          <div>환불 규정</div>
        </div>
        <div class="fundmain">
          <div class="fundleft">
            <div class="photo"></div>
            <div class="underphoto">
              <div>현재</div>
              <div class="red">2172</div>
              <div class="line">명 참여</div>
              <div class="line">54,342,000원</div>
              <div class="red">1027% 달성</div>
            </div>
            <div class="funding">
              <div class="intext">

              </div>
              <input type="checkbox" class="morebutton">
            </div>
          </div>
          <div class="fundright">
            <div class="right-t">
              <div class="cate">
                카테고리
              </div>
              <div class="tag">
                태그
              </div>
            </div>
            <div class="horizon"></div>
            <div class="right-m">
              <div class="title">
                펀딩 이름
              </div>
              <div class="explain">
                펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명 펀딩 설명

              </div>
            </div>
            <div class="horizon"></div>
            <div class="d-day">
              172일 남음
            </div>
            <div class="horizon"></div>
            <div class="person">
              <div class="profile">

              </div>
              <div class="nickname">
                pink spoon
              </div>
            </div>
            <div class="horizon"></div>
            <div class="buy">
              <div class="heart">

              </div>
              <div class="selectbox">
                <select>
                  <option value="basic" selected disabled hidden>옵션 선택</option>
                  <option value="one">1번</option>
                  <option value="two">2번</option>
                  <option value="three">3번</option>
                  <option value="four">4번</option>
                  <option value="five">5번</option>
                  <option value="six">6번</option>
                </select>
              </div>
              <button class="custom-btn btn-7">
                <span>구매하기</span>
              </button>
            </div>
            <div class="opt-scroll">
              <div class="option">
                <div class="opt-top">
                  <div class="opt-title">
                    20,000원
                  </div>
                  <div class="opt-amount">
                    제한 수량 200개
                  </div>
                </div>
                <div class="line"></div>
                <div class="opt-mid">
                  <div class="opt-name">
                    옵션명
                  </div>
                  <div class="opt-info">
                    옵션에 대한 설명입니다.
                    줄 바꿔서 쓰는 것도 가능하게 만들고
                    알아서 내려가게 만들거에요. 아주 좋지요.
                    내가 여기서 더 쓰면 길이는 더 길어지지요.
                  </div>
                  <div class="opt-bot1">
                    <div class="del-price">
                      배송비
                    </div>
                    <div class="del-price1">
                      2500원
                    </div>
                  </div>
                  <div class="opt-bot2">
                    <div class="del-date">
                      배송 시작일
                    </div>
                    <div class="del-date1">
                      yyyy년 MM월 dd일
                    </div>
                  </div>
                </div>
              </div>
              <div class="option">
                <div class="opt-top">
                  <div class="opt-title">
                    20,000원
                  </div>
                  <div class="opt-amount">
                    제한 수량 200개
                  </div>
                </div>
                <div class="line"></div>
                <div class="opt-mid">
                  <div class="opt-name">
                    옵션명
                  </div>
                  <div class="opt-info">
                    옵션에 대한 설명입니다.
                    줄 바꿔서 쓰는 것도 가능하게 만들고
                    알아서 내려가게 만들거에요. 아주 좋지요.
                    내가 여기서 더 쓰면 길이는 더 길어지지요.
                  </div>
                  <div class="opt-bot1">
                    <div class="del-price">
                      배송비
                    </div>
                    <div class="del-price1">
                      2500원
                    </div>
                  </div>
                  <div class="opt-bot2">
                    <div class="del-date">
                      배송 시작일
                    </div>
                    <div class="del-date1">
                      yyyy년 MM월 dd일
                    </div>
                  </div>
                </div>
              </div>
              <div class="option">
                <div class="opt-top">
                  <div class="opt-title">
                    20,000원
                  </div>
                  <div class="opt-amount">
                    제한 수량 200개
                  </div>
                </div>
                <div class="line"></div>
                <div class="opt-mid">
                  <div class="opt-name">
                    옵션명
                  </div>
                  <div class="opt-info">
                    옵션에 대한 설명입니다.
                    줄 바꿔서 쓰는 것도 가능하게 만들고
                    알아서 내려가게 만들거에요. 아주 좋지요.
                    내가 여기서 더 쓰면 길이는 더 길어지지요.
                  </div>
                  <div class="opt-bot1">
                    <div class="del-price">
                      배송비
                    </div>
                    <div class="del-price1">
                      2500원
                    </div>
                  </div>
                  <div class="opt-bot2">
                    <div class="del-date">
                      배송 시작일
                    </div>
                    <div class="del-date1">
                      yyyy년 MM월 dd일
                    </div>
                  </div>
                </div>
              </div>
              <div class="option">
                <div class="opt-top">
                  <div class="opt-title">
                    20,000원
                  </div>
                  <div class="opt-amount">
                    제한 수량 200개
                  </div>
                </div>
                <div class="line"></div>
                <div class="opt-mid">
                  <div class="opt-name">
                    옵션명
                  </div>
                  <div class="opt-info">
                    옵션에 대한 설명입니다.
                    줄 바꿔서 쓰는 것도 가능하게 만들고
                    알아서 내려가게 만들거에요. 아주 좋지요.
                    내가 여기서 더 쓰면 길이는 더 길어지지요.
                  </div>
                  <div class="opt-bot1">
                    <div class="del-price">
                      배송비
                    </div>
                    <div class="del-price1">
                      2500원
                    </div>
                  </div>
                  <div class="opt-bot2">
                    <div class="del-date">
                      배송 시작일
                    </div>
                    <div class="del-date1">
                      yyyy년 MM월 dd일
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fundbot">
          <div class="catext">
            같은 카테고리의 인기 상품
          </div>
          <div class="samecategory">
            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>
            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>
            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>
            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>
            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </section>
  </main>
<script src=""></script>
</html>