<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/seller/jiho/funding.css}">
  <link rel="stylesheet" th:href="@{/css/seller/jiho/modal.css}">
</head>
  <main>
    <section>
      <div class="fundingpage">
        <div class="top-nav">
          <a th:href="@{seller/notice/{code}(code=${fundingCode})}" th:target="_blank">공지사항</a>
          <a th:href="@{seller/question/{code}(code=${fundingCode})}" th:target="_blank">문의사항</a>
          <a th:href="@{seller/review/{code}(code=${fundingCode})}" th:target="_blank">후기</a>
          <a th:href="@{refund/{code}(code=${fundingCode})}" th:target="_blank">환불 규정</a>
        </div>
        <div class="fundmain">
          <div class="fundleft">
            <div class="photo" th:style="'background-image: url('+@{/fundingImg/}+${tossMap['topImg']}+'); background-size: cover'"></div>
            <div class="underphoto">
              <div>현재 &nbsp;</div>
              <div class="red" th:text="${tossMap['funding'].buyNumber}"></div>
              <div class="line">명 참여</div>
              <div class="line" th:text="|판매금액 ${tossMap['funding'].totalRev}원|"></div>
              <div class="red" th:text="|${tossMap['percent']}% 달성|"></div>
            </div>
            <div class="funding">
              <div class="intext" th:utext="${tossMap['funding'].fundingContents}"></div>
              <input type="checkbox" class="morebutton">
            </div>
            <div class="fundReport">
              <div class="report">
                신고하기
              </div>
            </div>
          </div>
          <div class="fundright">
            <div class="right-t">
              <div class="cate" th:text="${tossMap['funding'].categoryName}"></div>
              <div class="tagList" th:each="tag : ${tossMap['tagList']}">
                <div class="tag" th:text="${tag}"></div>
              </div>
            </div>
            <div class="horizon"></div>
            <div class="right-m">
              <div class="title" th:text="${tossMap['funding'].fundingTitle}"></div>
              <div class="explain" th:text="${tossMap['funding'].fundingSummary}"></div>
            </div>
            <div class="horizon"></div>
            <div class="he">
              <div class="d-day" th:text="|${tossMap['remainDate']}일 남음|"></div>
              <div class="heart">
              </div>
            </div>
            <div class="horizon"></div>
            <div class="person">
              <div class="profile">

              </div>
              <div class="nickname" th:text="${tossMap['sellerId']}"></div>
            </div>
            <div class="horizon"></div>
            <div class="buy">

<!--              <div class="selectbox">-->
<!--                <select>-->
<!--                  <option value="basic" selected disabled hidden>옵션 선택</option>-->
<!--                  <option value="one">1번</option>-->
<!--                  <option value="two">2번</option>-->
<!--                  <option value="three">3번</option>-->
<!--                  <option value="four">4번</option>-->
<!--                  <option value="five">5번</option>-->
<!--                  <option value="six">6번</option>-->
<!--                </select>-->
<!--              </div>-->
<!--              <button class="custom-btn btn-7">-->
<!--                <span>구매하기</span>-->
<!--              </button>-->
            </div>
            <div class="opt-scroll">
              <div class="option"  th:each="option : ${tossMap['optionList']}"
                   th:onclick="|location.href='@{/seller/payment/{optionCode}(optionCode=${option.optionCode})}'|">
                <div class="opt-top">
<!--                  <input type="hidden" name="optionCode" id="optionCode" th:value="${option.optionCode}">-->
                  <div class="opt-title" th:text="|${option.optionPrice}원|">
                    20,000원
                  </div>
                  <div class="opt-amount" th:text="|제한 수량 ${option.limitQuantity}|">
                    제한 수량 200개
                  </div>
                </div>
                <div class="line"></div>
                <div class="opt-mid">
                  <div class="opt-name" th:text="${option.optionName}">
                    옵션명
                  </div>
                  <div class="opt-info" th:text="${option.optionContents}">
                    옵션에 대한 설명입니다.
                    줄 바꿔서 쓰는 것도 가능하게 만들고
                    알아서 내려가게 만들거에요. 아주 좋지요.
                    내가 여기서 더 쓰면 길이는 더 길어지지요.
                  </div>
                  <div class="opt-bot1">
                  </div>
                  <div class="opt-bot2">
                    <div class="del-date">
                      배송 시작일
                    </div>
                    <div class="del-date1" th:text="${option.deliverDate}">
                      yyyy년 MM월 dd일
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="option">-->
<!--                <div class="opt-top">-->
<!--                  <div class="opt-title">-->
<!--                    20,000원-->
<!--                  </div>-->
<!--                  <div class="opt-amount">-->
<!--                    제한 수량 200개-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="line"></div>-->
<!--                <div class="opt-mid">-->
<!--                  <div class="opt-name">-->
<!--                    옵션명-->
<!--                  </div>-->
<!--                  <div class="opt-info">-->
<!--                    옵션에 대한 설명입니다.-->
<!--                    줄 바꿔서 쓰는 것도 가능하게 만들고-->
<!--                    알아서 내려가게 만들거에요. 아주 좋지요.-->
<!--                    내가 여기서 더 쓰면 길이는 더 길어지지요.-->
<!--                  </div>-->
<!--                  <div class="opt-bot1">-->
<!--                    <div class="del-price">-->
<!--                      배송비-->
<!--                    </div>-->
<!--                    <div class="del-price1">-->
<!--                      2500원-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="opt-bot2">-->
<!--                    <div class="del-date">-->
<!--                      배송 시작일-->
<!--                    </div>-->
<!--                    <div class="del-date1">-->
<!--                      yyyy년 MM월 dd일-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="option">-->
<!--                <div class="opt-top">-->
<!--                  <div class="opt-title">-->
<!--                    20,000원-->
<!--                  </div>-->
<!--                  <div class="opt-amount">-->
<!--                    제한 수량 200개-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="line"></div>-->
<!--                <div class="opt-mid">-->
<!--                  <div class="opt-name">-->
<!--                    옵션명-->
<!--                  </div>-->
<!--                  <div class="opt-info">-->
<!--                    옵션에 대한 설명입니다.-->
<!--                    줄 바꿔서 쓰는 것도 가능하게 만들고-->
<!--                    알아서 내려가게 만들거에요. 아주 좋지요.-->
<!--                    내가 여기서 더 쓰면 길이는 더 길어지지요.-->
<!--                  </div>-->
<!--                  <div class="opt-bot1">-->
<!--                    <div class="del-price">-->
<!--                      배송비-->
<!--                    </div>-->
<!--                    <div class="del-price1">-->
<!--                      2500원-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="opt-bot2">-->
<!--                    <div class="del-date">-->
<!--                      배송 시작일-->
<!--                    </div>-->
<!--                    <div class="del-date1">-->
<!--                      yyyy년 MM월 dd일-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="option">-->
<!--                <div class="opt-top">-->
<!--                  <div class="opt-title">-->
<!--                    20,000원-->
<!--                  </div>-->
<!--                  <div class="opt-amount">-->
<!--                    제한 수량 200개-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="line"></div>-->
<!--                <div class="opt-mid">-->
<!--                  <div class="opt-name">-->
<!--                    옵션명-->
<!--                  </div>-->
<!--                  <div class="opt-info">-->
<!--                    옵션에 대한 설명입니다.-->
<!--                    줄 바꿔서 쓰는 것도 가능하게 만들고-->
<!--                    알아서 내려가게 만들거에요. 아주 좋지요.-->
<!--                    내가 여기서 더 쓰면 길이는 더 길어지지요.-->
<!--                  </div>-->
<!--                  <div class="opt-bot1">-->
<!--                    <div class="del-price">-->
<!--                      배송비-->
<!--                    </div>-->
<!--                    <div class="del-price1">-->
<!--                      2500원-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="opt-bot2">-->
<!--                    <div class="del-date">-->
<!--                      배송 시작일-->
<!--                    </div>-->
<!--                    <div class="del-date1">-->
<!--                      yyyy년 MM월 dd일-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </div>
        <div class="fundbot">
          <div class="catext">
            같은 카테고리의 인기 상품
            <input type="hidden" name="fundingCode" id="fundingCode" th:value="${ fundingCode }">
            <input type="hidden" name="result" id="result" th:value="${ result }">
            <input type="hidden" name="result1" id="result1" th:value="${ result1 }">
          </div>
          <div class="samecategory">
            <div  th:each="main, stat : ${tossMap['mainImg']}">
              <div class="adimg"><img th:style="'background-image: url('+@{/fundingImg/}+${main.fileModificationName}+'); background-size: cover'"
              th:onclick="|location.href='@{${main.fundingCode}}'|"></div>
            </div>
<!--            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>-->
<!--            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>-->
<!--            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>-->
<!--            <div class="adimg"><img src="../../resources/img/pexels-jane-doan-1099680.jpg" alt=""></div>-->
          </div>
        </div>
        <div class="modal">
          <div class="xbtn"><div class="x">X</div></div>
          <div class="innerBox">
            <small>신고 카테고리를 입력해주세요.</small>
            <div class="reportCate">
              <input type="text" class="catego" placeholder="배송관련, 환불관련, 표절, 욕설 및 범죄, 명예회손"></input>
            </div>
            <div class="reportTitle">
              <input type="text" class="reportitle" placeholder="신고 제목을 입력해주세요.">
            </div>
            <div class="inputText">
              <input class="reportReason" type="text" placeholder="신고 사유를 입력해주세요.">
            </div>
            <div class="modalbot">
              <div class="subm">제출</div>
              <div class="delete">취소</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<script src=""></script>
<script>

  window.onload = function() {

    $('.modal').hide();
    let result = $('#result').val();
    console.log(result);
    if(result == 1) {
      let code = '';
      code += '<svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="-10 -40 512 512" style="fill: pink !important;" width="3.35em">\n' +
              '\n' +
              '                  <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4\n' +
              '                  300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6\n' +
              '                  51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>\n' +
              '                </svg>';
      document.getElementsByClassName('heart')[0].innerHTML += code;
      like.addClass('pink');
      // alert('뭐ㅣㅈ');

    } else if(result == -1) {
      like.removeClass('pink');
      let code = '';
      code += '<svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="-10 -40 512 512" style="fill: pink !important;" width="3.35em">\n' +
              '                  <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8\n' +
              '                  119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2\n' +
              '                  11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1\n' +
              '                  110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0\n' +
              '                  0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256\n' +
              '                  430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1\n' +
              '                  .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>';
      document.getElementsByClassName('heart')[0].innerHTML += code;
      // alert('제대로 들어옴');
    }
  }

  let fundingCode = $('#fundingCode').val();
  let like = $('.heart');
  like.click(function() {
    if(like.hasClass('pink')) {
      $.ajax({
        data : {fundingCode},
        url : "/funding/noLikes",
        type : "POST",
        success : function (data) {
          if(data == 'success'){
            like.removeClass('pink');
            let code = '';
            code += '<svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="-10 -40 512 512" style="fill: pink !important;" width="3.35em">\n' +
                    '                  <path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8\n' +
                    '                  119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2\n' +
                    '                  11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1\n' +
                    '                  110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0\n' +
                    '                  0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256\n' +
                    '                  430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1\n' +
                    '                  .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>';
            document.getElementsByClassName('heart')[0].innerHTML = code;
            // alert(1)
          } else {
            window.location.href = "user/login";
          }
        },
        error : function (error) {
          alert('에러 발생')
        }
      });
    } else {
      $.ajax({
        data : {fundingCode : fundingCode},
        url : "/funding/likes",
        type : "POST",
        success : function (data) {
          if(data == 'success') {
            like.addClass('pink');
            let code = '';
            code += '<svg xmlns="http://www.w3.org/2000/svg" height="3em" viewBox="-10 -40 512 512" style="fill: pink !important;" width="3.35em">\n' +
                    '\n' +
                    '                  <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4\n' +
                    '                  300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6\n' +
                    '                  51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/>\n' +
                    '                </svg>';
            document.getElementsByClassName('heart')[0].innerHTML = code;
            // alert(11)
          } else {
            window.location.href = "user/login";
          }
        },
        error : function (error) {
          alert('에러가 발생')
        }
      });
    }
  })

  $('.report').click(function() {
    $('.modal').show();
  })

  $('.x').click(function() {
    $('.modal').hide();
  })

  $('.delete').click(function() {
    $('.modal').hide();
  })

  $('.subm').click(function() {

      console.log($('#result1').val());
    if($('#result1').val() == -1) {
      alert('이미 신고한 펀딩입니다.')
      $('.modal').hide();
    } else {
      // alert('들어오냐?');

      let category = $('.catego').val();
      let title = $('.reportitle').val();
      let content = $('.reportReason').val();
      let fundingCode = $('#fundingCode').val();

      console.log(category);
      console.log(title);
      console.log(content);
      console.log(fundingCode);

      if ($('.catego').val().trim() !== '') {
        if ($('.reportitle').val().trim() !== '') {
          if ($('.reportReason').val().trim() !== '') {

            $.ajax({
              data: {category: category, title: title, content: content, fundingCode: fundingCode},
              url: "/funding/report",
              type: "POST",
              success: function (data) {
                if (data == '신고 성공') {
                  alert('귀하의 신고가 접수되었습니다.');
                  window.location.reload();
                  // $('.modal').hide();
                  // $('.catego').val('');
                  // $('.reportitle').val('');
                  // $('.reportReason').val('');
                } else if (data == '신고 실패') {
                  alert('카테고리를 잘 작성해주세요');
                } else {
                  window.location.href = "user/login";
                }
              },
              error: function (error) {

              }
            });

          }
          $('.reportReason').focus();
        }
        $('.reportitle').focus();
      }
      $('.catego').focus();

    }

  });

</script>
</html>