<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/seller/jiho/submitpage.css}">
  <link rel="stylesheet" th:href="@{/css/seller/jiho/submitfundinfo.css}">
  <link rel="stylesheet" th:href="@{/css/seller/jiho/sellerbutton.css}">
  <link rel="stylesheet" th:href="@{/css/seller/jiho/noti.css}">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script th:src="@{/js/seller/jquery-ui-1.13.2.custom/jquery-ui.min.js}"></script>
  <script th:src="@{/js/seller/jquery-ui-1.13.2.custom/jquery-ui.min.css}"></script>
</head>
  <!-- 메인 -->
  <main>
    <section>
      <div class="submitpage">
        <div class="stepper">
          <div class="step first active done">
            <div class="circle circle1">
              <span>1</span>
            </div>
            <div class="title">요금제</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step second active editing">
            <div class="circle circle2">
              <span>2</span>
            </div>
            <div class="title">목표금액</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step third active">
            <div class="circle circle3">
              <span>3</span>
            </div>
            <div class="title">펀딩정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step forth active">
            <div class="circle circle4">
              <span>4</span>
            </div>
            <div class="title">상세정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step fifth active">
            <div class="circle circle5">
              <span>5</span>
            </div>
            <div class="title">물품옵션</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step sixth active">
            <div class="circle circle6">
              <span>6</span>
            </div>
            <div class="title">판매자 정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step seventh active">
            <div class="circle circle7">
              <span>7</span>
            </div>
            <div class="title">환불규정</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
        </div>
        <div class="headtext">
          펀딩 기본 정보
        </div>
        <div class="subtext">
          기본 정보를 입력해주세요.
        </div>
        <div class="side">
          <div>
            <form action="/submit/moreinfo" method="post" onsubmit="return check()" enctype="multipart/form-data">
              <input type="hidden" name="planCode" th:value="${planCode}">
              <input type="hidden" name="inputMoney" th:value="${inputMoney}">
              <input type="hidden" name="categoryCode" th:value="${categoryCode}">
              <div class="fundtitle">
                펀딩 제목
              </div>
              <div class="group">
                <input type="text" maxlength="29" required id="comment" name="fundTitle">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>펀딩 제목을 입력해주세요.</label>
              </div>
              <div class="remaintext">
                <span style="padding-left: 5px; margin-top: 2px; font-weight: 700;" id="count">30</span> <!-- 자바 스크립트로 한글자 쓸 때마다 숫자 1 줄이기 -->
                <small>자 남았습니다.</small>
              </div>
              <div class="fundtitle">
                대표 이미지
              </div>
              <div class="subtext1">
                대표 이미지를 업로드 해주세요.
                <div class="sublist">
                  <li>메인으로 걸릴 사진이에요. 신중히 선택해주세요.</li>
                  <li>1200x675 픽셀 이상으로 넣어주세요.</li>
                  <li>판매하실 물건이 가운데에 온 사진으로 넣어주세요.</li>
                </div>
              </div>
              <div class="upload">
                <div class="imgedit">
                  <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" name="mainImg">
                  <label for="imageUpload"></label>
                </div>
                <div class="img-preview">
                  <div id="imagePreview" style="background-image: url(/images/seller/logo.jpeg);">
                  </div>
                </div>
              </div>
              <div class="fundtitle">
                검색용 태그(#)
              </div>
              <div class="group">
                <input type="text" required name="searchTag">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>검색용 태그를 입력해주세요. (예시 태그, 태그, 태그)</label>
              </div>
              <div class="remaintext1">
                <small>최대 10개까지 가능합니다.</small>
              </div>
              <div class="fundtitle">
                펀딩 시작일
              </div>
              <div class="datepick group">
                <input type="text" class="datepicker startdate" name="startDate">
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="remaintext1">
                <small>펀딩 승인까지 최대 5일 걸립니다. 최소 5일 뒤로 선택해주세요.</small>
              </div>
              <div class="fundtitle">
                펀딩 종료일
              </div>
              <div class="datepick group">
                <input type="text" class="datepicker endDate" name="endDate">
                <span class="highlight"></span>
                <span class="bar"></span>
              </div>
              <div class="remaintext1">
                <small>펀딩 승인까지 최대 5일 걸립니다. 최소 5일 뒤로 선택해주세요.</small>
              </div>
              <div class="button6">
                <button class="redbutton" id="button6">
                  <span>
                    저장 및 다음단계
                  </span>
                </button>
              </div>
            </form>
          </div>
          <div class="sidebar">
            <div class="question" th:onclick="|location.href='@{/dourbest/notice}'|">
              <div class="left">
                <div class="small">다워베스트의 고객센터에요!</div>
                <div class="bold">고객 센터</div>
              </div>
              <div class="right">
                <i class="fa-regular fa-phone"></i>
              </div>
            </div>
            <div class="notice" th:onclick="|location.href='@{/dourbest/announcement}'|">
              <div class="left">
                <div class="small">다워베스트의 공지사항 목록</div>
                <div class="bold">공지사항</div>
              </div>
              <div class="right">
                <i class="fa-regular fa-thumbtack"></i>
              </div>
            </div>
            <div class="event" th:onclick="|location.href='@{/dourbest/event}'|">
              <div class="left">
                <div class="small">다워베스트의 이벤트 목록</div>
                <div class="bold">이벤트</div>
              </div>
              <div class="right">
                <i class="fa-regular fa-paper-plane"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<script src=""></script>
<script th:src="@{/js/seller/uploadimg.js}"></script>
<script>
  $('#button6').click(function check() {
    if($('.startdate').val() > $('.endDate').val()) {
      alert('종료일이 시작일보다 빠를 수 없습니다.');
      $('.endDate').focus();
      return false;
    }

    if($('.startdate').val().trim() == '') {
      $('.startdate').focus();
      return false;
    }

    if($('.endDate').val().trim() == '') {
      $('.endDate').focus();
      return false;
    }
    return true;
  })


</script>
</body>
</html>