<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/seller/jiho/submitpage.css}">
  <link rel="stylesheet" th:href="@{/css/seller/jiho/submitproduct.css}">
  <script th:src="@{/js/seller/jquery-ui-1.13.2.custom/jquery-ui.min.js}"></script>
  <script th:src="@{/js/seller/jquery-ui-1.13.2.custom/jquery-ui.min.css}"></script>
</head>
  <!-- 메인 -->
  <main>
    <section>
      <div class="submitpage">
        <div class="stepper">
          <div class="step first active done">
            <div class="circle circle1">
              <span>1</span>
            </div>
            <div class="title">요금제</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step second active editing">
            <div class="circle circle2">
              <span>2</span>
            </div>
            <div class="title">목표금액</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step third active">
            <div class="circle circle3">
              <span>3</span>
            </div>
            <div class="title">펀딩정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step forth active">
            <div class="circle circle4">
              <span>4</span>
            </div>
            <div class="title">상세정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step fifth active">
            <div class="circle circle5">
              <span>5</span>
            </div>
            <div class="title">물품옵션</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step sixth active">
            <div class="circle circle6">
              <span>6</span>
            </div>
            <div class="title">판매자 정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step seventh active">
            <div class="circle circle7">
              <span>7</span>
            </div>
            <div class="title">환불규정</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
        </div>
        <div class="headtext">
          물품옵션 추가하기
        </div>
        <div class="subtext">
          펀딩 물품의 대한 옵션을 추가해주세요.
        </div>
        <div class="submitwrap">
          <div class="option-wrapper">
            <div class="option-title">
              옵션명
            </div>
            <div class="option-sub">
              예시) 초경량 땀 흡수복
            </div>
            <div class="group">
              <input type="text" id="optionName" placeholder="옵션명을 입력해주세요." onKeyUp="javascript: limit(this, 50);">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <span id="count">50</span>
            <small>/50</small>
            <div class="option-title">
              옵션 설명
            </div>
            <div class="fundsummary">
              <textarea name="option-Info" id="option-Info" cols="30" rows="10" placeholder="내용을 입력해주세요." onKeyPress="javascript: if (event.keyCode==13) return false;" onKeyUp="javascript: limit(this, 300);"></textarea>
            </div>
            <span style="padding-left: 5px; margin-top: 2px; font-weight: 700;" id="count1">300</span> <!-- 자바 스크립트로 한글자 쓸 때마다 숫자 1 줄이기 -->
            <small>/300</small>
            <div class="option-title">
              금액
            </div>
            <div class="group">
              <input type="text" id="optionMoney" placeholder="금액을 입력해주세요.">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="option-title">
              사이즈 ◦ 색상
            </div>
            <div class="option-sub">
              사이즈와 색상을 입력해주세요.
            </div>
            <div class="group">
              <input type="text" id="optionSize" placeholder="사이즈를 입력해주세요.">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="option-sub">
              예시) S, M, L
            </div>
            <div class="group">
              <input type="text" id="optionColor" placeholder="색상을 입력해주세요.">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="option-sub">
              예시) 블랙, 네이비, 레드
            </div>
            <div class="option-title">
              제한 수량
            </div>
            <div class="group">
              <input type="text" id="optionSize" placeholder="상품별 제한수량을 입력해주세요.">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="option-title">
              배송비
            </div>
            <div class="option-sub">
              배송이 없는 경우는 0으로 적어주세요.
            </div>
            <div class="group">
              <input type="text" id="optionSize" placeholder="배송비를 입력해주세요.">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="option-title">
              배송 시작 일자
            </div>
            <div class="datepick group">
              <input type="text" class="datepicker" placeholder="배송 시작 일자를 입력해주세요.">
              <span class="highlight"></span>
              <span class="bar"></span>
            </div>
            <div class="buttons">
              <div class="button8">
                <button class="redbutton" id="button8">
                                        <span>
                                            추가하기
                                        </span>
                </button>
              </div>
              <div class="button9">
                <button class="redbutton1" id="button9">
                                        <span>
                                            저장 및 다음단계
                                        </span>
                </button>
              </div>
            </div>
          </div>
          <div class="options">
            <div class="option">
              <div class="opt-top">
                <div class="opt-title">
                  20,000원
                </div>
                <div class="opt-amount">
                  제한 수량 200개
                </div>
              </div>
              <div class="line"></div>
              <div class="opt-mid">
                <div class="opt-name">
                  옵션명
                </div>
                <div class="opt-info">
                  옵션에 대한 설명입니다.
                  줄 바꿔서 쓰는 것도 가능하게 만들고
                  알아서 내려가게 만들거에요. 아주 좋지요.
                  내가 여기서 더 쓰면 길이는 더 길어지지요.
                </div>
                <div class="opt-bot1">
                  <div class="del-price">
                    배송비
                  </div>
                  <div class="del-price1">
                    2500원
                  </div>
                </div>
                <div class="opt-bot2">
                  <div class="del-date">
                    배송 시작일
                  </div>
                  <div class="del-date1">
                    yyyy년 MM월 dd일
                  </div>
                </div>
              </div>
              <div class="opt-bottom">
                <button>삭제하기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</html>