<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{css/seller/jiho/submitpage.css}">
  <link rel="stylesheet" th:href="@{css/seller/jiho/sellerbutton.css}">
</head>
  <main>
    <section>
      <div class="submitpage">
        <!-- stepper -->
        <div class="stepper">
          <div class="step first active done">
            <div class="circle circle1">
              <span>1</span>
            </div>
            <div class="title">요금제</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step second active editing">
            <div class="circle circle2">
              <span>2</span>
            </div>
            <div class="title">목표금액</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step third active">
            <div class="circle circle3">
              <span>3</span>
            </div>
            <div class="title">펀딩정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step forth active">
            <div class="circle circle4">
              <span>4</span>
            </div>
            <div class="title">상세정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step fifth active">
            <div class="circle circle5">
              <span>5</span>
            </div>
            <div class="title">물품옵션</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step sixth active">
            <div class="circle circle6">
              <span>6</span>
            </div>
            <div class="title">판매자 정보</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
          <div class="step seventh active">
            <div class="circle circle7">
              <span>7</span>
            </div>
            <div class="title">환불규정</div>
            <div class="left-bar"></div>
            <div class="right-bar"></div>
          </div>
        </div>
        <div class="info-list">
          <div>
            <div class="listbox1">
              <div class="listtext">
                <div class="title">요금제</div>
                <div class="subtitle">작성 전</div>
                <div class="submitbtn" th:onclick="|location.href='@{submit/plan}'|">작성하기</div>
              </div>
              <div class="redbar"></div>
            </div>
            <div class="listbox">
              <div class="listtext">
                <div class="title">목표금액</div>
                <div class="subtitle">작성 전</div>
                <div class="submitbtn" onclick="location.href='seller_submit_money.html'">작성하기</div>
              </div>
              <div class="redbar"></div>
            </div>
            <div class="listbox">
              <div class="listtext">
                <div class="title">펀딩정보</div>
                <div class="subtitle">작성 전</div>
                <div class="submitbtn" onclick="location.href='seller_submit_fundinfo.html'">작성하기</div>
              </div>
              <div class="redbar"></div>
            </div>
            <div class="listbox">
              <div class="listtext">
                <div class="title">상세정보</div>
                <div class="subtitle">작성 전</div>
                <div class="submitbtn">작성하기</div>
              </div>
              <div class="redbar"></div>
            </div>
            <div class="listbox">
              <div class="listtext">
                <div class="title">물품옵션</div>
                <div class="subtitle">작성 전</div>
                <div class="submitbtn">작성하기</div>
              </div>
              <div class="redbar"></div>
            </div>
            <div class="listbox">
              <div class="listtext">
                <div class="title">판매자 정보</div>
                <div class="subtitle">작성 전</div>
                <div class="submitbtn">작성하기</div>
              </div>
              <div class="redbar"></div>
            </div>
            <div class="listbox">
              <div class="listtext">
                <div class="title">환불 규정</div>
                <div class="subtitle">작성 전</div>
                <div class="submitbtn">작성하기</div>
              </div>
              <div class="redbar"></div>
            </div>
            <div class="button3">
              <button class="redbutton" id="button3">
                <span>
                  제출하기
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
<script src=""></script>
</html>