<!DOCTYPE html>
<html th:fragment="layout (content, links, scripts)" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>DourBest</title>
  <link rel="stylesheet" th:href="@{/css/common/header.css}">
  <link th:href="@{/css/main/default1.css}" rel="stylesheet" />
  <link th:href="@{/css/common/footer.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <th:block th:replace="${links}" />
  <script src="https://kit.fontawesome.com/5db9941ba1.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- 추가-->

</head>
<body>
<div class="wrapper">
  <header th:replace="/fragments/noticeHeader :: headerFragment"></header>

  <div th:replace="${content}">
    <p>레이아웃 컨텐츠</p>
  </div>

  <footer th:replace="/fragments/footer :: footerFragment"></footer>
</div>

<th:block th:replace="${scripts}" />
<script th:src="@{/js/common/main.js}"></script>
</body>
</html>