<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.main.model.dao.MainMapper">

    <resultMap id="CategoryFundingResultMap" type="CategoryFundingDTO">
        <id property="fundingCode" column="FUNDING_CODE"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="fundingSummary" column="FUNDING_SUMMARY"/>
        <result property="views" column="VIEWS"/>
        <result property="likes" column="LIKES"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="fundingGoalMoney" column="FUNDING_GOAL_MONEY"/>
        <result property="categoryCode" column="FUNDING_GOAL_MONEY"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="filePath" column="FILE_MODIFICATION_NAME"/>
    </resultMap>

    <resultMap id="SlideFileMap" type="LikeFundingDTO">
        <id property="fundingCode" column="FUNDING_CODE"/>
        <result property="rowNum" column="RNUM"/>
        <result property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="fundingSummary" column="FUNDING_SUMMARY"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="filePath" column="FILE_MODIFICATION_NAME"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <!--        <collection property="likeFundingList" resultMap="LikeFundingResultMap"/>-->
    </resultMap>


    <!--  메인이미지 슬라이드 쿼리문 업로드 날짜 순으로 표시 리미트 8개    -->
    <!--        <select id="getSlideImages" resultMap="fundingFileDTO">-->
    <!--         SELECT-->
    <!--                 FILE_MODIFICATION_NAME-->
    <!--                FROM TBL_FUNDING_FILE;-->
    <!--                WHERE FILE_TYPE = '메인'-->
    <!--             ORDER BY UPLOAD_DATE DESC-->
    <!--                LIMIT 8-->
    <!--         </select>-->


    <select id="getSlideImages" resultMap="SlideFileMap">
        SELECT
        ROWNUM RNUM,
        B.FUNDING_CODE,
        B.FUNDING_TITLE,
        B.FUNDING_SUMMARY,
        B.FILE_MODIFICATION_NAME
        FROM
        (SELECT
        A.FUNDING_CODE,
        A.FUNDING_TITLE,
        A.FUNDING_SUMMARY,
        A.FILE_MODIFICATION_NAME
        FROM (
        SELECT
        F.FUNDING_CODE,
        F.FUNDING_TITLE,
        F.FUNDING_SUMMARY,
        TFF.FILE_MODIFICATION_NAME,
        RANK() OVER (PARTITION BY FSL.FUNDING_CODE ORDER BY FSL.CHANGE_DATE DESC ) AS RECENT
        FROM TBL_FUNDING F
        JOIN TBL_FUNDING_FILE TFF ON F.FUNDING_CODE = TFF.FUNDING_CODE
        JOIN TBL_FUNDING_STATUSLIST FSL ON F.FUNDING_CODE = FSL.FUNDING_CODE
        JOIN TBL_FUNDING_STATUS FSS ON FSS.FUNDING_STATUS_CODE = FSL.FUNDING_STATUS_CODE
        WHERE  TFF.FILE_TYPE='메인' AND FSS.FUNDING_STATUS_NAME = '승인완료'
        ORDER BY F.APPLICATION_DATE DESC
        )A WHERE RECENT = 1)B
        <![CDATA[
        WHERE ROWNUM <= 8
                ]]>
    </select>

    <select id="ToplikeFundings" resultMap="SlideFileMap">
        SELECT
            ROWNUM RNUM,
            B.FUNDING_CODE,
            B.FUNDING_TITLE,
            B.FUNDING_SUMMARY,
            B.FILE_MODIFICATION_NAME
        FROM
            (SELECT
                 A.FUNDING_CODE,
                 A.FUNDING_TITLE,
                 A.FUNDING_SUMMARY,
                 A.FILE_MODIFICATION_NAME
             FROM (
                      SELECT
                          F.FUNDING_CODE,
                          F.FUNDING_TITLE,
                          F.FUNDING_SUMMARY,
                          TFF.FILE_MODIFICATION_NAME,
                          RANK() OVER (PARTITION BY FSL.FUNDING_CODE ORDER BY FSL.CHANGE_DATE DESC ) AS RECENT
                      FROM TBL_FUNDING F
                               JOIN TBL_FUNDING_FILE TFF ON F.FUNDING_CODE = TFF.FUNDING_CODE
                               JOIN TBL_FUNDING_STATUSLIST FSL ON F.FUNDING_CODE = FSL.FUNDING_CODE
                               JOIN TBL_FUNDING_STATUS FSS ON FSS.FUNDING_STATUS_CODE = FSL.FUNDING_STATUS_CODE
                      WHERE  TFF.FILE_TYPE='메인' AND FSS.FUNDING_STATUS_NAME = '승인완료'
                      ORDER BY F.LIKES DESC
                  )A WHERE RECENT = 1)B
        <![CDATA[
        WHERE ROWNUM <= 5
        ]]>
    </select>


    <select id="OpenFundings" resultMap="SlideFileMap">
        SELECT
            ROWNUM RNUM,
            B.FUNDING_CODE,
            B.FUNDING_TITLE,
            B.FUNDING_SUMMARY,
            B.FILE_MODIFICATION_NAME
        FROM
            (SELECT
                 A.FUNDING_CODE,
                 A.FUNDING_TITLE,
                 A.FUNDING_SUMMARY,
                 A.FILE_MODIFICATION_NAME
             FROM (
                      SELECT
                          F.FUNDING_CODE,
                          F.FUNDING_TITLE,
                          F.FUNDING_SUMMARY,
                          TFF.FILE_MODIFICATION_NAME,
                          RANK() OVER (PARTITION BY FSL.FUNDING_CODE ORDER BY FSL.CHANGE_DATE DESC ) AS RECENT
                      FROM TBL_FUNDING F
                               JOIN TBL_FUNDING_FILE TFF ON F.FUNDING_CODE = TFF.FUNDING_CODE
                               JOIN TBL_FUNDING_STATUSLIST FSL ON F.FUNDING_CODE = FSL.FUNDING_CODE
                               JOIN TBL_FUNDING_STATUS FSS ON FSS.FUNDING_STATUS_CODE = FSL.FUNDING_STATUS_CODE
                      WHERE  TFF.FILE_TYPE='메인' AND FSS.FUNDING_STATUS_NAME = '승인완료'
                       <![CDATA[
                        AND (F.START_DATE - TRUNC(SYSDATE)) < 7
                        ]]>
                      ORDER BY (F.START_DATE - TRUNC(SYSDATE))
                  )A WHERE RECENT = 1)B
        <![CDATA[
        WHERE ROWNUM <= 5
        ]]>
    </select>


    <select id="EndFundings" resultMap="SlideFileMap">
        SELECT
            ROWNUM RNUM,
            B.END_DATE,
            B.FUNDING_CODE,
            B.FUNDING_TITLE,
            B.FUNDING_SUMMARY,
            B.FILE_MODIFICATION_NAME
        FROM
            (SELECT
                 A.END_DATE,
                 A.FUNDING_CODE,
                 A.FUNDING_TITLE,
                 A.FUNDING_SUMMARY,
                 A.FILE_MODIFICATION_NAME
             FROM (
                      SELECT
                          F.END_DATE,
                          F.FUNDING_CODE,
                          F.FUNDING_TITLE,
                          F.FUNDING_SUMMARY,
                          TFF.FILE_MODIFICATION_NAME,
                          RANK() OVER (PARTITION BY FSL.FUNDING_CODE ORDER BY FSL.CHANGE_DATE DESC ) AS RECENT
                      FROM TBL_FUNDING F
                               JOIN TBL_FUNDING_FILE TFF ON F.FUNDING_CODE = TFF.FUNDING_CODE
                               JOIN TBL_FUNDING_STATUSLIST FSL ON F.FUNDING_CODE = FSL.FUNDING_CODE
                               JOIN TBL_FUNDING_STATUS FSS ON FSS.FUNDING_STATUS_CODE = FSL.FUNDING_STATUS_CODE
                      WHERE  TFF.FILE_TYPE='메인' AND FSS.FUNDING_STATUS_NAME = '승인완료'
                        <![CDATA[
                        AND (F.END_DATE - TRUNC(SYSDATE)) < 7
                        ]]>
                      ORDER BY (F.END_DATE - TRUNC(SYSDATE))
            )A WHERE RECENT = 1)B
        <![CDATA[
        WHERE ROWNUM <= 5
        ]]>
    </select>

    <select id="fundingCategory" resultMap="CategoryFundingResultMap">
        SELECT
            B.RNUM,
            B.FUNDING_CODE,
            B.FUNDING_TITLE,
            B.FUNDING_SUMMARY,
            B.APPLICATION_DATE,
            B.START_DATE,
            B.FUNDING_GOAL_MONEY,
            B.END_DATE,
            B.LIKES,
            B.VIEWS,
            B.CATEGORY_CODE,
            B.CATEGORY_NAME,
            B.FILE_MODIFICATION_NAME,
            B.FUNDING_STATUS_NAME,
            B.CHANGE_DATE
        FROM
            (SELECT
                ROWNUM RNUM,
                A.FUNDING_CODE,
                A.FUNDING_TITLE,
                A.FUNDING_SUMMARY,
                A.APPLICATION_DATE,
                A.START_DATE,
                A.FUNDING_GOAL_MONEY,
                A.END_DATE,
                A.LIKES,
                A.VIEWS,
                A.CATEGORY_CODE,
                A.CATEGORY_NAME,
                A.FILE_MODIFICATION_NAME,
                A.FUNDING_STATUS_NAME,
                A.CHANGE_DATE
            FROM(
                SELECT TF.FUNDING_CODE,
                    TF.FUNDING_TITLE,
                    TF.FUNDING_SUMMARY,
                    TF.APPLICATION_DATE,
                    TF.START_DATE,
                    TF.FUNDING_GOAL_MONEY,
                    TF.END_DATE,
                    TF.LIKES,
                    TF.VIEWS,
                    TC.CATEGORY_CODE,
                    TC.CATEGORY_NAME,
                    TFF.FILE_MODIFICATION_NAME,
                    T.FUNDING_STATUS_NAME,
                    TFS.CHANGE_DATE
                FROM TBL_FUNDING TF
                    LEFT JOIN TBL_CATEGORY TC on TF.CATEGORY_CODE = TC.CATEGORY_CODE
                    LEFT JOIN TBL_FUNDING_FILE TFF on TF.FUNDING_CODE = TFF.FUNDING_CODE
                    LEFT JOIN TBL_FUNDING_STATUSLIST TFS on TF.FUNDING_CODE = TFS.FUNDING_CODE
                    LEFT JOIN TBL_FUNDING_STATUS T on TFS.FUNDING_STATUS_CODE = T.FUNDING_STATUS_CODE
                WHERE TFF.FILE_TYPE = '메인'
                AND T.FUNDING_STATUS_NAME='승인완료'
                <if test="cri.searchType != null">
                    AND TC.CATEGORY_NAME = #{cri.searchType}
                </if>
                <choose>
                    <when test="'view'.equals(cri.status)">
                        ORDER BY TF.VIEWS DESC
                    </when>
                    <when test="'like'.equals(cri.status)">
                        ORDER BY TF.LIKES DESC
                    </when>
                    <otherwise>
                        ORDER BY TF.START_DATE DESC
                    </otherwise>
                </choose>
                ) A
            <![CDATA[
                 WHERE ROWNUM <= #{ cri.rowEnd }
            ]]>
            AND A.FUNDING_STATUS_NAME='승인완료'
            ) B
        <![CDATA[WHERE B.RNUM >= #{ cri.rowStart }]]>
        ORDER BY 1 ASC
    </select>

    <select id="openFundingCate" resultMap="CategoryFundingResultMap">
        SELECT
            B.RNUM,
            B.FUNDING_CODE,
            B.FUNDING_TITLE,
            B.FUNDING_SUMMARY,
            B.APPLICATION_DATE,
            B.START_DATE,
            B.FUNDING_GOAL_MONEY,
            B.END_DATE,
            B.LIKES,
            B.VIEWS,
            B.CATEGORY_CODE,
            B.CATEGORY_NAME,
            B.FILE_MODIFICATION_NAME,
            B.FUNDING_STATUS_NAME,
            B.CHANGE_DATE
        FROM
            (SELECT
                ROWNUM RNUM,
                A.FUNDING_CODE,
                A.FUNDING_TITLE,
                A.FUNDING_SUMMARY,
                A.APPLICATION_DATE,
                A.START_DATE,
                A.FUNDING_GOAL_MONEY,
                A.END_DATE,
                A.LIKES,
                A.VIEWS,
                A.CATEGORY_CODE,
                A.CATEGORY_NAME,
                A.FILE_MODIFICATION_NAME,
                A.FUNDING_STATUS_NAME,
                A.CHANGE_DATE
            FROM(
                SELECT TF.FUNDING_CODE,
                    TF.FUNDING_TITLE,
                    TF.FUNDING_SUMMARY,
                    TF.APPLICATION_DATE,
                    TF.START_DATE,
                    TF.FUNDING_GOAL_MONEY,
                    TF.END_DATE,
                    TF.LIKES,
                    TF.VIEWS,
                    TC.CATEGORY_CODE,
                    TC.CATEGORY_NAME,
                    TFF.FILE_MODIFICATION_NAME,
                    T.FUNDING_STATUS_NAME,
                    TFS.CHANGE_DATE
                FROM TBL_FUNDING TF
                    LEFT JOIN TBL_CATEGORY TC on TF.CATEGORY_CODE = TC.CATEGORY_CODE
                    LEFT JOIN TBL_FUNDING_FILE TFF on TF.FUNDING_CODE = TFF.FUNDING_CODE
                    LEFT JOIN TBL_FUNDING_STATUSLIST TFS on TF.FUNDING_CODE = TFS.FUNDING_CODE
                    LEFT JOIN TBL_FUNDING_STATUS T on TFS.FUNDING_STATUS_CODE = T.FUNDING_STATUS_CODE
                WHERE TFF.FILE_TYPE = '메인'
                AND T.FUNDING_STATUS_NAME='펀딩 진행중'
                <if test="cri.searchType != null">
                    AND TC.CATEGORY_NAME = #{cri.searchType}
                </if>
                <choose>
                    <when test="'view'.equals(cri.status)">
                        ORDER BY TF.VIEWS DESC
                    </when>
                    <when test="'like'.equals(cri.status)">
                        ORDER BY TF.LIKES DESC
                    </when>
                    <otherwise>
                        ORDER BY TF.START_DATE DESC
                    </otherwise>
                </choose>
                ) A
            <![CDATA[
                 WHERE ROWNUM <= #{ cri.rowEnd }
            ]]>
            ) B
        <![CDATA[WHERE B.RNUM >= #{ cri.rowStart }]]>
        ORDER BY 1 ASC
    </select>

    <select id="listCount">
        <if test="name == 'pre'">
            SELECT
            COUNT(*)
            FROM TBL_FUNDING TF
            LEFT JOIN TBL_CATEGORY TC on TF.CATEGORY_CODE = TC.CATEGORY_CODE
            LEFT JOIN TBL_FUNDING_FILE TFF on TF.FUNDING_CODE = TFF.FUNDING_CODE
            LEFT JOIN TBL_FUNDING_STATUSLIST TFS on TF.FUNDING_CODE = TFS.FUNDING_CODE
            LEFT JOIN TBL_FUNDING_STATUS T on TFS.FUNDING_STATUS_CODE = T.FUNDING_STATUS_CODE
            WHERE TFF.FILE_TYPE = '메인'
            AND T.FUNDING_STATUS_NAME='승인완료'
            <if test="cri.searchType != null">
                AND TC.CATEGORY_NAME = #{cri.searchType}
            </if>
            <choose>
                <when test="'view'.equals(cri.status)">
                    ORDER BY TF.VIEWS DESC
                </when>
                <when test="'like'.equals(cri.status)">
                    ORDER BY TF.LIKES DESC
                </when>
                <otherwise>
                    ORDER BY TF.START_DATE DESC
                </otherwise>
            </choose>
        </if>
        <if test="name == 'open'">
            SELECT
            COUNT(*)
            FROM TBL_FUNDING TF
            LEFT JOIN TBL_CATEGORY TC on TF.CATEGORY_CODE = TC.CATEGORY_CODE
            LEFT JOIN TBL_FUNDING_FILE TFF on TF.FUNDING_CODE = TFF.FUNDING_CODE
            LEFT JOIN TBL_FUNDING_STATUSLIST TFS on TF.FUNDING_CODE = TFS.FUNDING_CODE
            LEFT JOIN TBL_FUNDING_STATUS T on TFS.FUNDING_STATUS_CODE = T.FUNDING_STATUS_CODE
            WHERE TFF.FILE_TYPE = '메인'
            AND T.FUNDING_STATUS_NAME='펀딩 진행중'
            <if test="cri.searchType != null">
                AND TC.CATEGORY_NAME = #{cri.searchType}
            </if>
            <choose>
                <when test="'view'.equals(cri.status)">
                    ORDER BY TF.VIEWS DESC
                </when>
                <when test="'like'.equals(cri.status)">
                    ORDER BY TF.LIKES DESC
                </when>
                <otherwise>
                    ORDER BY TF.START_DATE DESC
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="openSlide" resultMap="SlideFileMap">
        SELECT
            FF.FILE_MODIFICATION_NAME,
            TF.FUNDING_CODE,
            TF.FUNDING_TITLE,
            tf.FUNDING_SUMMARY
        FROM TBL_FUNDING_FILE FF
                 JOIN TBL_FUNDING TF ON(FF.FUNDING_CODE = TF.FUNDING_CODE)
                 JOIN TBL_FUNDING_STATUSLIST FSL ON(FF.FUNDING_CODE = FSL.FUNDING_CODE)
        WHERE FSL.FUNDING_STATUS_CODE = 2
          AND FF.FILE_TYPE = '메인'
          AND (SYSDATE - TF.START_DATE) > 0
          AND (TF.END_DATE - SYSDATE) > 0
          AND TF.PLAN_CODE = 2
    </select>

    <select id="preOpenSlide" resultMap="SlideFileMap">
        SELECT
        FF.FILE_MODIFICATION_NAME,
        TF.FUNDING_CODE,
        TF.FUNDING_TITLE,
        tf.FUNDING_SUMMARY
        FROM TBL_FUNDING_FILE FF
        JOIN TBL_FUNDING TF ON(FF.FUNDING_CODE = TF.FUNDING_CODE)
        JOIN TBL_FUNDING_STATUSLIST FSL ON(FF.FUNDING_CODE = FSL.FUNDING_CODE)
        WHERE FSL.FUNDING_STATUS_CODE = 2
        AND FF.FILE_TYPE = '메인'
        <![CDATA[
          AND (SYSDATE - TF.START_DATE) < 0
           ]]>
        AND TF.PLAN_CODE = 2
    </select>

</mapper>





