<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}">
<head>
    <link rel="stylesheet" th:href="@{/css/main/item-card.css}">
    <link rel="stylesheet" th:href="@{/css/main/submenu.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}"  />
</head>
<main>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script th:src="@{/js/common/swiper.js}"></script>
</main>
</html>