<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/main/item-card.css}">
  <link rel="stylesheet" th:href="@{/css/main/submenu.css}">
  <link rel="stylesheet" th:href="@{/css/main/main.css}"/>
</head>
<main>
  <!-- 슬라이드 부분 -->
  <section>
    <!-- Swiper -->
    <div class="main-slider">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" th:each=" slideImage  : ${ slideImages }">
              <a th:href="|@{/funding/} + ${ slideImage.getFundingCode() }">
              <img th:src="@{/fundingImg/} + ${ slideImage.getFilePath() }" >
                <div>
                  <div class="summary">
                    <p  class="summary-title" th:text="${ slideImage.getFundingTitle() }"></p>
                    <p th:text="${ slideImage.getFundingSummary() }"></p>
                  </div>
                </div>
              </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- 메인 리스트 -->
  <section>
    <div class="list-container">
      <div class="list-wrpper">
        <h2>TOP 펀딩</h2>
          <div class="item-cards">
              <div class="item card" th:each="topLike , stat : ${ topLikeFunding }" th:classappend="${ stat.count } == 1 ? 'item-1'">
                  <a th:href="|@{/funding/} + ${ topLike.getFundingCode() }|">
                      <div class="thumb" th:style="'background-image: url('+@{/fundingImg/} + ${ topLike.getFilePath() }+')'" >
<!--                          <img th:src="@{/fundingImg/} + ${ topLike.getFilePath() }">-->
                      </div>
                      <article>
                          <h1 th:text="${topLike.fundingTitle}"></h1>
                          <p th:text="${topLike.fundingSummary}"></p>
                          <!--                <span>content1</span>-->
                      </article>
                  </a>
              </div>
          </div>
      </div>
    </div>
  </section>
  <section>
    <div class="main-banner">
      <h2>배너 영역</h2>
      <div class="banner-inner">
<!--          <video muted autoplay loop>-->
<!--          <source src="videos/yoga.mp4" type="video/mp4">-->
<!--          </video>-->
        <h3 class="title">VIP 가입</h3>
          <div class="desc">
            <p>
              VIP가입으로 무료배송의 혜택을 받으세요!
            </p>
            </p>
            <a th:href="|@{/membership}|" title="">VIP 가입하기</a>
            <span class="small"></span>
          </div>

      </div>
    </div>
  </section>
  <section>
    <div class="funding">
      <h2>오픈예정 펀딩</h2>
      <div class="swiper swiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide" th:each=" open : ${ openFundings }">
            <div class="item-wrapper">
              <a th:href="|@{/funding/} + ${ open.getFundingCode() }" class="item">
                <div class="item-thumb" th:style="'background-image: url('+@{/fundingImg/} + ${ open.getFilePath() }+')'">
                </div>
                <article>
                  <h1 th:text="${ open.getFundingTitle() }"></h1>
                  <p th:text="${ open.getFundingSummary() }"></p>
                  <span th:text="${ #dates.format(open.getStartDate(), 'yyyy-MM-dd')}">content5</span>
                </article>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </section>
  <section>
    <div class="main-banner">
      <h2>배너 영역</h2>
      <div class="banner-inner">
        <h3 class="title">판매자 신청</h3>
        <p class="desc">판매자로 펀딩을 시작해보세요!</p>
        <a href="/" title="">판매자 신청</a>
        <span class="small"></span>
      </div>
    </div>
  </section>
  <section>
    <div class="funding">
      <h2>마감예정 펀딩</h2>
      <div class="swiper swiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide" th:each=" end : ${ endFundings }">
            <div class="item" >
              <a th:href="|@{/funding/} + ${ end.getFundingCode() }" class="card">
                <div class="item-thumb" th:style="'background-image: url('+@{/fundingImg/} + ${ end.getFilePath() }+')'">
            </div>
                <article>
                  <h1 th:text="${ end.getFundingTitle() }"></h1>
                  <p th:text="${ end.getFundingSummary() }"></p>
                  <span th:text="${ #dates.format(end.getEndDate(), 'yyyy-MM-dd')}">content5</span>
                </article>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script th:src="@{/js/common/swiper.js}"></script>

</html>