<!DOCTYPE html>
<html th:replace="~{/layouts/noticeBase :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <link rel="stylesheet" th:href="@{/css/main/noticeEvent.css}">
<!--  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>-->
<!--  <script src="../../resources/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>-->
<!--  <script src="../../resources/jquery-ui-1.13.2.custom/jquery-ui.min.css"></script>-->
</head>
<body>
<div class="wrapper">
  <main>
    <section>
      <div class="topbody">
        <div class="box1"></div>
        <div class="box2"></div>
      </div>
      <div>
        <span class="notice">공지사항</span>
        <span class="subnotice">다워베스트의 업데이트 정보 등 다양한 소식을 알려드려요.</span>
      </div>
      <div class="mainbody">
        <div class="buttons">
          <div>
            <button class="noticebtn">공지사항</button>
            <button class="eventbtn">진행 중인 이벤트</button>
            <button class="endbtn">종료된 이벤트</button>
          </div>
        </div>
        <div class="board_list_wrap noticelist">
          <div class="board_list">
            <div class="top">
              <div class="num">번호</div>
              <div class="title">제목</div>
              <div class="writer">카테고리</div>
              <div class="date">날짜</div>
              <!-- <div class="count"></div> -->
            </div>
            <div th:each="notice, stat : ${noticeList}">
              <div class="num" th:text="${stat.count}"></div>
              <div class="title"><a th:href="@{/dourbest/announcement/{code}(code=${notice.noticeCode})}" th:text="${notice.noticeTitle}"></a></div>
              <div class="writer">공지사항</div>
              <div class="date" th:text="${#dates.format(notice.regiDate, 'yyyy/MM/dd')}"></div>
              <!-- <div class="count">상세조회?</div> -->
            </div>
          </div>

          <div class="board_page">
            <a href="#" class="bt first"></a>
            <a href="#" class="bt prev"></a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num">5</a>
            <a href="#" class="bt next">></a>
            <a href="#" class="bt last">>></a>
          </div>
        </div>
        <div class="board_list_wrap eventlist">
          <div class="board_list">
            <div class="top">
              <div class="num">번호</div>
              <div class="title">제목</div>
              <div class="writer">카테고리</div>
              <div class="date">종료날짜</div>
              <!-- <div class="count"></div> -->
            </div>
            <div th:each="event, stat : ${ eventList }">
              <div class="num" th:text="${stat.count}"></div>
              <div class="title"><a th:href="@{/dourbest/event/{code}(code=${event.eventCode})}" th:text="${event.eventTitle}"></a></div>
              <div class="writer">이벤트</div>
              <div class="date" th:text="|${#dates.format(event.endDate, 'yy/MM/dd')}|"></div>
              <!-- <div class="count">상세조회?</div> -->
            </div>
          </div>

          <div class="board_page">
            <a href="#" class="bt first"></a>
            <a href="#" class="bt prev"></a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num">5</a>
            <a href="#" class="bt next">></a>
            <a href="#" class="bt last">>></a>
          </div>
        </div>
        <div class="board_list_wrap endEvent">
          <div class="board_list">
            <div class="top">
              <div class="num">번호</div>
              <div class="title">제목</div>
              <div class="writer">카테고리</div>
              <div class="date">종료날짜</div>
              <!-- <div class="count"></div> -->
            </div>
            <div th:each="end, stat : ${ endEvent }">
              <div class="num" th:text="${stat.count}"></div>
              <div class="title"><a th:href="@{/dourbest/event/{code}(code=${end.eventCode})}" th:text="${end.eventTitle}"></a></div>
              <div class="writer">이벤트</div>
              <div class="date" th:text="|${#dates.format(end.endDate, 'yyyy/MM/dd')}|"></div>
              <!-- <div class="count">상세조회?</div> -->
            </div>
          </div>

          <div class="board_page">
            <a href="#" class="bt first"></a>
            <a href="#" class="bt prev"></a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num">5</a>
            <a href="#" class="bt next">></a>
            <a href="#" class="bt last">>></a>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
<script src=""></script>
<script>

  window.onload(
          $('.noticebtn').css('color', 'snow'),
          $('.noticebtn').css('background', '#f35f4c'),
          $('.eventlist').hide(),
          $('.endEvent').hide(),

          $('.noticebtn').click(function(){
            $('.eventlist').hide();
            $('.endEvent').hide();
            $('.noticelist').show();
            $('.noticebtn').css('color', 'snow');
            $('.noticebtn').css('background', '#f35f4c');
            $('.eventbtn').css('color', 'black');
            $('.eventbtn').css('background', 'rgb(230, 230, 230)');
            $('.endbtn').css('color', 'black');
            $('.endbtn').css('background', 'rgb(230, 230, 230)');
          }),

          $('.eventbtn').click(function(){
            $('.noticelist').hide();
            $('.eventlist').show();
            $('.endEvent').hide();
            $('.noticebtn').css('color', 'black');
            $('.noticebtn').css('background', 'rgb(230, 230, 230)');
            $('.eventbtn').css('color', 'snow');
            $('.eventbtn').css('background', '#f35f4c');
            $('.endbtn').css('color', 'black');
            $('.endbtn').css('background', 'rgb(230, 230, 230)');
          }),

          $('.endbtn').click(function() {
            $('.noticelist').hide();
            $('.eventlist').hide();
            $('.endEvent').show();
            $('.noticebtn').css('color', 'black');
            $('.noticebtn').css('background', 'rgb(230, 230, 230)');
            $('.endbtn').css('color', 'snow');
            $('.endbtn').css('background', '#f35f4c');
            $('.eventbtn').css('color', 'black');
            $('.eventbtn').css('background', 'rgb(230, 230, 230)');
          })
  );

</script>
</body>
</html>