<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.seller.dao.jiho.FundingMapper">

    <resultMap id="categoryResultMap" type="CategoryDTO">
        <id property="categoryName" column="CategoryName"/>
    </resultMap>

    <resultMap id="fundingResultMap" type="FundingDTO">
        <id property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="fundingSummary" column="FUNDING_SUMMARY"/>
        <result property="fundingContents" column="FUNDING_CONTENTS"/>
        <result property="endDate" column="END_DATE"/>
        <result property="fundingGoalMoney" column="FUNDING_GOAL_MONEY"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="buyNumber" column="BUY_NUMBER"/>
        <result property="totalRev" column="TOTAL_REV"/>
    </resultMap>

    <select id="selectFunding" parameterType="_int">
        SELECT
               F.FUNDING_TITLE
             , F.FUNDING_SUMMARY
             , F.FUNDING_CONTENTS
             , F.END_DATE
             , F.FUNDING_GOAL_MONEY
             , C.CATEGORY_NAME
             , (SELECT COUNT(*) FROM TBL_ORDER WHERE FUNDING_CODE = #{ code }) AS BUY_NUMBER
             , (SELECT SUM(ORDER_PRICE) FROM TBL_ORDER WHERE FUNDING_CODE = #{ code }) AS TOTAL_REV
          FROM TBL_FUNDING F
          JOIN TBL_CATEGORY C ON(F.CATEGORY_CODE = C.CATEGORY_CODE)
         WHERE F.FUNDING_CODE = #{ code }
    </select>
</mapper>