<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.seller.dao.jiho.FundingMapper">

    <resultMap id="categoryResultMap" type="CategoryDTO">
        <id property="categoryName" column="CategoryName"/>
    </resultMap>

    <resultMap id="fundingResultMap" type="FundingDTO">
        <id property="fundingTitle" column="FUNDING_TITLE"/>
        <result property="fundingSummary" column="FUNDING_SUMMARY"/>
        <result property="fundingContents" column="FUNDING_CONTENTS"/>
        <result property="endDate" column="END_DATE"/>
        <result property="fundingGoalMoney" column="FUNDING_GOAL_MONEY"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
        <result property="buyNumber" column="BUY_NUMBER"/>
        <result property="totalRev" column="TOTAL_REV"/>
    </resultMap>

    <resultMap id="optionResultMap" type="OptionDTO">
        <id property="optionName" column="OPTION_NAME"/>
        <result property="optionContents" column="OPTION_CONTENTS"/>
        <result property="optionCode" column="FUNDING_OPTION_CODE"/>
        <result property="optionPrice" column="OPTION_PRICE"/>
        <result property="limitQuantity" column="LIMIT_QUANTITY"/>
        <result property="optionColor" column="OPTION_COLOR"/>
        <result property="optionSize" column="OPTION_SIZE"/>
        <result property="deliverDate" column="DELIVER_DATE"/>
    </resultMap>

    <resultMap id="mainImgResultMap" type="MainImgDTO">
        <id property="fileModificationName" column="FILE_MODIFICATION_NAME"/>
        <result property="fundingCode" column="FUNDING_CODE"/>
    </resultMap>

    <select id="selectFunding" parameterType="_int">
        SELECT
               F.FUNDING_TITLE
             , F.FUNDING_SUMMARY
             , F.FUNDING_CONTENTS
             , F.END_DATE
             , F.FUNDING_GOAL_MONEY
             , C.CATEGORY_NAME
             , (SELECT COUNT(*) FROM TBL_ORDER WHERE FUNDING_CODE = #{ code }) AS BUY_NUMBER
             , (SELECT SUM(ORDER_PRICE) FROM TBL_ORDER WHERE FUNDING_CODE = #{ code }) AS TOTAL_REV
          FROM TBL_FUNDING F
          JOIN TBL_CATEGORY C ON(F.CATEGORY_CODE = C.CATEGORY_CODE)
         WHERE F.FUNDING_CODE = #{ code }
    </select>

    <select id="selectTag" parameterType="_int">
        SELECT
               TAG_NAME
          FROM TBL_TAG T
          JOIN TBL_FUNDING_TAG FT ON(T.TAG_CODE = FT.TAG_CODE)
         WHERE FT.FUNDING_CODE = #{ code }
    </select>

    <select id="selectOption" resultMap="optionResultMap">
        SELECT
               OPTION_NAME
             , OPTION_CONTENTS
             , FUNDING_OPTION_CODE
             , OPTION_PRICE
             , LIMIT_QUANTITY
             , OPTION_COLOR
             , OPTION_SIZE
             , DELIVER_DATE
          FROM TBL_FUNDING_OPTIONS
         WHERE FUNDING_CODE = #{ code }
    </select>

    <select id="selectFile" parameterType="_int">
        SELECT
               FILE_MODIFICATION_NAME
          FROM TBL_FUNDING_FILE
         WHERE FUNDING_CODE = #{ code }
           AND FILE_TYPE = '상단'
    </select>

    <select id="topFive" resultMap="mainImgResultMap">
        SELECT
               B.FUNDING_CODE
             , B.FILE_MODIFICATION_NAME
          FROM (SELECT
                       ROWNUM
                     , A.FILE_MODIFICATION_NAME
                     , A.FUNDING_CODE
                  FROM (SELECT
                               FF.FILE_MODIFICATION_NAME
                             , FF.FUNDING_CODE
                          FROM TBL_FUNDING_FILE FF
                          JOIN TBL_FUNDING TF ON (FF.FUNDING_CODE = TF.FUNDING_CODE)
                         WHERE FILE_TYPE = '메인'
                           AND FF.FUNDING_CODE != #{code}
                           AND TF.CATEGORY_CODE = #{categoryCode}) A) B
                <![CDATA[WHERE ROWNUM <= 5]]>

    </select>


    <select id="findCode" parameterType="string">
        SELECT
               FUNDING_CODE
          FROM TBL_FUNDING_FILE
         WHERE FILE_MODIFICATION_NAME = 5af9b6b332e64fb593da12efb4b1ad58.jpg
           AND FILE_TYPE = '메인'
    </select>

    <select id="categoryCode" parameterType="_int">
        SELECT
               CATEGORY_CODE
          FROM TBL_FUNDING
         WHERE FUNDING_CODE = #{ code }
    </select>

    <select id="selectId" parameterType="_int">
        SELECT
               MEMBER_ID
          FROM TBL_MEMBER M
          JOIN TBL_SELLER S ON(M.MEMBER_CODE = S.MEMBER_CODE)
          JOIN TBL_FUNDING F ON(S.SELLER_CODE = F.SELLER_CODE)
         WHERE F.FUNDING_CODE = #{ code }
    </select>

    <insert id="addLikes" parameterType="_int">
        INSERT
          INTO TBL_LIKE_FUNDING_LIST
        (
          FUNDING_CODE
        , MEMBER_CODE
        )
        VALUES
        (
          #{ fundingCode }
        , #{ memberCode }
        )
    </insert>

    <delete id="deleteLikes" parameterType="_int">
        DELETE
          FROM TBL_LIKE_FUNDING_LIST
         WHERE FUNDING_CODE = #{ fundingCode }
           AND MEMBER_CODE = #{ memberCode }
    </delete>
    
    <select id="selectLikes" parameterType="_int">
        SELECT
               COUNT(*)
          FROM TBL_LIKE_FUNDING_LIST
         WHERE FUNDING_CODE = #{ code }
           AND MEMBER_CODE = #{ memberCode }
    </select>

    <insert id="insertReport" parameterType="HashMap">
        INSERT
          INTO TBL_FUNDING_REPORT
        (
          REPORT_CODE
        , REPORT_CONTENT
        , REPORT_DATE
        , FUNDING_CODE
        , MEMBER_CODE
        , CATEGORY_CODE
        , REPORT_RESP_STATUS
        , REPORT_TITLE
        )
        VALUES
        (
          SEQ_FUNDING_REPORT_CODE.NEXTVAL
        , #{content}
        , DEFAULT
        , #{fundingCode}
        , #{memberCode}
        , #{categoryCode}
        , default
        , #{title}
        )
    </insert>

    <select id="selectCategory" parameterType="string">
        SELECT
               CATEGORY_CODE
          FROM TBL_CATEGORY
         WHERE CATEGORY_NAME = #{ category }
    </select>

    <select id="selectReport" parameterType="_int">
        SELECT
               COUNT(*)
          FROM TBL_FUNDING_REPORT
         WHERE FUNDING_CODE = #{ code }
           AND MEMBER_CODE = #{ memberCode }
    </select>

    <select id="selectProfile" parameterType="_int">
        SELECT
               PROFILE
          FROM TBL_MEMBER
         WHERE MEMBER_CODE = #{memberCode}
    </select>

    <select id="selectSellerCode" parameterType="_int">
        SELECT
               SELLER_CODE
          FROM TBL_FUNDING
         WHERE FUNDING_CODE = #{ code }
    </select>

    <select id="selectMemberCode" parameterType="_int">
        SELECT
               MEMBER_CODE
          FROM TBL_SELLER
         WHERE SELLER_CODE = #{ sellerCode }
    </select>

    <select id="selectStatus" parameterType="_int">
        SELECT
               COUNT(*)
          FROM TBL_FUNDING_STATUSLIST
         WHERE FUNDING_CODE = #{ code }
           AND FUNDING_STATUS_CODE = 2
    </select>

    <select id="selectRefund" parameterType="_int">
        SELECT
               RETURN_ROLE
          FROM TBL_FUNDING
         WHERE FUNDING_CODE = #{code}
    </select>

    <select id="startDate" parameterType="int">
        SELECT
               START_DATE
          FROM TBL_FUNDING
         WHERE FUNDING_CODE = #{code}
    </select>

    <select id="endDate" parameterType="int">
        SELECT
            END_DATE
        FROM TBL_FUNDING
        WHERE FUNDING_CODE = #{code}
    </select>

    <select id="email" parameterType="_int">
        SELECT
               MEMBER_EMAIL
          FROM TBL_MEMBER M
          JOIN TBL_SELLER S ON(M.MEMBER_CODE = S.MEMBER_CODE)
          JOIN TBL_FUNDING F ON(S.SELLER_CODE = F.SELLER_CODE)
         WHERE F.FUNDING_CODE = #{code}
    </select>

</mapper>