<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.customerService.dao.ConstomerMapper">

    <resultMap id="contactResultMap" type="com.won.dourbest.customerService.dto.ConstomerContactDTO">
        <id property="contactName" column="CONTACT_NAME"/>
        <result property="contactDetails" column="CONTACT_DETAILS"/>
        <result property="rowNum" column="ROWNUM"/>
    </resultMap>

    <select id="selectContact" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS,
            ROWNUM
        FROM
            (SELECT
                CONTACT_NAME,
                CONTACT_DETAILS,
                ROWNUM
            FROM    TBL_CONTACT
            ORDER BY CONTACT_CODE)
        WHERE ROWNUM  &lt; 9

    </select>

    <!--  쿠폰  -->
    <select id="selectCoupon" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS
        FROM    TBL_CONTACT
        WHERE CATEGORY_CODE =4
    </select>


    <!--  배송  -->
    <select id="selectDelivery" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS
        FROM    TBL_CONTACT
        WHERE CATEGORY_CODE = 5
    </select>

    <!--  교환  -->
    <select id="selecteExchange" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS
        FROM    TBL_CONTACT
        WHERE CATEGORY_CODE = 7
    </select>

    <!--  회원정보  -->
    <select id="selectMember" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS
        FROM    TBL_CONTACT
        WHERE CATEGORY_CODE = 2
    </select>

    <!--  멤버십  -->
    <select id="selectMembership" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS
        FROM    TBL_CONTACT
        WHERE CATEGORY_CODE = 6
    </select>

    <!--  결제  -->
    <select id="selectPayment" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS
        FROM    TBL_CONTACT
        WHERE CATEGORY_CODE = 3
    </select>

    <!--  환불  -->
    <select id="selectRefund" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS
        FROM    TBL_CONTACT
        WHERE CATEGORY_CODE =8
    </select>

    <!--  이용 서비스  -->
    <select id="selectUseService" resultMap="contactResultMap">
        SELECT
            CONTACT_NAME,
            CONTACT_DETAILS
        FROM    TBL_CONTACT
        WHERE CATEGORY_CODE = 1
    </select>






</mapper>
