<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/seller/giwon_seller/payment_page.css}">
  <script src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
  <main>

    <section>

      <div class="main-container0">
        <div class="header-text">
          <p class="main-text">주문 결제하기</p>
        </div>
        <div class="main-container5">
          <div class="final-payment text1">최종 결제금액</div>
          <ul>
            <li class="text2 final-detaile">상품가격 : <p id="product-price" th:text="${ product.getOptionPrice() }" ></p></li>
            <li class="text2 final-detaile">쿠폰할인 : <p id="useCoupon"></p></li>
            <li class="text2 final-detaile">포인트사용 : <p id="usePoint"></p></li>
            <li class="text2 final-detaile">배송비 : <p class="delivery" th:text="${delivery.getDeliveryCharge()}"></p></li>
            <li class="text2 final-detaile">총금액 : <p id="totalPrice"></p></li>
          </ul>
        </div>



        <div class="main-container">
          <div class="payment-text">
            <div class="payment-tetails text1">주문 상품 정보 </div>
<!--            <div class="product-img"><img src="/images/seller/adminlogo.png" alt=""></div>-->
          </div>
          <input type="hidden" name="optionCode" id="optionCode" th:value="${ optionCode }">
          <div class="product-name text2"><p id="product-name" th:text="${ product.getOptionName() }"></p></div>
        </div>

        <div class="main-container6">
          <div class="payment-method text1">결제 방법</div>
          <div class="checkbox-payment">
            <input id="box1" type="checkbox" />
            <label for="box1">신용카드</label>

          </div>


          </input>

          <div class="card-choice1 form-select">
            <select >
              fo
              <option disabled="disabled" selected="select-box" id="bank">카드를 선택해주세요</option>
              <option name="bank" value="1">국민</option>
              <option name="bank" value="2">비씨</option>
              <option name="bank" value="3">신한</option>
              <option name="bank" value="4">현대</option>
              <option name="bank" value="5">삼성</option>
              <option name="bank" value="6">롯데</option>
              <option name="bank" value="7">외환</option>
              <option name="bank" value="8">NH</option>
              <option name="bank" value="9">하나</option>
              <option name="bank" value="10">우리</option>
              <option name="bank" value="11">광주</option>
              <option name="bank" value="12">수협</option>
              <option name="bank" value="13">씨티</option>
              <option name="bank" value="14">전북</option>
              <option name="bank" value="15">제주</option>
              <option name="bank" value="16">카카오뱅크</option>
              <option name="bank" value="17">케이뱅크</option>
            </select>
          </div>


        </div>

        <div class="main-container7">
          <div class="consent"></div>
          <input type="checkbox" class="consent" id="checkbox1">
          <label for="checkbox1" class="ok">만 14세 이상입니다.</label> <br>
          <input type="checkbox" class="consent" id="checkbox2">
          <label for="checkbox2" class="ok">개인 정보 수집 동의</label> <br>
          <input type="checkbox" class="consent" id="checkbox3">
          <label for="checkbox3" class="ok">개인정보 제3자 제공 동의</label> <br>
          <input type="checkbox" class="consent" id="checkbox4">
          <label for="checkbox4" class="ok">구매조건 확인 및 결제진행에 동의</label>
            <button class="button-payment" id="payment" onclick="requestPay()">결제하기</button>
        </div>


        <div class="main-container2">
          <div class="payment-tetails text1">주문자 정보</div>
          <ul class="information text2">
            <li><p id="memberName" th:text="${ member.getMemberName()}"></p></li>
            <li><p id="memberPhone" th:text="${ member.getMemberPhone()}"></p></li>
            <li><p id="memberEmail" th:text="${ member.getMemberEmail()}"></p></li>
          </ul>
        </div>

        <div class="main-container3">
          <div class="address text1">배송지 정보</div>
          <div class="address-text text2"><p id="memberAddress" th:text="${ address.getBaseAddress() }"></p></div>
          <div class="address-text text2"><p th:text="${ address.getDetailAddress()}"></p></div>
          <div class="address text1">배송메모 <br>
            <div class="message-select form-select">
              <select id="request">
                <option name="request" disabled="disabled" selected="select-box">요청사항을 선택해주세요</option>
                <option name="request" value="1">배송 전에 미리 연락 바랍니다.</option>
                <option name="request" value="2">부재시 경비실에 맡겨 주세요.</option>
                <option name="request" value="3">부재시 전화 주시거나 문자 남겨 주세요.</option>
                <option name="request" value="4">문앞에 놔주세요.</option>
              </select>
            </div>
          </div>
        </div>
        <div class="main-container4">
          <div class="coupon-point text1">쿠폰/포인트</div>
          <div>
            <div class="coupon-text text3">쿠폰</div>
            <div class="coupon-application" ><p class="couponApply" ></p></div>
            <div class="button-interval">
              <div class="button-panel">
                <button class="buttonCoupon">쿠폰 적용</button>
              </div>
              <div class="point text3">포인트</div>
              <div class="button-panel">
                <button class="buttonPoint">포인트 사용</button>
              </div>
            </div>
            <div class="hold-point text3">보유 포인트 : <p id="pointAmount" th:text="${ pointAmount.getPointTotalAmount() }"></p> </div>
              <textarea class="point-application" id="use-point" placeholder="사용할 포인트를 입력해주세요." maxlength="10" ></textarea>

          </div>
        </div>

      </div>

      <div class="contactmodal">
        <div class="contactmodal-container">
          <div class="contactmodal-content">
            <span class="close">&times;</span>
            <h2 class="contactmodal-title">쿠폰 사용</h2>
            <div class="mb-3 contact"  id="contact" >
              <label for=""></label>
              <th:block th:each="coupon, item : ${couponName}">
                <input th:id="|@{box}${item.index + 5}|" type="checkbox" name="userCoupon" class="userCouponCheck">
                <label th:for="|@{box}${item.index + 5}|" ><p class="couponName" th:text="${ coupon.getCouponName()}"></p></label> <br>
              </th:block>
              <div class="file-container">
                <input type="file" id="contact-imgInput" onchange="contactreadURL(this)">
                <div class="contact-imgdiv"></div>
              </div>
              <button class="" type="button" id="send" onclick="closeContactModal()">제출</button>
            </div>
          </div>
        </div>
      </div>

    </section>
  </main>


<script>

$("#send").click(function(){

  $(".userCouponCheck").each(function(){
    if(this.checked == true) {
      const choiceCoupon =  this.nextElementSibling.children[0].innerText;
      const optionCode = $("#optionCode").val();
      const productPrice = $("#product-price").text();
      const usePoint = $("#usePoint").text();
      const delivery = parseFloat($(".delivery").text());
      $.ajax({
        url: "/seller/coupon",
        type : "POST",
        data : {choiceCoupon : choiceCoupon, optionCode : optionCode},
        success : function(data) {
            $(".coupon-application").text(data.coupon)
            $("#useCoupon").text(data.disCount)
            $("#totalPrice").text(productPrice - data.disCount - usePoint + delivery);


        },
        error : function (error) {
          alert(error);
        }
      });
    }
  })
})
</script>
<script>
  $(".buttonPoint").click(function(){
    const productPrice = $("#product-price").text();
    const havePoint = $("#pointAmount").text();
    const usePoint = $("#use-point").val();
    const useCoupon = $("#useCoupon").text();
    const delivery = parseFloat($(".delivery").text());
    $.ajax({
      url : "/seller/point",
      type : "POST",
      data : { usePoint : usePoint},
      success : function(data) {
        $("#usePoint").text(data);
        $("#totalPrice").text(productPrice - data - useCoupon + delivery);

      },
      error : function(error) {
        alert("포인트가 부족합니다.")
      }
    })
  })
</script>



<!--<script>-->
<!--  $(".buttonPoint").click(function() {-->
<!--    const point = $("#pointAmount").text();-->
<!--    const totalPointPrice = $('#totalPointPrice');-->
<!--    console.log(point);-->
<!--    console.log(totalPointPrice);-->
<!--    totalPointPrice.value(totalPointPrice);-->
<!--  });-->



<!--</script>-->

<script>
  const contactmodal = document.querySelector(".contactmodal");
  const btn = document.querySelector(".buttonCoupon");
  const $span = document.querySelector(".close");


  btn.addEventListener('click', openContactModal);
  $span.addEventListener('click', closeContactModal);

  function openContactModal() {
    contactmodal.style.display = "block";
    contactmodal.animate([{opacity: 0}, {opacity: 1}], {duration: 300, fill: "forwards"});
  }

  function closeContactModal() {
    contactmodal.animate([{opacity: 1}, {opacity: 0}], {duration: 300, fill: "forwards"}).onfinish = function() {
      contactmodal.style.display = "none";
      const $img = document.querySelector(".contact-imgdiv");
      if($img.hasChildNodes()){
        $img.replaceChildren();
      }
    };
  }
</script>
<script>
  function contactreadURL(obj) {

    let reader = new FileReader();
    if(!obj.files.length) {
      return;
    }
    reader.readAsDataURL(obj.files[0]);
    reader.onload = function (e) {
      let $div = $('<div>');
      $($div).css('width','120px');
      $($div).css('height','120px');
      $($div).css('padding','10px 10px 0px 0px');

      $('.contact-imgdiv').append($div);

      let img = $('<img />');
      $(img).attr('src', e.target.result);
      $(img).css('width','100%');
      $(img).css('height','100%');
      $($div).append(img);
    }
  }
</script>



<script>
  let box = $("#payment")
  box.prop("disabled", true);

  let check = $("input:checkbox[class='consent']");

  check.click(function (){
    let idx = 0;
    check.each(function () {
        if ($(this).prop("checked") == true) {
          idx++;
        }
        if(idx == 4){
          box.css('background-color', '#f35f4c')
          box.prop("disabled", false);

        }
        if($(this).prop("checked") == false) {
          idx--;
          box.css('background-color', 'rgba(155,155,155,0.5)')
          box.prop("disabled", true);
        }
    });
    });

</script>

<script>
  // const optionCode = $("#optionCode").val();
  // $.ajax({
  //   url: "/seller/option",
  //   type: "post",
  //   data: {optionCode : optionCode},
  //   success : function(data) {
  //     $("#product-price").text(data.optionPrice)
  //     $("#product-name").text(data.optionName)
  //   },
  //   error : function(error) {
  //
  //   }
  // })
</script>

<script th:inline="javascript">

  var IMP = window.IMP;
  IMP.init("imp35545546"); // 예: imp00000000

  function requestPay() {

    IMP.request_pay({ // param
      pg: "kakaopay",
      pay_method: "card",
      merchant_uid: "merchant_" + new Date().getTime(),
      name: $("#product-name").text(),
      amount: $("#totalPrice").text(),
      buyer_email: $("#memberEmail").text(),
      buyer_name: $("#memberName").text(),
      buyer_tel: $("#memberPhone").text(),
      buyer_addr: $("#memberAddress").text(),
      buyer_postcode: "01181"
    }, function (rsp) {
      if (rsp.success) {
        const fundingOptionCode = $("#optionCode").val();
        const orderPrice = $("#product-price").text();
        const request = $("#request");
        const orderRequest = request.val();
        const deliveryCharge = $(".delivery").text();


        const result = {
          fundingOptionCode:fundingOptionCode,
          orderPrice:orderPrice,
          orderRequest:orderRequest,
          deliveryCharge:deliveryCharge       }

        $.ajax({
          url: "/seller/order",
          method: "POST",
          data : JSON.stringify(result),
          contentType: "application/json",
          success: function(data){
            const totalPrice = $("#totalPrice").text();
            const bank = $("#bank");
            const bankName = bank.val();
            const bankNum = 135135;
            const orderCode = data.orderCode;

            const payment = {
              bankName : bankName,
              totalPrice : totalPrice,
              bankNum : bankNum,
              orderCode : orderCode
            }
              $.ajax({
                url:"/seller/credit",
                method: "POST",
                data: JSON.stringify(payment),
                contentType: "application/json",
                success: function(data){
                  const paymentCode = data.paymentCode;

                  $.ajax({
                    url:"/seller/creditList",
                    method:"POST",
                    data: { paymentCode : paymentCode },
                    success: function (data){
                      const fundingCode = data;
                      const disCount = $("#useCoupon").text();
                      const usePoint = $("#usePoint").text();

                      let result = {
                        fundingCode : fundingCode,
                        disCount : disCount,
                        usePoint : usePoint,
                      }

                      $.ajax({
                        url:"/seller/disCount",
                        method:"POST",
                        data: JSON.stringify(result),
                        contentType:"application/json",
                        success: function (){
                          location.href='/seller/fail'
                        },
                        error: function (){

                        }
                      })
                    },
                    error: function (error){

                    }
                  })

                },
                error : function(error) {

                }
              })
          },
          error: function (data){

          }
        });


      } else {

      }
    });
  }

</script>

<script>

</script>








</html>