<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <!-- 폰트어썸 링크 -->
  <script src="https://kit.fontawesome.com/5db9941ba1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/DourBest/css/default.css">
  <link rel="stylesheet" href="/DourBest/css/header.css">
  <link rel="stylesheet" href="/DourBest/giwon-seller/css/seller_application1.css">

</head>

<body>
<div class="wrapper">
  <!-- 헤더 -->
  <header>
    <div class="header-container flex-wrapper">
      <!-- 헤더 상단 메뉴 -->
      <div class="header-top flex-wrapper">
        <h1>
          <a href="javascript:void(0);">
            <img class="logo" src="/DourBest/resources/img/logo.jpeg" alt="DourBest로고">
          </a>
        </h1>
        <div class="header-menu">
          <ul class="flex-wrapper">
            <li><a href="/">펀딩오픈</a></li>
            <li><a href="/">로그인</a></li>
            <li><a href="/">회원가입</a></li>
          </ul>
        </div>
      </div>
      <!-- 헤더 하단 메뉴 -->
      <nav>
        <div class="menu-container flex-wrapper">
          <div class="header-bottom">
            <ul class="flex-wrapper">
              <li><a href="#">오픈펀딩</a></li>
              <li><a href="#">오픈예정펀딩</a></li>
              <li><a href="#">공지사항</a></li>
              <li><a href="#">고객센터</a></li>
              <div class="indicator"></div>
            </ul>
          </div>
          <div class="search-form">
            <form action="" class="flex-wrapper">
              <input type="search" placeholder="Search">
              <button type="submit"><i class="fa-solid fa-magnifying-glass"
                                       style="color: #e54944;"></i></button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- 메인 -->
  <section>
    <div class="personal-container">
      <div class="form-wrapper">
        <h1 class="logo2"> <img src="/DourBest/resources/img/logo.jpeg"></h1>
        <form>
          <div class="form-item">
            <label for="email"></label>
            <input class="personal-info" type="text"  required="required"
                   placeholder="아이디"></input>
          </div>
          <div class="form-item">
            <label for="password"></label>
            <input class="personal-info" type="text" required="required"
                   placeholder="이름"></input>
          </div>
          <div class="form-item">
            <label for="password"></label>
            <input class="personal-info" type="text"  required="required"
                   placeholder="전화번호"></input>
          </div>
          <div class="form-item">
            <label for="password"></label>
            <input class="personal-info" type="text"  required="required"
                   placeholder="이메일"></input>
          </div>
          <div class="form-item">
            <label for="password"></label>
            <input class="personal-info" type="text"  required="required"
                   placeholder="사업자 등록증 번호"></input>
          </div>
          <p id="outline-text">모든 동의에는 <span class="bold-type">필수 및 선택목적(광고성 정보 수신 포함)에 대한 동의가
                                        포함</span>되어 있으며,
            선택 목적에 동의를 거부하시는 경우에도 서비스 이용이 가능합니다.
          </p>
          <div class="seller-container">
            <div class="check-box-container">
              <div class="check-box">
                <input type="checkbox" class="check">[필수] 만 19세 이상입니다. <br>
                <input type="checkbox" class="check">[필수] 다워 서비스 이용약관 - 사업자용<br>
                <input type="checkbox" class="check">[필수] 다워페이(주) 전자금융 거래 이용 약관<br>
                <input type="checkbox" class="check">[선택] 광고 및 이벤트 목적의 개인정보 수집
                및 이용 동의 <br>
                <input type="checkbox" class="check">[선택] 판매자 무료 교육 및 특별 프로 모션
                해택(광고) 수신 동의
              </div>
            </div>
            <div class="button-panel">

              <a class="button" href="/DourBest/seller_success.html">판매자 신청</a>
            </div>
          </div>
      </div>

      </form>
    </div>
</div>
</section>
<!-- 푸터 -->
<footer>
  <section></section>
  <section></section>
</footer>
</div>
<script src="./index.js"></script>
</body>

</html>