<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::section}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/seller/giwon_seller/seller_application.css}">
</head>
<section>
    <div class="personal-container">
        <div class="form-wrapper">
            <h1 class="logo2"><img src="/images/common/logo.jpeg"></h1>
            <form>
                <div class="form-item" id="box1">
                    <label for="box1"></label>
                    <input class="personal-info" id="id" type="text" required="required"
                           placeholder="아이디"></input>
                </div>
                <div class="form-item" id="box2">
                    <label for="box2"></label>
                    <input class="personal-info" id="name" type="text" required="required"
                           placeholder="이름"></input>
                </div>
                <div class="form-item" id="box3">
                    <label for="box3">
                    <input class="personal-info" id="phone" type="text" required="required"
                           placeholder="전화번호"></input>
                </div>
                <div class="form-item" id="box4">
                    <label for="box4"></label>
                    <input class="personal-info" id="email" type="text" required="required"
                           placeholder="이메일"></input>
                </div>
                <div class="form-item" id="box5">
                    <label for="box5"></label>
                    <input class="personal-info" id="license" type="text" required="required"
                           placeholder="사업자등록번호"></input>
                </div>
                <p id="outline-text">모든 동의에는 <span class="bold-type">필수 및 선택목적(광고성 정보 수신 포함)에 대한 동의가
                                        포함</span>되어 있으며,
                    선택 목적에 동의를 거부하시는 경우에도 서비스 이용이 가능합니다.
                </p>
                <div class="seller-container">
                    <div class="check-box-container">
                        <div class="check-box">
                            <input type="checkbox" class="check">[필수] 만 19세 이상입니다. <br>
                            <input type="checkbox" class="check">[필수] 다워 서비스 이용약관 - 사업자용<br>
                            <input type="checkbox" class="check">[필수] 다워페이(주) 전자금융 거래 이용 약관<br>
                            <input type="checkbox" class="check">[선택] 광고 및 이벤트 목적의 개인정보 수집
                            및 이용 동의 <br>
                            <input type="checkbox" class="check">[선택] 판매자 무료 교육 및 특별 프로 모션
                            해택(광고) 수신 동의
                        </div>
                    </div>
                    <div class="button-panel">

                        <a class="button" href="/seller/success">판매자 신청</a>
                    </div>
                </div>
        </form>
        </div>
    </div>

</section>

<script>
    $(".button").click(function() {
        const id = $("#id").val();
        const name = $("#name").val();
        const phone = $("#phone").val();
        const email = $("#email").val();
        const license = $("#license").val();

        $.ajax({
            url: "/seller/application",
            type : "post",
            data : {id : id , name : name ,phone : phone , email : email , license : license},
            success : function(data) {

            },
            error : function (error) {
                alert(error);
            }
        });
    });
</script>

</html>