<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/seller/giwon_seller/seller.success.css}">

</head>


  <!-- 메인 -->
  <main>
    <section>

      <div class='content'>
        <div>
          <img class="img-check" th:src="@{/images/seller/check.png}">
        </div>
        <div class='title'>감사합니다</div>
        <div class='text'>승인까지 2~3일정도 소요됩니다.</div>
      </div>
      <div>
        <button class="button-panel" onclick="location.href='/'">메인페이지로 이동</button>
      </div>
    </section>
  </main>

<script></script>



</html>