/* 메인페이지 */
.changepw-page{
    margin-left: 143px;
    float: left;
    width: 400px;
    letter-spacing: -0.6px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: auto;

}

/* 타이틀 */
.pagetitle {
    /*padding: 50px 0px 1px;*/
    text-align: center;
    left: 18.94%;
    right: 18.94%;
    top: 32.97%;
    bottom: 67.03%;
    border-bottom: 2px solid rgb(51, 51, 51);

}

.pagetitle h1 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 98px;
    color: rgb(51, 51, 51);


}

/* 입력박스 */
.inputboxs {

    position: relative;
    height: 51px;
    padding-top: 30px;

}

.inputboxs input {

    width: 100%;
    height: 54px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;

}

/* 박스 간격 */
.inputboxs div {
    padding-bottom: 13px;
}

.inputboxs div label{

    float: left;
    display: inline-block;
    margin-bottom: 13px;
    font-weight: 700;
    color: rgb(51, 51, 51);
}



.loginMain{

    font-weight: 800;
    font-size: 20px;
    line-height: 20px;

}
.buttons {

    margin-top: 28px;

}

.findingButton{

    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #f35f4c;
    border: 0px none;
}

.signupButton {

    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: #f35f4c;
    background-color: white;
    border: 1px solid #f35f4c;
}

.finding {

    text-align: right;

}

.emailsend{

    display: contents;
}

.findIdresult h1 {

    position: fixed;
    font-size: 40px;
}

.Button {

    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: #f35f4c;
    background-color: white;
    border: 1px solid #f35f4c;
}

.inputboxs input:focus{


    border: 2px solid #f35f4c;
    cursor: pointer;

}


#id-error {

    color: red;
    margin-top: -43px;
    margin-bottom: -42px;

}


#email-error, #pwdCheck-error, #pwd-error{

    color: red;
    margin-top: -5px;
    margin-bottom: -42px;

}