table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;

}

/*th{*/
/*    border-bottom: #b4b4b4 1px solid;*/
/*}*/

th, td {
    text-align: center;
}


.profile-wrap{
    background-color: #f35f4c;
    min-width: 600px;
    margin-bottom: 60px;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
    border-radius: 15px;
    margin: 0em 1em 2em 1em;
}

.profile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
    color: #fff;
}

.profile-img{
    align-items: center;
}

.img{
    /*background-image: url();*/
    background-position: 50% 50%;
    background-repeat: no-repeat ;
    background-size: cover;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.profile-info{
    padding: 30px;
}

.profile-info strong{
    font-size: 1.3em;
}

.profile-info p, .profile-info span {
    font-size: 1.1em;
}

.profile-round{
    position: relative;
    border: 1px solid #b4b4b4;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-right: 20px;
}

.profile-round button{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #fff;
    bottom: 5px;
    right: 4px;
    border-radius: 100%;
}

.profile-round button > svg{
    position: absolute;
    bottom: 8px;
    right: 7px;
}

.profile-detail{
    display: flex;
    flex-direction: column;
    padding: 15px 45px;
    align-items: center;
    color: #fff;

}

.profile-detail h3{
    border-bottom: 1px solid #fff;
}

.profile-detail h3, .profile-detail p{
    padding: 10px 0px;
    font-size: 1.3rem;
}

.sidebar-wrapper{
    width: 20%;
    min-width: 250px;
}

.sidebar{
    padding: 30px;
}

.sidebar a{
    display: block;
}

.side-inner{
    flex-direction: column;
    background-color: #ffeeeb;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
}

.side-detail{
    margin: 10px 0px;
}

.side-detail:nth-child(3){
    margin-bottom: 20px;
}

.side-detail a{
    font-size: 1.2em;
    padding: 5px;
}

.side-detail h2{
    font-size: 1.4em;
    padding: 10px;
}

.side-detail div a{
    padding: 0px 0px 5px 10px;
}

.sidebar-logout{
    padding: 5px;
}

.sidebar-logout a{
    position: relative;
    background-color: #ffd2c4;
    color: #000;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    transition: 0.5s;
    top: 0px;
}

.sidebar-logout a:hover{
    background-color: #f35f4c;
    color: #fff;
    top:-2px;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
}

.mypage-info section{
    padding: 30px 20px 0px 10px;
    flex-grow: 1;
}

.mypage-title h1{
    font-size: 1.5em;
}

.mypage-detail{
    margin-bottom: 10px;
}

.mypage-detail h2{
    font-size: 18pt;
    border-bottom: #b4b4b4 1px solid;
    padding-bottom: 10px;
}


.mypage-list a{
    padding: 30px;
    flex-direction: column;
    align-items: center;
}

.mypage-list li{
    position: relative;
    flex: 1;
}

.mypage-list p{
    font-size: 1.155em;
    font-weight: bold;
    transition: 0.5s;
}

.mypage-list a span{
    display: block;
    padding-bottom: 10px;
    font-size: 30px;

}

.mypage-list :hover{
    color: #f35f4c;
}

.mypage-list li:not(:last-child)::after{
    position: absolute;
    top: 25%;
    content: "";
    display: inline-block;
    background-color: #e5e5e5;
    width: 1px;
    height: 50px;
    right: 0;
    vertical-align: middle;
}

/* 쿠폰 */
.coupon-container{
    font-size: 1.2em;
}

.coupon-regi{
    border: 1px solid #b4b4b4;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
    margin-bottom: 30px;
}

.coupon-regi button{
    position: relative;
    display: block;
    top: 0;
    transition: all .1s ease-in;
    background-color: #e5e5e5;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.125em;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.5s;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
}

.coupon-regi button:hover{
    top: -2px;
    background-color: #f35f4c;
    color: #fff;
}

.coupon-regi input[type=text]{
    padding: 20px;
    outline: none;
    font-size: 1.125em;
    flex: 1;
    border-bottom: #b4b4b4 1px solid;
    transition: 0.5s;
    top: 0px;
    position: relative;
}

.coupon-regi input[type=text]:focus{
    border-bottom: #f35f4c 1px solid;
    top: -2px;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.coupon-item-wrapper{
    border: 1px solid #f35f4c;
    border-radius: 15px;
    flex: 1;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
    margin-bottom: 8px
}

.coupon-item{
    padding: 20px;
}

.discount{
    font-size: 1.7em;
    font-weight: bold;
    color: #f35f4c;
    margin-bottom: 10px;
}

.discount-text{
    font-size: 1.1em;
    color: #797474;
    margin-bottom: 10px;
}

.coupon-table table{
    color: #797474;
    font-size: 12pt;
}

.coupon-table table th{
    display: block;
    margin-right: 12px;
}

.mytable{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #b4b4b4;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
}


/* 마이페이지에 있는 페이지네이션들 */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #3f3f3f;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

