<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.admin.coupon.dao.CouponMapper">

    <resultMap id="selectIssuanceResultMap" type="com.won.dourbest.admin.coupon.dto.CouponIssuanceDTO">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
        <result property="couponName" column="COUPON_NAME"/>
        <result property="couponDiscount" column="COUPON_DISCOUNT"/>
        <result property="couponValidDate" column="COUPON_VALID_DATE"/>
    </resultMap>

    <resultMap id="selectUseCouponResultMap" type="com.won.dourbest.admin.coupon.dto.UseCouponDTO">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
        <result property="couponContent" column="COUPON_CONTENT"/>
        <result property="couponDiscount" column="COUPON_DISCOUNT"/>
        <result property="regiDate" column="REGI_DATE"/>
    </resultMap>

    <select id="selectIssuanceList" resultMap="selectIssuanceResultMap">
        SELECT
            C.MEMBER_ID,
            C.MEMBER_NAME,
            C.MEMBER_EMAIL,
            B.COUPON_NAME,
            B.COUPON_CONTENT,
            B.COUPON_DISCOUNT,
            B.COUPON_VALID_DATE
        FROM    TBL_COUPONLIST A
        JOIN    TBL_COUPON B ON (A.COUPON_CODE = B.COUPON_CODE)
        JOIN    TBL_MEMBER C ON (A.MEMBER_CODE = C.MEMBER_CODE)
        <if test="searchValue != null and searchValue != ''">
            WHERE COUPON_CONTENT LIKE '%' || #{ searchValue } || '%'
        </if>
        ORDER BY COUPON_VALID_DATE
        OFFSET #{startRow} -1 ROWS FETCH NEXT (#{endRow} - #{startRow} + 1) ROWS ONLY

    </select>


    <select id="selectUseCoupon" resultMap="selectUseCouponResultMap">
        SELECT
            C.MEMBER_ID,
            C.MEMBER_NAME,
            C.MEMBER_EMAIL,
            B.COUPON_CONTENT,
            B.COUPON_DISCOUNT,
            A.REGI_DATE
        FROM    TBL_COUPONLIST A
        JOIN    TBL_COUPON B ON (A.COUPON_CODE = B.COUPON_CODE)
        JOIN    TBL_MEMBER C ON (A.MEMBER_CODE = C.MEMBER_CODE)
        WHERE A.COUPON_REGI_STATUS = 'Y'
        <if test="searchValue != null and searchValue != ''">
            AND C.MEMBER_ID LIKE '%' || #{ searchValue } || '%'
        </if>
        OFFSET #{startRow} -1 ROWS FETCH NEXT (#{endRow} - #{startRow} + 1) ROWS ONLY

    </select>

    <!--  총 페이지 갯수  -->
    <select id="selectTotalPage">
        SELECT
        count(*)
        FROM    TBL_MEMBER A
        <if test="searchValue != null and searchValue != ''">
            WHERE   MEMBER_ID = #{ searchValue }
        </if>
    </select>

    <insert id="couponRegist">
        INSERT INTO TBL_COUPON
        VALUES
        (
            SEQ_COUPON_CODE.NEXTVAL,
            #{ couponName },
            #{ couponContent },
            #{ couponDiscount },
            #{ couponVaildDate }
        )
    </insert>
    <!--  쿠폰 코드  -->
    <select id="couponCode">
        SELECT
            COUPON_CODE
        FROM TBL_COUPON
        WHERE COUPON_NAME = #{couponName}
    </select>

    <!--  모든 멤버 코드 조회  -->
    <select id="selectAllMemberCodes">
        SELECT
            MEMBER_CODE
        FROM TBL_MEMBER
    </select>

    <!--  쿠폰 발급  -->
    <insert id="insertCoupon">
        INSERT INTO TBL_COUPONLIST
        VALUES
            (
                SEQ_COUPONLIST_CODE.NEXTVAL,
                '일련번호',
                SYSDATE,
                #{date},
                'Y',
                DEFAULT,
                SEQ_COUPON_CODE.currval,
                #{memCode}
            )
    </insert>
</mapper>