<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.admin.notice.dao.NoticeMapper">

    <resultMap id="selectNoticeResultMap" type="com.won.dourbest.admin.notice.dto.AdminNoticeDTO">
        <result property="noticeCode" column="NOTICE_CODE"/>
        <result property="noticeTitle" column="NOTICE_TITLE"/>
        <result property="noticeContent" column="NOTICE_CONTENT"/>
        <result property="regiDate" column="REGI_DATE"/>
        <result property="adminCode" column="ADMIN_CODE"/>
        <result property="rowNum" column="ROWNUM"/>
    </resultMap>
    
    <resultMap id="selectEventListResultMap" type="com.won.dourbest.admin.notice.dto.AdminEventDTO">
        <result property="eventCode" column="EVENT_CODE"/>
        <result property="eventTitle" column="EVENT_TITLE"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="adminCode" column="ADMIN_CODE"/>
        <result property="rowNum" column="ROWNUM"/>
    </resultMap>


    <select id="selectNoticeList" resultMap="selectNoticeResultMap">
        SELECT
            A.NOTICE_CODE,
            A.NOTICE_TITLE,
            A.NOTICE_CONTENT,
            A.REGI_DATE,
            A.ADMIN_CODE,
            ROWNUM
        FROM TBL_NOTICE A
        <if test="searchValue != null and searchValue != ''">
            WHERE A.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
        </if>
        ORDER BY REGI_DATE ASC
        OFFSET #{startRow} -1 ROWS FETCH NEXT (#{endRow} - #{startRow} + 1) ROWS ONLY

    </select>

    <select id="selectOngoingEventList" resultMap="selectEventListResultMap">
        SELECT
            EVENT_CODE,
            EVENT_TITLE,
            EVENT_CONTENT,
            START_DATE,
            END_DATE,
            ADMIN_CODE,
            ROWNUM
        FROM(
            SELECT
                EVENT_CODE,
                EVENT_TITLE,
                EVENT_CONTENT,
                START_DATE,
                END_DATE,
                ADMIN_CODE,
                ROWNUM
            FROM    TBL_EVENT )
        WHERE START_DATE &lt; SYSDATE
        AND   END_DATE &gt; SYSDATE
        <if test="searchValue != null and searchValue != ''">
            AND EVENT_TITLE LIKE '%' || #{ searchValue } || '%'
        </if>
        ORDER BY START_DATE ASC
        OFFSET #{startRow} -1 ROWS FETCH NEXT (#{endRow} - #{startRow} + 1) ROWS ONLY
    </select>

    <select id="selectFinshedEventList" resultMap="selectEventListResultMap">
        SELECT
            EVENT_CODE,
            EVENT_TITLE,
            EVENT_CONTENT,
            START_DATE,
            END_DATE,
            ADMIN_CODE,
            ROWNUM
        FROM    (
            SELECT
                EVENT_CODE,
                EVENT_TITLE,
                EVENT_CONTENT,
                START_DATE,
                END_DATE,
                ADMIN_CODE,
                ROWNUM
            FROM    TBL_EVENT )
        WHERE END_DATE &lt; SYSDATE
        <if test="searchValue != null and searchValue != ''">
            AND EVENT_TITLE LIKE '%' || #{ searchValue } || '%'
        </if>
        ORDER BY START_DATE ASC
        OFFSET #{startRow} -1 ROWS FETCH NEXT (#{endRow} - #{startRow} + 1) ROWS ONLY
    </select>

    <!--  공지사항 글 등록  -->
    <insert id="insertNotice">
        INSERT INTO TBL_NOTICE
        VALUES
        (
         SEQ_NOTICE_CODE.nextval,
         #{noticeTitle},
         #{noticeContent},
         DEFAULT,
         5
        )
    </insert>

    <!--  이벤트글 글 등록  -->

    <insert id="insertEvent">
        INSERT INTO TBL_EVENT
        VALUES
            (
                SEQ_EVENT_CODE.nextval,
                #{eventTitle},
                #{eventContent},
                SYSDATE,
                #{eventEndDate},
                1
            )
    </insert>


    <!--  공지사항 삭제  -->
    <delete id="deleteNotice">
        DELETE TBL_NOTICE
        WHERE NOTICE_TITLE = #{noticeTitle}
    </delete>


    <!--  총 페이지 갯수  -->
    <select id="selectTotalPage">
        SELECT
        count(*)
        FROM    TBL_MEMBER A
        <if test="searchValue != null and searchValue != ''">
            WHERE   MEMBER_ID = #{ searchValue }
        </if>
    </select>


    <!-- 진행중인 이벤트 삭제  -->
    <delete id="ongoingEventDelete">
        DELETE TBL_EVENT
        WHERE EVENT_CODE = #{eventCode}
    </delete>


    <!-- 종료된 이벤트 삭제  -->
    <delete id="finishedEventDelete">
        DELETE TBL_EVENT
        WHERE EVENT_CODE = #{eventCode}
    </delete>
</mapper>
