<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.seller.dao.SellerMapper">


<!--    <resultMap id="sellerResultMap" type="com.won.dourbest.seller.dto.SellerDTO">-->
<!--        <result property="sellerCode" column="SELLER_CODE"/>-->
<!--        <result property="accountNumber" column="ACCOUNT_NUMBER"/>-->
<!--        <result property="businessLicense" column="BUSINESS_LICENSE"/>-->
<!--        <result property="numberReported" column="NUMBER_REPORTED"/>-->
<!--        <result property="totalRevenue" column="TOTAL_REVENUE"/>-->
<!--        <result property="memberCode" column="MEMBER_CODE"/>-->
<!--        <result property="sellerSns" column="SELLER_SNS"/>-->
<!--        <result property="sellerUrl" column="SELLER_URL"/>-->
<!--        <result property="sellerKakao" column="SELLER_KAKAO"/>-->
<!--        <result property="sellerApproval" column="SELLER_APPROVAL"/>-->
<!--    </resultMap>-->

    <resultMap id="selectFundingOption" type="com.won.dourbest.seller.dto.OptionDTO">
<!--        <result property="fundingOptionCode" column="FUNDING_OPTION_CODE"/>-->
        <result property="optionName" column="OPTION_NAME"/>
        <result property="optionContents" column="OPTION_CONTENTS"/>
        <result property="optionPrice" column="OPTION_PRICE"/>
        <result property="limitQuantity" column="LIMIT_QUANTITY"/>
        <result property="fundingCode" column="FUNDING_CODE"/>
    </resultMap>



    <resultMap id="selectMemberResultMap" type="com.won.dourbest.user.dto.MemberDTO">
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberPhone" column="MEMBER_PHONE"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
    </resultMap>

    <resultMap id="selectAddressResultMap" type="com.won.dourbest.user.dto.AddressDTO">
        <result property="baseAddress" column="BASE_ADDRESS"/>
        <result property="detailAddress" column="DETAIL_ADDRESS"/>
        <association property="memberCode" resultMap="selectMemberResultMap"></association>
    </resultMap>

    <resultMap id="selectCouponListResultMap" type="com.won.dourbest.user.dto.UserCouponListDTO">
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="couponCode" column="COUPON_CODE"/>
        <result property="couponName" column="COUPON_NAME"/>
        <result property="couponListCode" column="COUPONLIST_CODE"/>


    </resultMap>
    <resultMap id="selectOrderResultMap" type="com.won.dourbest.user.dto.OrderDTO">
        <result property="totalPrice" column="TOTAL_PRICE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="deliveryCharge" column="DELIVERY_CHARGE"/>
    </resultMap>

    <resultMap id="selectDIsCountResultMap" type="com.won.dourbest.user.dto.CouponDTO">
        <result property="couponDiscount" column="COUPON_DISCOUNT"/>
    </resultMap>

    <resultMap id="selectPointResultMap" type="ProductDTO">

        <result property="pointDate" column="POINT_DATE"/>
        <result property="pointStatus" column="POINT_STATUS"/>
        <result property="pointAmount" column="POINT_AMOUNT"/>
        <result property="pointTotalAmount" column="POINT_TOTAL_AMOUNT"/>
        <result property="pointCode" column="POINT_CODE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
    </resultMap>

    <resultMap id="selectProductResultMap" type="ProductDTO">
        <result property="couponDisCount" column="COUPON_DISCOUNT"/>
        <result property="pointTotalAmount" column="POINT_TOTAL_AMOUNT"/>
        <result property="couponName" column="COUPON_NAME"/>
    </resultMap>

    <resultMap id="selectFundingResultMap" type="FundingDTO">

        <result property="fundingCode" column="FUNDING_CODE"></result>
    </resultMap>

    <resultMap id="selectCouponCodeResultMap" type="CouponListDTO">
        <result property="couponCode" column="COUPON_CODE"></result>
    </resultMap>


<!--    <resultMap id="selectOrderResultMap" type="OrderDTO">-->
<!--        <result property="orderCode" column="ORDER_CODE"></result>-->
<!--        <result property="orderCount" column="ORDER_COUNT"></result>-->
<!--        <result property="orderPrice" column="ORDER_PRICE"></result>-->
<!--        <result property="fundingCode" column="FUNDING_CODE"></result>-->
<!--        <result property="memberCode" column="MEMBER_CODE"></result>-->
<!--        <result property="orderRequest" column="ORDER_REQUEST"></result>-->
<!--        <result property="orderDate" column="ORDER_DATE"></result>-->
<!--        <result property="fundingOptionCode" column="FUNDING_OPTION_CODE"></result>-->
<!--        <result property="deliveryCharge" column="DELIVERY_CHARGE"></result>-->
<!--        <result property="couponlistCode" column="COUPONLIST_CODE"></result>-->
<!--    </resultMap>-->




    <select id="selectMemberCode" parameterType="com.won.dourbest.user.dto.MemberDTO">
        SELECT
            MEMBER_CODE
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{ memberId }
          AND  MEMBER_NAME = #{ memberName }
          AND  MEMBER_PHONE = #{ memberPhone }
          and  MEMBER_EMAIL = #{ memberEmail }
    </select>


    <insert id="insertSeller" parameterType="com.won.dourbest.seller.dto.SellerDTO">
        INSERT
        INTO TBL_SELLER
        (
         SELLER_CODE
         , MEMBER_CODE
         , BUSINESS_LICENSE
         , NUMBER_REPORTED
         , TOTAL_REVENUE
         )
        VALUES
        (
         SEQ_SELLER_CODE.NEXTVAL
         , #{ memberCode }
         ,#{ businessLicense }
         ,0
         ,0
        )

    </insert>


    <select id="selectProductName" resultMap="selectFundingOption">
        SELECT
            A.OPTION_NAME
           ,A.OPTION_PRICE
         FROM TBL_FUNDING_OPTIONS A
        WHERE FUNDING_OPTION_CODE = #{ optionCode }

    </select>

    <select id="selectMember" resultMap="selectMemberResultMap">

        SELECT MEMBER_NAME,
               MEMBER_PHONE,
               MEMBER_EMAIL,
               MEMBER_CODE
          FROM  TBL_MEMBER
        WHERE MEMBER_ID = #{ memberId }
    </select>

    <select id="selectAddress" resultMap="selectAddressResultMap">
        SELECT
            BASE_ADDRESS
          , DETAIL_ADDRESS
          FROM TBL_ADDRESS A
          JOIN TBL_MEMBER B on (B.MEMBER_CODE = A.MEMBER_CODE)
        WHERE A.MEMBER_CODE = #{ memberCode }
    </select>


    <select id="selectCouponList" resultMap="selectCouponListResultMap">
        SELECT
            COUPON_NAME
          FROM TBL_COUPON
           JOIN TBL_COUPONLIST TC on (TBL_COUPON.COUPON_CODE = TC.COUPON_CODE)
           JOIN TBL_MEMBER TM on (TC.MEMBER_CODE = TM.MEMBER_CODE)
        WHERE TM.MEMBER_ID = #{memberId}
          AND COUPON_REGI_STATUS = 'Y'

    </select>


    <select id="selectDIsCount" resultMap="selectDIsCountResultMap">
        SELECT
            COUPON_DISCOUNT
         FROM TBL_COUPON
         WHERE COUPON_DISCOUNT =  #{ coupon }
    </select>


    <select id="selectPoint" resultMap="selectPointResultMap">
        SELECT


         NVL(A.POINT_TOTAL_AMOUNT,0) as POINT_TOTAL_AMOUNT

          FROM TBL_POINTLIST A
         right JOIN TBL_MEMBER B ON (A.MEMBER_CODE = B.MEMBER_CODE)
         WHERE B.MEMBER_ID = #{ memberId }


    </select>

    <select id="selectDelivery" resultMap="selectOrderResultMap">
        SELECT
            DELIVERY_CHARGE
          FROM TBL_ORDER
         WHERE ORDER_CODE = 15
    </select>

    <select id="selectProductPrice" resultType="_int">
        SELECT
            ORDER_PRICE
          FROM TBL_ORDER
         WHERE ORDER_CODE = 15
    </select>

    <delete id="deleteDelivery">
        DELETE
        DELIVERY_CHARGE
          FROM TBL_ORDER
         WHERE ORDER_CODE = 1
    </delete>

<!--    <select id="selectProduct" resultMap="selectProductResultMap">-->
<!--        SELECT-->
<!--            OPTION_NAME-->
<!--          , OPTION_PRICE-->
<!--          , FILE_MODIFICATION_NAME-->
<!--          FROM TBL_FUNDING_OPTIONS A-->
<!--          JOIN TBL_FUNDING_FILE B on (B.FUNDING_CODE = A.FUNDING_CODE)-->
<!--         WHERE A.FUNDING_OPTION_CODE = ${ optionCode }-->
<!--          AND  B.FILE_TYPE = '메인'-->
<!--    </select>-->

    <select id="selectCoupon" resultMap="selectProductResultMap">
        SELECT
            COUPON_DISCOUNT
          FROM TBL_COUPON
        WHERE COUPON_NAME = #{ couponName }
    </select>

    <select id="selectProduct">
        SELECT
            OPTION_PRICE
          FROM TBL_FUNDING_OPTIONS
         WHERE FUNDING_OPTION_CODE = #{ fundingOptionCode }
    </select>

    <select id="selectfundingCode" resultMap="selectFundingResultMap">
        SELECT
            FUNDING_CODE
          FROM TBL_FUNDING_OPTIONS
         WHERE FUNDING_OPTION_CODE = #{ fundingOptionCode }
    </select>

    <select id="selectCouponCode" parameterType="hashMap">
        SELECT
            COUPONLIST_CODE
         FROM TBL_COUPONLIST A
         JOIN TBL_COUPON TC on (A.COUPON_CODE = TC.COUPON_CODE)
        WHERE A.MEMBER_CODE = #{mCode}
         and TC.COUPON_NAME = #{cp}
    </select>

    <insert id="insertOrder">
        INSERT
        INTO TBL_ORDER
        (
         ORDER_CODE
         , ORDER_COUNT
         , ORDER_PRICE
         , FUNDING_CODE
         , MEMBER_CODE
         , ORDER_REQUEST
         , ORDER_DATE
         , FUNDING_OPTION_CODE
         , DELIVERY_CHARGE
         , COUPONLIST_CODE
        )
        VALUES
        (
           SEQ_ORDER_CODE.nextval
         , 1
         , #{ orderPrice}
         , #{ fundingCode }
         , #{ memberCode }
         , '배송전에 미리 연락 부탁드립니다.'
         , DEFAULT
         , #{ fundingOptionCode }
         , #{ deliveryCharge }
         , #{ couponlistCode }
        )
        <selectKey keyProperty="orderCode" resultType="_int" order="AFTER">
            SELECT
                SEQ_ORDER_CODE.currval
              FROM DUAL
        </selectKey>
    </insert>

    <insert id="insertPurchase" parameterType="HashMap">
        INSERT
          INTO TBL_PURCHASED_FUNDING_LIST
        (
         MEMBER_CODE, FUNDING_CODE, TBL_PURCHASED_FUNDING_LIST
        )
        VALUES
        (
           #{mCode}
        ,  #{fundCode}
        , SEQ_PURCHASED_FUNDING_LIST_CODE.nextval
        )
    </insert>

    <select id="selectCoupon1" parameterType="hashMap">
        SELECT
            A.COUPON_CODE
        FROM TBL_COUPONLIST A
        JOIN TBL_MEMBER TM on A.MEMBER_CODE = TM.MEMBER_CODE
        JOIN TBL_COUPON TC on A.COUPON_CODE = TC.COUPON_CODE
        WHERE TC.COUPON_NAME = #{ cp }
         AND  TM.MEMBER_CODE = #{ mCode}
    </select>

    <update id="couponUpdate" parameterType="hashMap">
        UPDATE
                TBL_COUPONLIST
        SET     COUPON_USE_STATUS = 'Y'
        WHERE COUPON_CODE = #{ couponCode }
          AND MEMBER_CODE = #{ mCode}

    </update>
    <insert id="insertPayment">
        INSERT
          INTO TBL_CREDIT
        (
         PAYMENT_CODE
         , CARD_COMPANY
         , CARD_NUMBER
         , ORDER_CODE
         , TOTAL_PRICE
        )
        VALUES
        (
            SEQ_PAYMENT_CODE.nextval
          , #{ bankName }
          , #{ bankNum}
          , #{ orderCode }
          , #{ totalPrice }
        )

        <selectKey keyProperty="paymentCode" resultType="_int" order="AFTER">
            SELECT
                SEQ_PAYMENT_CODE.currval
              FROM DUAL
        </selectKey>
    </insert>

    <update id="update" parameterType="_int">
        update TBL_FUNDING_OPTIONS
           set LIMIT_QUANTITY = LIMIT_QUANTITY - 1
         where FUNDING_OPTION_CODE = #{optionCode}
    </update>

    <insert id="insertFundingCreditList">
        INSERT
          INTO TBL_FUNDING_CREDITLIST
        (
         FUND_CREDIT_CODE
         , CREDIT_STATUS
         , CREDIT_DATE
         , PAYMENT_CODE
        )
        VALUES
        (
            SEQ_FUND_CREDIT_CODE.nextval
            , '결제완료'
            , DEFAULT
            , #{ paymentCode }
        )

    </insert>

    <select id="selectDeliveryPrice">
        SELECT
            NVL(DELIVERY_CHARGE, 0)
          FROM TBL_CREDIT A
          JOIN TBL_ORDER B ON(A.ORDER_CODE = B.ORDER_CODE)
         WHERE PAYMENT_CODE = #{ paymentCode }

    </select>

    <insert id="insertDelivery">
        INSERT
          INTO TBL_DELIVERY
        (
         DELIVERY_CODE
         , DELIVERY_NUMBER
         , DELIVERY_COMPANY
         , PAYMENT_CODE
        )
        VALUES
        (
           SEQ_DELIVERY_CODE.nextval
         , #{ deliveryNumber }
         , 'CJ대한통운'
         , #{ paymentCode }
        )

        <selectKey keyProperty="deliveryCode" resultType="_int" order="AFTER">
            SELECT
                SEQ_DELIVERY_CODE.currval
              FROM DUAL
        </selectKey>
    </insert>

    <insert id="insertDeliveryList">
        INSERT
          INTO TBL_DELIVERYLIST
        (
         DELIVERY_LIST_CODE
         , DELIVERY_STATUS
         , DELIVERY_DATE
         , DELIVERY_CODE
        )
        VALUES
        (
           SEQ_DELIVERYLIST_CODE.nextval
         , '배송준비중'
         , DEFAULT
         , #{ deliveryCode }
        )
    </insert>

    <update id="updateCoupon">
        UPDATE TBL_COUPONLIST
        SET
            COUPON_USE_STATUS = 'Y'
        WHERE MEMBER_CODE = #{ memberCode }


    </update>

    <update id="updatePoint">
        UPDATE TBL_POINTLIST
        SET POINT_TOTAL_AMOUNT = POINT_TOTAL_AMOUNT - #{ usePoint }
        WHERE MEMBER_CODE = #{ memberCode }

    </update>

    <select id="selectOption" resultMap="selectFundingOption">
        SELECT
               OPTION_NAME
             , OPTION_CONTENTS
             , OPTION_PRICE
             , LIMIT_QUANTITY
             , FUNDING_CODE
          FROM TBL_FUNDING_OPTIONS
         WHERE FUNDING_OPTION_CODE = #{ optionCode }
    </select>

    <select id="selectVIP" parameterType="_int">
        SELECT
               MEMBERSHIP_CODE
          FROM TBL_MEMBER
         WHERE MEMBER_CODE = #{ memberCode }
    </select>

    <select id="selectCatogory" parameterType="_int">
        SELECT
               CATEGORY_CODE
          FROM TBL_FUNDING
         WHERE FUNDING_CODE = #{ fundingCode }
    </select>

    <update id="insertRefundRule" parameterType="HashMap">
        UPDATE TBL_FUNDING
           SET RETURN_ROLE = #{ refundRule }
         WHERE FUNDING_CODE = #{ fundingCode }
    </update>


<!--    <select id="selectfundingCode" resultMap="selectFundingResultMap">-->

<!--    </select>-->




<!--    (SELECT *-->
<!--    FROM TBL_MEMBER-->
<!--    WHERE MEMBER_NAME = #{ membername }-->
<!--    AND MEMBER_ID = #{ memberId }-->
<!--    AND MEMBER_PWD = #{ memberPwd }-->
<!--    AND MEMBER_EMAIL = #{ memberEmail}-->
<!--    )-->


</mapper>

