<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.won.dourbest.seller.dao.SellerMapper">


<!--    <resultMap id="sellerResultMap" type="com.won.dourbest.seller.dto.SellerDTO">-->
<!--        <result property="sellerCode" column="SELLER_CODE"/>-->
<!--        <result property="accountNumber" column="ACCOUNT_NUMBER"/>-->
<!--        <result property="businessLicense" column="BUSINESS_LICENSE"/>-->
<!--        <result property="numberReported" column="NUMBER_REPORTED"/>-->
<!--        <result property="totalRevenue" column="TOTAL_REVENUE"/>-->
<!--        <result property="memberCode" column="MEMBER_CODE"/>-->
<!--        <result property="sellerSns" column="SELLER_SNS"/>-->
<!--        <result property="sellerUrl" column="SELLER_URL"/>-->
<!--        <result property="sellerKakao" column="SELLER_KAKAO"/>-->
<!--        <result property="sellerApproval" column="SELLER_APPROVAL"/>-->
<!--    </resultMap>-->

    <resultMap id="selectFundingOption" type="com.won.dourbest.seller.dto.FundingOptionDTO">
        <result property="fundingOptionCode" column="FUNDING_OPTION_CODE"/>
        <result property="optionName" column="OPTION_NAME"/>
        <result property="optionContents" column="OPTION_CONTENTS"/>
        <result property="optionPrice" column="OPTION_PRICE"/>
        <result property="limitQuantity" column="LIMIT_QUANTITY"/>
        <result property="fundingCode" column="FUNDING_CODE"/>
    </resultMap>



    <resultMap id="selectMemberResultMap" type="com.won.dourbest.user.dto.MemberDTO">
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberPhone" column="MEMBER_PHONE"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
    </resultMap>

    <resultMap id="selectAddressResultMap" type="com.won.dourbest.user.dto.AddressDTO">
        <result property="baseAddress" column="BASE_ADDRESS"/>
        <result property="detailAddress" column="DETAIL_ADDRESS"/>
        <association property="memberCode" resultMap="selectMemberResultMap"></association>
    </resultMap>

    <resultMap id="selectCouponListResultMap" type="com.won.dourbest.user.dto.UserCouponListDTO">
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="couponCode" column="COUPON_CODE"/>
        <result property="couponName" column="COUPON_NAME"/>
        <result property="couponListCode" column="COUPONLIST_CODE"/>


    </resultMap>
    <resultMap id="selectOrderResultMap" type="com.won.dourbest.user.dto.OrderDTO">
        <result property="totalPrice" column="TOTAL_PRICE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
        <result property="deliveryCharge" column="DELIVERY_CHARGE"/>
    </resultMap>

    <resultMap id="selectDIsCountResultMap" type="com.won.dourbest.user.dto.CouponDTO">
        <result property="couponDiscount" column="COUPON_DISCOUNT"/>
    </resultMap>

    <resultMap id="selectPointResultMap" type="ProductDTO">

        <result property="pointDate" column="POINT_DATE"/>
        <result property="pointStatus" column="POINT_STATUS"/>
        <result property="pointAmount" column="POINT_AMOUNT"/>
        <result property="pointTotalAmount" column="POINT_TOTAL_AMOUNT"/>
        <result property="pointCode" column="POINT_CODE"/>
        <result property="memberCode" column="MEMBER_CODE"/>
    </resultMap>

    <resultMap id="selectProductResultMap" type="ProductDTO">

        <result property="pointTotalAmount" column="POINT_TOTAL_AMOUNT"></result>
    </resultMap>




    <select id="selectMemberCode" parameterType="com.won.dourbest.user.dto.MemberDTO">
        SELECT
            MEMBER_CODE
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{ memberId }
          AND  MEMBER_NAME = #{ memberName }
          AND  MEMBER_PHONE = #{ memberPhone }
          and  MEMBER_EMAIL = #{ memberEmail }
    </select>


    <insert id="insertSeller" parameterType="com.won.dourbest.seller.dto.SellerDTO">
        INSERT
        INTO TBL_SELLER
        (
         SELLER_CODE
         , MEMBER_CODE
         , BUSINESS_LICENSE
         , NUMBER_REPORTED
         , TOTAL_REVENUE
         )
        VALUES
        (
         SEQ_SELLER_CODE.NEXTVAL
         , #{ memberCode }
         ,#{ businessLicense }
         ,0
         ,0
        )

    </insert>


    <select id="selectProductName" resultMap="selectFundingOption">
        SELECT
            A.OPTION_NAME
           ,A.OPTION_PRICE
         FROM TBL_FUNDING_OPTIONS A
        WHERE FUNDING_OPTION_CODE = 111

    </select>

    <select id="selectMember" resultMap="selectMemberResultMap">

        SELECT MEMBER_NAME,
               MEMBER_PHONE,
               MEMBER_EMAIL
        FROM TBL_MEMBER
        WHERE MEMBER_ID = #{ memberId }
    </select>

    <select id="selectAddress" resultMap="selectAddressResultMap">
        SELECT
            BASE_ADDRESS
          , DETAIL_ADDRESS
          FROM TBL_ADDRESS A
          JOIN TBL_MEMBER B on (B.MEMBER_CODE = A.MEMBER_CODE)
        WHERE MEMBER_ID = #{ memberId }
    </select>


    <select id="selectCouponList" resultMap="selectCouponListResultMap">
        SELECT
            COUPON_NAME
          FROM TBL_COUPON
           JOIN TBL_COUPONLIST TC on (TBL_COUPON.COUPON_CODE = TC.COUPON_CODE)
           JOIN TBL_MEMBER TM on (TC.MEMBER_CODE = TM.MEMBER_CODE)
        WHERE TC.MEMBER_CODE = 5
          AND COUPON_REGI_STATUS = 'Y'

    </select>


    <select id="selectDIsCount" resultMap="selectDIsCountResultMap">
        SELECT
            COUPON_DISCOUNT
         FROM TBL_COUPON
         WHERE COUPON_DISCOUNT =  #{ coupon }
    </select>


    <select id="selectPoint" resultMap="selectPointResultMap">
        SELECT


         A.POINT_TOTAL_AMOUNT

          FROM TBL_POINTLIST A
          JOIN TBL_MEMBER B ON (A.MEMBER_CODE = B.MEMBER_CODE)
         WHERE B.MEMBER_ID = #{ memberId }


    </select>

    <select id="selectDelivery" resultMap="selectOrderResultMap">
        SELECT
            DELIVERY_CHARGE
          FROM TBL_ORDER
         WHERE ORDER_CODE = 15
    </select>

    <select id="selectProductPrice" resultType="_int">
        SELECT
            ORDER_PRICE
          FROM TBL_ORDER
         WHERE ORDER_CODE = 15
    </select>

    <delete id="deleteDelivery">
        DELETE
        DELIVERY_CHARGE
          FROM TBL_ORDER
         WHERE ORDER_CODE = 1
    </delete>

    <select id="selectProduct" resultMap="selectProductResultMap">
        SELECT
            OPTION_NAME
          , OPTION_PRICE
          , FILE_MODIFICATION_NAME
          FROM TBL_FUNDING_OPTIONS A
          JOIN TBL_FUNDING_FILE B on (B.FUNDING_CODE = A.FUNDING_CODE)
         WHERE A.FUNDING_OPTION_CODE = ${ optionCode }
          AND  B.FILE_TYPE = '메인'
    </select>




<!--    (SELECT *-->
<!--    FROM TBL_MEMBER-->
<!--    WHERE MEMBER_NAME = #{ membername }-->
<!--    AND MEMBER_ID = #{ memberId }-->
<!--    AND MEMBER_PWD = #{ memberPwd }-->
<!--    AND MEMBER_EMAIL = #{ memberEmail}-->
<!--    )-->


</mapper>

