<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/user/order/detail.css}">
    <link rel="stylesheet" th:href="@{/css/common/page.css}">
    <link rel="stylesheet" th:href="@{/css/user/order/reviewModal.css}">
</head>
        <main>
            <div class="page-wrapper">
                <section>
                    <div class="page-title">
                        <h1>펀딩 세부 내역</h1>
                    </div>
                    <div class="funding-container flex-wrapper">
                        <div class="flex-wrapper">
                            <div class="funding-content flex-wrapper">
                                <div class="status">
                                    <span>펀딩완료</span>
                                </div>
                                <div class="funding-image">
                                    <a th:href="@{/funding/{id}(id=${order.fundingCode})}">
                                        <img th:src="@{/fundingImg/}+ ${order.filePath}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="funding-detail">
                            <p class="detail-title" th:text="${order.fundingTitle}"> 나는  펀딩제목펀딩제목펀딩제목펀딩제목펀딩제목펀딩제목펀딩제목펀딩제목 </p>
                            <div>
                                <p>
                                    <span>옵션</span>
                                    <span th:text="${order.optionName}">옵션내용용용</span>
                                </p>
                                <p>
                                    <span>구매날짜</span>
                                    <span th:text="${order.changeDate}">2023.06.18</span>
                                </p>
                                <p>
                                    <span>수량</span>
                                    <span >3개</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="funding-info flex-wrapper">
                        <div class="finding-credit">
                            <h2 class="info-title">결제 정보</h2>
                            <ul>
                                <li>
                                    <p>결제 번호</p>
                                    <p th:text="${credit.paymentCode}">1232</p>
                                </li>
                                <li>
                                    <p>결제 금액</p>
                                    <p th:text="|${credit.orderPrice}원|">30,000원</p>
                                </li>
                                <li>
                                    <p>쿠폰 사용 금액</p>
                                    <p th:text="|${credit.couponListCode}원|">- 0원</p>
                                </li>
                                <li>
                                    <p>포인트 사용 금액</p>
                                    <p th:text="|${credit.pointAmount}원|">- 0원</p>
                                </li>
                                <li>
                                    <p>배송비</p>
                                    <p th:text="|${credit.deliveryCharge}원|">0원</p>
                                </li>
                                <li>
                                    <p>총 금액</p>
                                    <p th:text="|${credit.totalPrice}원|">30,000원</p>
                                </li>
                            </ul>
                        </div>
                        <div class="delivery-info">
                            <h2 class="info-title">배송 정보</h2>
                            <ul>
                                <li>
                                    <p>이름</p>
                                    <p th:text="|${credit.memberName}|">김아무개</p>
                                </li>
                                <li>
                                    <p>연락처</p>
                                    <p th:text="|${credit.memberPhone}|">010-1111-2222</p>
                                </li>
                                <li>
                                    <p>배송지</p>
                                    <p>
                                        <span th:text="|[${credit.zipCode}] ${credit.baseAddress}|">[우편번호] 메인주소</span><br>
                                        <span th:text="|${credit.detailAddress}|">상세주소상세주소상세주소</span>
                                    </p>
                                </li>
                                <li class="">
                                    <p>배송상태</p>
                                    <p class="delivery-status" th:text="|${credit.deliveryStatus}|">배송 중</p>
                                </li>
                                <li class="">
                                    <p>운송장번호</p>
                                    <p class="" th:text="${credit.deliveryNumber}">12323123</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="funding-btnContainer flex-wrapper">
                        <button th:disabled="${reviewCount == 1} ? 'disabled'" id="reviewBtn" class="reviewBtn">후기 작성</button>
                        <div class="reviewmodal">
                            <div class="modal-container">
                                <div class="modal-content">
                                    <span class="review-close">&times;</span>
                                    <h2 class="modal-title">리뷰작성</h2>
                                    <form class="mb-3 reviewform" name="reviewform" id="reviewform" method="post">
                                        <fieldset>
                                            <span class="text-bold">별점을 선택해주세요</span>
                                            <input type="radio" name="reviewStar" value="5" id="rate1">
                                            <label for="rate1">★</label>
                                            <input type="radio" name="reviewStar" value="4" id="rate2">
                                            <label for="rate2">★</label>
                                            <input type="radio" name="reviewStar" value="3" id="rate3">
                                            <label
                                                for="rate3">★</label>
                                            <input type="radio" name="reviewStar" value="2" id="rate4"><label
                                                for="rate4">★</label>
                                            <input type="radio" name="reviewStar" value="1" id="rate5"><label
                                                for="rate5">★</label>
                                        </fieldset>
                                        <div>
                                            <textarea class="col-auto form-control reviewContents" name="content" type="text" id="reviewContents" placeholder="최소10이상 작성해주세요!!" maxlength="3000"></textarea>
                                            <span class="reviewbadge">
                    
                                            </span>
                                        </div>
                                        <div class="file-container">
                                            <label for="reviewimgInput">
                                                <span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#f35f4c}</style><path d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg> 후기 이미지</span>
                                            </label>
                                            <input type="file" id="reviewimgInput" name="uploadFile" onchange="ReviewreadURL(this)" multiple>
                                            <div class="reviewDiv"></div>
                                        </div>
                                        <input type="hidden" name="funding" th:value="${order.fundingCode}">
                                        <button class="review-submit" type="button">작성완료</button>
                                    </form>
                                </div>	
                            </div>
                        </div>                    
                        <button class="contactBtn">1:1 판매자 문의</button>
                        <div class="contactmodal">
                            <div class="modal-container">
                                <div class="modal-content">
                                    <span class="contact-close">&times;</span>
                                    <h2 class="modal-title">1:1 문의</h2>
                                    <form class="mb-3 contact" name="contact" id="contact" method="post">
<!--                                        <label for=""></label>-->
                                        <select name="contactCode" id="contactCode">
                                            <option value="">선택</option>
                                            <option th:each="cate : ${contactCategory}" th:value="${cate.categoryCode}" th:text="${cate.categoryName}"></option>
                                        </select>
                                        <input type="text" class="contact-title" placeholder="제목">
                                        <textarea class="col-auto form-control contactContents" type="text" id="contactContents" placeholder="최소10이상 작성해주세요!!" maxlength="3000"></textarea>
                                        <button class="contact-submit" type="button">제출</button>
                                    </form>
                                </div>	
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <!-- 푸터 -->
    <script th:src="@{/js/common/reviewModal.js}"></script>
    <script th:inline="javascript">

        let reviewList = [];

        $('#reviewimgInput').on("change", reviewImgFileSelect);


        function reviewImgFileSelect(e){

            reviewList = [];
            $(".reviewDiv").empty();

            let files = e.target.files;
            let filesArr = Array.prototype.slice.call(files);


            console.log(files);
            filesArr.forEach(function (file, index) {
                if(!(file.type.match("image.*"))) {
                    alert("확장자는 이미지 확장자만 가능합니다.");
                    return;
                }
                reviewList.push(file);
                ReviewreadURL(file,index);
            });
        }


        function reviewImgDel(index){
            reviewList.splice(index,1);
            console.log(reviewList);
            let img = "#reviewimgId-"+index;
            $(img).remove();
        }


        $('.contact-submit').click(
            function (){
                let formData = new FormData();
                let categoryCode = $("#contactCode option:selected").val();
                const contactContents = $('.contactContents').val();
                const title = $('.contact-title').val();

                if (categoryCode === null || categoryCode === ''){
                    alert("옵션을 선택해주세요")
                    return;
                }

                if(contactContents.length < 10){
                    alert("10자이상 작성하세요!!!");
                    return;
                }

                formData.append("categoryCode", categoryCode);
                formData.append("inquiryTitle", title)
                formData.append("fundingCode", [[${order.fundingCode}]])
                formData.append("inquiryContent", contactContents)
                formData.append("memberCode", [[${credit.memberCode}]])

                $.ajax({
                    url: '/write/seller',
                    method: 'post',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(e){
                        closeContactModal();
                    },
                    error: function (e){
                        console.log(e);
                    }
                });


            }
        );

        $('.review-submit').click(
                function (){
                    let formData = new FormData();
                    const reviewStar =  $('input[name=reviewStar]:checked').val();
                    const reviewContents = $('.reviewContents').val();

                    formData.append("content", reviewContents);
                    formData.append("fundingCode", [[${order.fundingCode}]])
                    formData.append("reviewStar", reviewStar)
                    formData.append("memberCode", [[${credit.memberCode}]])

                    reviewList.forEach(function (value){
                        formData.append("uploadFile",value);
                    });

                    $.ajax({
                        url: '/write/review',
                        method: 'post',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(e){
                            closeReviewModal();
                            // alert("리뷰작성완료!!");
                            location.reload();
                        },
                        error: function (e){
                            console.log(e);
                        }
                    });
                }
        );


    </script>
</html>