<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" th:href="@{/css/common/page.css}">
    <link rel="stylesheet" th:href="@{/css/user/mypage/membership.css}">
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<main style="height: 650px">
    <div class="blur">
    </div>
    <div class="main" id="main">
        <div class="flex-wrapper">
            <h1 class="membership-title">DOURBEST의 프리미엄회원 <br>
                혜택을 만나보세요!</h1>
            <div>
                <ul>
                    <li class="membership">
                        <div class="membership-list">
                            <div class="benefit">
                                <span>01</span>
                                <strong>주문하는 펀딩은 <br>
                                    전부 무료배송
                                </strong>
                            </div>
                            <div>
                                <img src="/free-animated-icon-truck-6416387.png" alt="" >
                            </div>
                        </div>
                    </li>
                    <li class="membership">
                        <div class="membership-list">
                            <div class="benefit">
                                <span>02</span>
                                <strong>매월 <br>
                                    5%, 10% 할인쿠폰 제공
                                </strong>
                            </div>
                            <div>
                                <img src="/free-icon-coupon-6737610.png" alt="" >
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="regist-button">
                    <button th:onclick="requestPay()" class="regist" >VIP 멤버십 가입</button>
                </div>
            </div>
        </div>
    </div>
    <div class="particles" id="particles"></div>
</main>
<script th:inline="javascript">
    function requestPay() {
        IMP.init('imp84214446');
        $.ajax({
            method: 'post',
            url: "/membership/credit",
            data: {memberCode: [[${member.memberCode}]]},
            success: function (data) {
                IMP.request_pay({
                        pg: "kakaopay",
                        pay_method: "card",
                        merchant_uid: 'merchant_' + new Date().getTime(), //주문번호
                        name: '프리미엄멤버십 정기결제', //상품명
                        amount: 4400,
                        customer_uid: [[${member.memberId}]] + new Date().getTime(),
                        buyer_email: [[${member.memberEmail}]],
                        buyer_name: [[${member.memberId}]],
                        buyer_tel: [[${member.memberPhone}]],
                        buyer_addr: [[${member.address.baseAddress}]],
                        buyer_postcode: [[${member.address.zipcode}]]
                    },
                    function (rsp) {
                        $.ajax({
                            type  : "POST",
                            url : "/membership/verifyIamport/" + rsp.imp_uid
                        }).done(function(data) {
                            console.log(data);
                            if(4400 == data.response.amount){
                                alert("결제 및 결제검증완료");

                                let result = JSON.stringify({
                                    memberCode: [[${member.memberCode}]],
                                    cardCompany : data.response.pg_provider,
                                    paymentNumber : data.response.merchant_uid,
                                    paymentDate : new Date(data.response.paid_at * 1000),
                                    memberStatus: data.response.status
                                });

                                let msg;
                                if (rsp.success) {
                                    msg = '결제가 완료되었습니다.';
                                    alert(msg);
                                    $.ajax({
                                        method: 'post',
                                        url: "/membership/rank",
                                        data: result,
                                        contentType: "application/json",
                                        success: function (data) {
                                            console.log(data);
                                        },
                                        error: function (data) {
                                            console.log(data);
                                        }
                                    });
                                    // location.href = "/mypage"
                                } else {
                                    msg = '결제에 실패하였습니다.';
                                    msg += '에러내용 : ' + rsp.error_msg;
                                    alert(msg);
                                }
                            } else {
                                alert("결제금액이 다릅니다.");
                            }
                        });
                    }
                );
            },
            error: function (data) {
                alert(data.responseJSON.message)
                console.log(data);
            }
        });
    }
</script>
<script th:src="@{/js/user/member/membership.js}"></script>

</html>