<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/user/mypage/mypage.css}">
  <link rel="stylesheet" th:href="@{/css/user/login.css}">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script> <!-- 주소 검색 스크립트 주소   -->
</head>
<div class="wrapper">
  <!-- 메인 -->
  <main>
    <!-- 회원 탈퇴 성공페이지  -->
    <section>
      <div class="login">
        <div class="pagetitle">
          <h1>회원가입 완료</h1>
        </div>
        <div class="inputboxs">
          <div class="findIdresult" style="text-align: center">
                            <span>
                                <br><br>
                                <h1 style="font-size: 30px ; text-align: center" >회원가입이 완료 되었습니다.</h1>
                                <br> DourBest를 통해 당신의 건강을 찾아보세요.
                                <br><br><h3 style="color: red">VIP 멤버십으로 전환하면 더 많은 혜택을 받으 실 수 있습니다.</h3>
                                <p>멤버십 전환은 로그인 후 가능합니다.</p>
                            </span>
          </div>
          <div class="buttons">
            <div>
              <a th:href="@{/user/login}">
                <button class="signupButton" type="button">로그인하러 가기
                </button>
              </a>
            </div>
              <div>
                  <a th:href="@{/}">
                      <button class="signupButton" type="button">메인으로 가기
                      </button>
                  </a>
              </div>
          </div>
        </div>
      </div>
</div>
</div>
</section>
</div>
</main>
<script th:src="@{/js/user/member/check.js}"></script>
</div>
</html>