<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<header th:fragment="adminHeader">
<div class="wrapper">
  <!-- 헤더 -->
  <header>
    <div class="header-container">
      <!-- 헤더 상단 메뉴 -->
      <div class="header-top">
        <div>
          <img th:onclick="|location.href='@{/}'|" class="logo" th:src="@{/images/common/logo.jpeg}" alt="DourBest로고">
        </div>
        <div>
          <div>
            <img class="adminlogo" th:src="@{/images/admin/adminlogo.png}" alt="admin로고">
          </div>
          <div class="adminName">
            <div sec:authentication="principal.username"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
