<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- 푸터 -->
    <footer th:fragment="footerFragment" id="footerType" class="footer__wrap section gmarket gray">
        <h2 class="ir_so">푸터 영역</h2>
        <div class="footer__inner container">
            <div class="footer__menu">
                <div>
                    <h3>About Us</h3>
                    <ul>
                        <li>
                            <a href="">
                                언제까지 힘들게 건강 관리할래? 힘들기 만한 건강 관리? 너무 비싼 웰빙푸드? 시간 과 돈이 없어 운동을 하지 못하는 변명을 가진 이들을 위한 건강 헬스 크라우드펀딩 내 손안에 펼쳐지는 건강한 삶을 다워베스트에서 찾아보세요!
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3>Contact Us</h3>
                    <ul>
                        <li><a href="#"><i class="fas fa-map-marker-alt"></i> 서울 종로구 종각역</a></li>
                        <li><a href="#"><i class="fas fa-phone"></i> 010-0000-0000</a></li>
                        <li><a href="#"><i class="fas fa-envelope"></i> DourBest@best.com</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> DourBest_official</a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i> DourBest_fb</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Terms of service</h3>
                    <ul>
                        <li><a href="#">공통 정책</a></li>
                        <li><a href="#">DourBest 정책·약관</a></li>
                        <li><a href="#">DourBest 개인정보처리방침</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Links</h3>
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">FUNDING</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">NOTICE</a></li>
                        <li><a href="#">EVENT</a></li>
                    </ul>
                </div>

            </div>
            <address class="footer__right">
                ©2023 DourBest. All rights reserved.
            </address>
        </div>
    </footer>
</body>
</html>