<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="headerFragment">
  <div class="header-container flex-wrapper">
    <!-- 헤더 상단 메뉴 -->
    <div class="header-top flex-wrapper">
      <h1>
        <a href="javascript:void(0);">
          <img class="logo" th:src="@{/images/common/logo.jpeg}" src="./resources/img/logo.jpeg" alt="DourBest로고">
        </a>
      </h1>
      <div class="header-menu">
        <ul class="flex-wrapper">
          <li><a href="/">펀딩오픈</a></li>
          <li><a href="/">로그인</a></li>
          <li><a href="/">회원가입</a></li>
        </ul>
      </div>
    </div>
    <!-- 헤더 하단 메뉴 -->
    <nav>
      <div class="menu-container flex-wrapper">
        <div class="header-bottom">
          <ul class="flex-wrapper">
            <li><a href="#">오픈펀딩</a></li>
            <li><a href="#">오픈예정펀딩</a></li>
            <li><a href="#">공지사항</a></li>
            <li><a href="#">고객센터</a></li>
            <div class="indicator"></div>
          </ul>
        </div>

        <div class="search-form">
          <form action="" class="flex-wrapper">
            <input type="search" placeholder="Search">
            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #e54944;"></i></button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</header>
</html>