<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<header th:fragment="serviceCategoryHeader">
  <div class="wrapper">
    <!-- 헤더 -->
    <header>
      <div class="header-container">
        <!-- 헤더 상단 메뉴 -->
        <div class="header-top">


            <img id="headerlogo" th:src="@{/images/common/logo.jpeg}" alt="DourBest로고">

          <button class="contactBtn">문의 등록</button>
          <div class="contactmodal">
            <div class="contactmodal-container">
              <div class="contactmodal-content">
                <span class="close">&times;</span>
                <h2 class="contactmodal-title">1:1 문의</h2>
                <form class="mb-3 contact" name="contact" id="contact" method="post">
                  <label for=""></label>
                  <select name="contactCode" id="contactCode">
                    <option value="">회원 정보 문의</option>
                    <option value="">결제 문의</option>
                    <option value="">쿠폰/포인트 문의</option>
                    <option value="">상품/배송 문의</option>
                    <option value="">멤버십 문의</option>
                    <option value="">교환·AS 문의</option>
                    <option value="">취소·환불·반품 문의</option>
                    <option value="">서비스 이용 문의</option>
                  </select>
                  <textarea class="col-auto form-control contactContents" type="text" id="" placeholder="최소10이상 작성해주세요!!" maxlength="3000"></textarea>
                  <div class="file-container">
                    <label for="contact-imgInput">
                      <span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#f35f4c}</style><path d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>문의 이미지</span>
                    </label>
                    <input type="file" id="contact-imgInput" onchange="contactreadURL(this)">
                    <div class="contact-imgdiv"></div>
                  </div>
                  <button class="" type="submit">제출</button>
                </form>
              </div>
            </div>
          </div>

          <div id="mainGo">
            메인페이지
          </div>

        </div>
      </div>

    </header>
  </div>
</header>