.board_list_wrap{
    margin-bottom: 30px;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}

.board_list > div:last-child {
    border-bottom: 1px solid #000;
}


.board_list > div.top > div {
    font-weight: 600;
    font-size: 1.4rem ;
}

.board_list .num {
    width: 5%;
    text-align: center;
    font-size: 1.4rem ;
}

.board_list .title {
    width: 50%;
    text-align: left;
    font-size: 1.4rem ;
}

.title> a{
    font-size: 1.4rem ;
}


.board_list .top .title {
    text-align: center;
}

.board_list .date {
    width: 30%;
    font-size: 1.4rem ;

}

.board_list .count {
    width: 15%;
    font-size: 1rem ;
}

.board-content{
    display: flex;
    align-items: center;
}

.board-content > div{
    text-align: center;
    padding: 10px 0px;
}




.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

.board_page a:first-child {
    border-left: 1px solid #ddd;
}


@media (max-width: 880px) {

    .board_list .num{
        width: 10%;
    }
    .board_list .title{
        width: 45%;
    }
}

/*@media (max-width: 880px) {*/

/*    .board_list .num{*/
/*        width: 10%;*/
/*    }*/
/*    .board_list .title{*/
/*        width: 45%;*/
/*    }*/
/*}*/