.page-wrapper{
    padding: 0px 1em;
}

.page-title{
    margin-bottom: 20px;
}

.page-title h1{
    font-size: 25pt;
    padding-bottom: 15px;
    border-bottom: 1px solid #b4b4b4;
}

.page-content{
    padding-top: 24px;
}

.filter-wrapper ul{
    display: flex;
}

.filter-wrapper ul li{
    padding-right: 10px;
}

.filter-wrapper ul li a, .back-mypage a{
    display: block;
    position: relative;
    top: 0px;
    background-color: #ffd2c4;
    padding: 12px;
    color: #676767;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all .1s ease-in;
}

.back-mypage{
    text-align: center;
}
.back-mypage a{
    display: inline-block;
}

.filter-wrapper ul li a:hover, .back-mypage a:hover, .active{
    top: -2px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    background-color: #f35f4c;
    color: #fff;
}

/* 쿠폰 */
.coupon-container{
    font-size: 1.2em;
}

.coupon-regi{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.coupon-regi button{
    position: relative;
    display: block;
    top: 0;
    transition: all .1s ease-in;
    background-color: #e5e5e5;
    padding: 15px;
    border-radius: 15px;
    font-size: 1.125em;
    font-weight: bold;
    margin-right: 20px;
    transition: 0.5s;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
}

.coupon-regi button:hover{
    top: -2px;
    background-color: #f35f4c;
    color: #fff;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.coupon-item-wrapper{
    border: 1px solid #f35f4c;
    border-radius: 15px;
    flex: 1;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.coupon-item{
    padding: 20px;
}

.discount{
    font-size: 1.7em;
    font-weight: bold;
    color: #f35f4c;
    margin-bottom: 10px;
}

.discount-text{
    font-size: 1.1em;
    color: #797474;
    margin-bottom: 10px;
}

.coupon-count > strong, .coupon-count strong span{
    font-size: 1.8rem;
}
.coupon-count strong span{
    color: #f35f4c;
}

.coupon-desc > span{
    padding-right: 10px;
}


.coupon-count{
    margin-bottom :24px;
}

.no-list{
    font-size: 20px;
    font-weight: 600;
    color: #8c8c8c;
    padding: 80px 0px;
}


