#reviewform fieldset, #contact fieldset{
    display: inline-block;
    direction: rtl;
    border:0;
}
#reviewform fieldset legend, #contact fieldset legend{
    text-align: right;
}
#reviewform input[type=radio], #contact input[type=radio]{
    display: none;
}
#reviewform fieldset label, #contact fieldset label{
    font-size: 3em;
    color: transparent;
    text-shadow: 0 0 0 #f0f0f0;
}
#reviewform fieldset label:hover, #contact fieldset label:hover{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewform fieldset label:hover ~ label, #contact fieldset label:hover ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
#reviewform fieldset input[type=radio]:checked ~ label, #contact fieldset input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
}
.reviewContents, .contactContents {
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1.5px #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    margin-bottom: 5px;
}
.contact-close, .review-close {
    color: #aaaaaa;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    top: 0px;
    right: 10px;
    transition: all .1s ease-in;
}

.contact-close:hover, .review-close:hover,
.review-close:focus, .contact-close:focus {
    color: #f35f4c;
    text-decoration: none;
    cursor: pointer;
}

.modal-title, .contactmodal-title{
    font-weight: bold;
    font-size: 28px;
}
.modal-content, .contactmodal-content{
    position: relative;
    background-color: #fefefe;
    padding: 40px;
    width: 500px;
    height: fit-content;
    border: 1px solid #888;
    border-radius: 16px;
}
.modal-container, .contactmodal-container{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.reviewmodal, .contactmodal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-title, .contactmodal-title{
    margin-top: 0px;
}

.reviewDiv, .contact-imgdiv{
    display: inline-flex;
    position: relative;
    height: 100%;
    margin-bottom: 20px;
}

.file-container{
    overflow-x: auto;
    flex-direction: column;
    margin-bottom: 10px;
}

.file-container input[type=file]{
    display: none;
}

.file-container label{
    font-size: 1.2em;
    display: block;
    cursor: pointer;
    padding: 3px;
}
.file-container span{
    position: relative;
    top: 0px;
    display: inline-block;
    font-size: 12px;
    border: 1px solid #f35f4c;
    border-radius: 15px;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
    transition: all .15s ease-in;
}

.file-container span:hover{
    top:-2px;
}

.reviewform button[type=submit], .contact button[type=submit]{
    position: relative;
    top: 0;
    display: block;
    color: #fff;
    width: 100%;
    padding: 12px;
    background-color: #f35f4c;
    border: 0px;
    border-radius: 15px;
    letter-spacing: 0.08em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
    transition: all .15s ease-in;
}

.reviewform button[type=submit]:hover, .contact button[type=submit]:hover{
    top: -2px;
}

.contact select{
    border: solid 1.5px #b4b4b4;
    border-radius: 5px;
    padding: 5px 10px;
    display: block;
    width: 100%;
    margin-bottom: 12px;
}

.funding-btnContainer{
    justify-content: center;
    margin-bottom: 20px;
}

.funding-btnContainer > button{
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    background-color: #f35f4c;
    border-radius: 15px;
    color: #fff;
    flex: 1;
}

.funding-btnContainer > button:nth-child(1){
    margin-right: 20px;
}