section{
    margin-bottom: 50px;
}
.main-slider{
    position: relative;
    height: 400px;
}

.swiper {
    width: 100%;
    height: 100%;
    position: static;
}

.swiper-wrapper{
    padding: 10px 0px;
}

.swiper-slide > a {
    position: relative;
    background: #f2f4f6 no-repeat center/100%;

    display: block;
    height: 100%;
    width: 100%;
}


.swiper-slide > a > div {
    position: absolute;
    bottom: 10%;
    left: 30px;
    width: 100%;
}

.swiper-slide > a > div p {
    text-align: left;
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.summary p:nth-child(1){
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
}
.summary p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}


/* 메인 리스트  */
.list-container{
    width: 100%;
    padding: 0px 80px;
}

.list-wrpper, .top-list, .grid-item{
    width: 100%;
}

.list-container h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 0px 40px;
}



/* 배너 */

.main-banner{
    /* 임시 */
    background-image: url("/static/images/common/heart.jpg") ;
    background-color: #b4b4b4;


}

.main-banner > h2 {
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
}

.banner-inner{

    background-image: url("/static/images/common/rest-person.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.banner-inner .title {
    font-size: 40px;
    line-height: 1;
    font-weight: 300;
    padding: 20px;
    color: black;
}

.banner-inner a {
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffd2c4;
    color: #fff;
    transition: 0.5s;

}

.banner-inner p {
    font-size: 20px;
    padding: 20px 0px;
    border-radius: 10px;
    color: black;
}

.banner-inner a:hover{
    background-color: #f35f4c;
}


/* .banner-inner .small {
    font-size: 16px;
    text-decoration: underline;
} */


/* 펀딩 리스트 */
.funding{
    position: relative;
    padding: 0px 80px;
}

.item-thumb{

    /*background-image: url("/resources/img/common/rest-person.jpeg");*/
    background-size: cover;
    padding-bottom: 70%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.swiper-button-next, .swiper-button-prev{
    background-color: #fff;
    padding: 15px 5px;
    border-radius: 20px;
    color: #f35f4c;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 1.1rem;
    font-weight: 600;
}

.item-wrapper{
    display: flex;
    flex-direction: column;
    color: #444;
    position: relative;
    top: 0;
}

.item article {
    padding: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}


/*   */

.funding h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 0px 40px;
}


.card-img-top {

    height: 15rem;
    object-fit: cover;
}