.submenu-container ul{
    justify-content: center;
}

.submenu-container ul li{
    flex-basis: 100px;
    padding: 10px;
}

.submenu-container ul li a{
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #b4b4b4;
    padding: 10px 0px;
    transition: ease-out 0.2s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    font-weight: bold;
}

.submenu-container ul li a:hover{
    top: -2px;
    background-color: #e5e5e5;
    color: #f35f4c;
}

.cate-img{
    margin-bottom: 5px;
}

.cate-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.cate-main span{
    font-size: 24px;
    font-weight: bold;
}

.order li a{
    /* padding: 20px; */
    padding: 0px 10px;
    font-size: 16px;
}

.order li:not(:nth-child(3)){
    border-right: 1px solid #b4b4b4;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #3f3f3f;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}