<!DOCTYPE html>
<html th:replace="~{/layouts/adminbase :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
</head>
<!-- 메인 -->
<main>
    <!-- 메뉴 -->
    <div class="menu">

        <!-- 사이드 메뉴-->
        <div id="sideMenuBar">
            <!-- 사이드 메뉴 항목 -->
            <div id="sideMenuContainer">
                <div th:onclick="|location.href='@{/admin/admin}'|" id="sidebutton1" class="sideMenuButton">
                    계정 관리
                </div>
                <div th:onclick="|location.href='@{/admin/applied}'|" id="sidebutton2" class="sideMenuButton">
                    펀딩 목록 관리
                </div>
                <div th:onclick="|location.href='@{/admin/allPrice}'|" id="sidebuttonMain" class="sideMenuButton">
                    결제 통계 확인
                </div>
                <div th:onclick="|location.href='@{/admin/notice}'|" id="sidebutton4" class="sideMenuButton">
                    공지사항
                </div>
                <div th:onclick="|location.href='@{/admin/reportDetails}'|" id="sidebutton5" class="sideMenuButton">
                    고객 문의
                </div>
                <div th:onclick="|location.href='@{/admin/Issuance}'|" id="sidebutton6" class="sideMenuButton">
                    쿠폰 관리
                </div>
            </div>
        </div>
        <!-- 메인 메뉴 -->
        <section>
            <div id="backgroundpage">
                <!-- 메인 메뉴 항목-->
                <div id="mainMenuContainer">
                    <div th:onclick="|location.href='@{/admin/allPrice}'|" id="mainMenuButton1" class="mainMenuButton" >
                        총 통계 금액 순 목록
                    </div>
                    <div th:onclick="|location.href='@{/admin/allViews}'|" id="mainMenuContainernotfirst" class="mainMenuButton">
                        총 통계 조회수 순 목록
                    </div>
                    <div th:onclick="|location.href='@{/admin/allLikes}'|" id="mainMenuButton3" class="mainMenuButton">
                        총 통계 좋아요 순 목록
                    </div>
                    <div th:onclick="|location.href='@{/admin/monthPrice}'|" id="mainMenuButton4" class="mainMenuButton">
                        월 통계 금액 순 목록
                    </div>
                    <div th:onclick="|location.href='@{/admin/monthViews}'|" id="mainMenuButton5" class="mainMenuButton">
                        월 통계 조회수 순 목록
                    </div>
                    <div th:onclick="|location.href='@{/admin/monthLikes}'|" id="mainMenuButton6" class="mainMenuButton">
                        월 통계 좋아요 순 목록
                    </div>
                </div>

                <!-- 펀딩 제목 검색 버튼 -->
                <div class="memberIDSearchContainer">
                    <div id="memberID" class="memberIDButton">
                        제목
                    </div>
                    <input type="hidden" name="currentPage" value="1">

                    <form method="get", action="/admin/allViews">
                        <input type="search" placeholder="검색하실 펀딩의 제목을 입력해주세요" id="inputID" class="memberIDButton" name="searchValue">
                        <input type="submit"  id="searchButton" class="memberIDButton" value="검색"/>
                    </form>


                </div>
                <!-- 조회 결과 페이지 -->
                <div class="listPage">


                    <div class="SortationContainer">
                        <div id="Sortation1" class="SortationList">
                            아이디
                        </div>
                        <div id="Sortation2" class="SortationList">
                            이메일
                        </div>
                        <div id="Sortation3" class="SortationList">
                            펀딩 제목
                        </div>
                        <div id="Sortation4" class="SortationList">
                            조회수
                        </div>
                        <div id="Sortation5" class="SortationList">
                            금액
                        </div>
                        <div id="Sortation6" class="SortationList">
                            좋아요
                        </div>
                    </div>

                    <div th:each="statiAllViews : ${statiAllViewsList}" class="table">
                        <div th:text="${statiAllViews.getMemberId()}" id="adminAccount1"></div>
                        <div th:text="${statiAllViews.getMemberEmail()}" id="adminAccount2"></div>
                        <div th:text="${statiAllViews.getFundingTitle()}" id="adminAccount3"></div>
                        <div th:text="${statiAllViews.getTotalPrice()}" id="adminAccount4"></div>
                        <div th:text="${statiAllViews.getViews()}" id="adminAccount5"></div>
                        <div th:text="${statiAllViews.getLikes()}"  id="adminAccount6"></div>
                    </div>

                    <!-- 페이지 처리 -->
                    <div class="board_page" align="center">
                        <!-- 맨 앞으로 이동 버튼 th:disabled로 인해 현재 페이지가 1페이지인 경우 비활성화 한다.-->
                        <a class="bt first"
                           th:onclick="'location.href=\'/admin/allViews?currentPage='+ @{${selectCriteria.startPage}} + '\''"
                           th:disabled="${selectCriteria.pageNo == 1}"
                        >
                            <<
                        </a>
                        <!-- 이전 페이지 버튼 th:disabled로 인해 현재 페이지가 1페이지인 경우 비활성화 한다.-->
                        <a  class="bt prev"
                            th:onclick="'location.href=\'/admin/allViews?currentPage='+ @{${selectCriteria.pageNo - 1}} + '\''"
                            th:disabled="${selectCriteria.pageNo == 1}"
                        >
                            <
                        </a>
                        <!-- 숫자 버튼 th:disabled로 인해 현재페이지랑 같은 숫자의 버튼을 비활성화 한다. -->
                        <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                            <a class="num"
                                    th:text="${ page }"
                                    th:onclick="'location.href=\'/admin/allViews?currentPage='+ @{${page}} + '\''"
                                    th:disabled="${ selectCriteria.pageNo eq page }">
                            </a>
                        </th:block>

                        <!-- 다음 페이지 버튼 th:disabled로 인해 현재 페이지가 마지막 페이지인 경우 비활성화 한다-->
                        <a class="bt next"
                           th:onclick="'location.href=\'/admin/allViews?currentPage='+ @{${selectCriteria.pageNo + 1}} + '\''"
                           th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
                        >
                            >
                        </a>
                        <!-- 마지막 페이지로 이동 버튼 th:disabled로 인해 현재  페이지가 마지막 페이지인 경우 비활성화 한다. -->
                        <a class="bt last"
                           th:onclick="'location.href=\'/admin/allViews?currentPage='+ @{${selectCriteria.maxPage}} + '\''"
                           th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}"
                        >
                            >>
                        </a>
                    </div>



                </div>
            </div>
        </section>
    </div>
    <script>

    </script>

</main>