<!DOCTYPE html>
<html th:replace="~{/layouts/serviceCategoryBase :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/admin/serviceCategoryBase.css}">
</head>
<main>
<!-- 배너 -->
<div class="paymentBanner">

    <div class="categoryName">
        DourBest 고객센터
    </div>

    <input class="searchpayment" type="text" placeholder="결제의 궁금한 점을 검색해보세요.">

</div>



<!-- 메인 컨테이너 -->
<div class="maincontainer">
    <div>
        <div class="categoryName2">
            쿠폰·포인트
        </div>
        <!-- 자주묻는 질문 컨테이너-->
        <div>

            <div class="menufirst">이용권 만료 후 기본 용량을 초과하여 파일 보관 시 이용 제한 안내</div>
            <p class="content">기존에는 유료 상품(이용권)이 만료 후 60일이 지나야 '탐색기' , '감상' , '파일 다운로드' 등이 정지되었는데요.

                ​

                2022년 9월 29일부터 기본으로 제공되는 30GB(메일로 보낸 용량 포함)을 초과하여 파일을 보관하고 있을 경우 MYBOX의 주요 기능들이 즉시 제한됩니다.

                ​

                ※ MYBOX 유료 이용권을 사용 중이시거나, 이용권이 만료되더라도 30GB 이하로 사용 시에는 기능 제한이 되지 않으니 참고 부탁드립니다.

                ​

                - 파일 올리기, 내려받기 불가

                - 보관된 파일 확인, 사진/동영상 감상 불가

                - 파일 공유 및 외부로 보내기 불가

                - 함께보기 이용 불가

                - MYBOX 탐색기(PC, Mac) 이용 불가

                ​

                2022년 9월 29일부터는 모든 사용자가 용량 초과 즉시 기능이 제한되오니 양지하여 주시기 바랍니다.

                ​

                파일의 안전한 보관과 MYBOX의 주요 기능을 계속해서 이용하시기 위해서 이용권 만료 전 반드시 이용권 재구매를 권해드립니다.

                ​

                더 이상 이용권 구매를 원하지 않으신다면 기본 용량 이하로 파일을 정리해주셔야 정상적으로 서비스를 이용하실 수 있습니다.

                ​

                관련하여 궁금하신 점이 있으시다면 아래 링크를 눌러 문의해주세요.
            </p>


            <div class="menusecond">이용권 만료 후 기본 용량을 초과하여 파일 보관 시 이용 제한 안내</div>
            <p class="content"> 기존에는 유료 상품(이용권)이 만료 후 60일이 지나야 '탐색기' , '감상' , '파일 다운로드' 등이 정지되었는데요.

                ​

                2022년 9월 29일부터 기본으로 제공되는 30GB(메일로 보낸 용량 포함)을 초과하여 파일을 보관하고 있을 경우 MYBOX의 주요 기능들이 즉시 제한됩니다.

                ​

                ※ MYBOX 유료 이용권을 사용 중이시거나, 이용권이 만료되더라도 30GB 이하로 사용 시에는 기능 제한이 되지 않으니 참고 부탁드립니다.

                ​

                - 파일 올리기, 내려받기 불가

                - 보관된 파일 확인, 사진/동영상 감상 불가

                - 파일 공유 및 외부로 보내기 불가

                - 함께보기 이용 불가

                - MYBOX 탐색기(PC, Mac) 이용 불가

                ​

                2022년 9월 29일부터는 모든 사용자가 용량 초과 즉시 기능이 제한되오니 양지하여 주시기 바랍니다.

                ​

                파일의 안전한 보관과 MYBOX의 주요 기능을 계속해서 이용하시기 위해서 이용권 만료 전 반드시 이용권 재구매를 권해드립니다.

                ​

                더 이상 이용권 구매를 원하지 않으신다면 기본 용량 이하로 파일을 정리해주셔야 정상적으로 서비스를 이용하실 수 있습니다.

                ​

                관련하여 궁금하신 점이 있으시다면 아래 링크를 눌러 문의해주세요.



            </p>
            <div class="menu">이용권 만료 후 기본 용량을 초과하여 파일 보관 시 이용 제한 안내</div>
            <p class="content"> 기존에는 유료 상품(이용권)이 만료 후 60일이 지나야 '탐색기' , '감상' , '파일 다운로드' 등이 정지되었는데요.

                ​

                2022년 9월 29일부터 기본으로 제공되는 30GB(메일로 보낸 용량 포함)을 초과하여 파일을 보관하고 있을 경우 MYBOX의 주요 기능들이 즉시 제한됩니다.

                ​

                ※ MYBOX 유료 이용권을 사용 중이시거나, 이용권이 만료되더라도 30GB 이하로 사용 시에는 기능 제한이 되지 않으니 참고 부탁드립니다.

                ​

                - 파일 올리기, 내려받기 불가

                - 보관된 파일 확인, 사진/동영상 감상 불가

                - 파일 공유 및 외부로 보내기 불가

                - 함께보기 이용 불가

                - MYBOX 탐색기(PC, Mac) 이용 불가

                ​

                2022년 9월 29일부터는 모든 사용자가 용량 초과 즉시 기능이 제한되오니 양지하여 주시기 바랍니다.

                ​

                파일의 안전한 보관과 MYBOX의 주요 기능을 계속해서 이용하시기 위해서 이용권 만료 전 반드시 이용권 재구매를 권해드립니다.

                ​

                더 이상 이용권 구매를 원하지 않으신다면 기본 용량 이하로 파일을 정리해주셔야 정상적으로 서비스를 이용하실 수 있습니다.

                ​

                관련하여 궁금하신 점이 있으시다면 아래 링크를 눌러 문의해주세요.



            </p>
            <div class="menu">이용권 만료 후 기본 용량을 초과하여 파일 보관 시 이용 제한 안내</div>
            <p class="content"> 기존에는 유료 상품(이용권)이 만료 후 60일이 지나야 '탐색기' , '감상' , '파일 다운로드' 등이 정지되었는데요.

                ​

                2022년 9월 29일부터 기본으로 제공되는 30GB(메일로 보낸 용량 포함)을 초과하여 파일을 보관하고 있을 경우 MYBOX의 주요 기능들이 즉시 제한됩니다.

                ​

                ※ MYBOX 유료 이용권을 사용 중이시거나, 이용권이 만료되더라도 30GB 이하로 사용 시에는 기능 제한이 되지 않으니 참고 부탁드립니다.

                ​

                - 파일 올리기, 내려받기 불가

                - 보관된 파일 확인, 사진/동영상 감상 불가

                - 파일 공유 및 외부로 보내기 불가

                - 함께보기 이용 불가

                - MYBOX 탐색기(PC, Mac) 이용 불가

                ​

                2022년 9월 29일부터는 모든 사용자가 용량 초과 즉시 기능이 제한되오니 양지하여 주시기 바랍니다.

                ​

                파일의 안전한 보관과 MYBOX의 주요 기능을 계속해서 이용하시기 위해서 이용권 만료 전 반드시 이용권 재구매를 권해드립니다.

                ​

                더 이상 이용권 구매를 원하지 않으신다면 기본 용량 이하로 파일을 정리해주셔야 정상적으로 서비스를 이용하실 수 있습니다.

                ​

                관련하여 궁금하신 점이 있으시다면 아래 링크를 눌러 문의해주세요.
            </p>
        </div>
    </div>


    <!-- 사이드 바 -->
    <div class="sidebar">
        <div id="sidebarName">
            카테고리
        </div>
        <div id="sidebar1" class="sidebartag">
            회원정보
        </div>
        <div id="sidebar2" class="sidebartag">
            결제
        </div>
        <div id="sidebar3" class="sidebartag">
            쿠폰·포인트
        </div>
        <div id="sidebar4" class="sidebartag">
            상품/배송
        </div>
        <div id="sidebar5" class="sidebartag">
            멤버십
        </div>
        <div id="sidebar6" class="sidebartag">
            교환·AS
        </div>
        <div id="sidebar7" class="sidebartag">
            취소·환불·반품
        </div>
        <div id="sidebar8" class="sidebartag">
            서비스 이용 문의
        </div>
    </div>

</div>




<div class="contactmodal">
    <div class="contactmodal-container">
        <div class="contactmodal-content">
            <span class="close">&times;</span>
            <h2 class="contactmodal-title">1:1 문의</h2>
            <form class="mb-3 contact" name="contact" id="contact" method="post">
                <label for=""></label>
                <select name="contactCode" id="contactCode">
                    <option value="">회원 정보 문의</option>
                    <option value="">결제 문의</option>
                    <option value="">쿠폰/포인트 문의</option>
                    <option value="">상품/배송 문의</option>
                    <option value="">멤버십 문의</option>
                    <option value="">교환·AS 문의</option>
                    <option value="">취소·환불·반품 문의</option>
                    <option value="">서비스 이용 문의</option>
                </select>
                <textarea class="col-auto form-control contactContents" type="text" id="" placeholder="최소10이상 작성해주세요!!" maxlength="3000"></textarea>
                <div class="file-container">
                    <label for="contact-imgInput">
                        <span><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#f35f4c}</style><path d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/></svg>문의 이미지</span>
                    </label>
                    <input type="file" id="contact-imgInput" onchange="contactreadURL(this)">
                    <div class="contact-imgdiv"></div>
                </div>
                <button class="" type="submit">제출</button>
            </form>
        </div>
    </div>
</div>



<script>
    $("#headerlogo").click(function(){
        window.location.href = "../customerService.html";
    });
    $("#mainGo").click(function(){
        window.location.href = '../../index.html';
    });

</script>
<script>

    $('.menufirst').click(function(){
        $(this).next('p').slideToggle();
    });
    $('.menusecond').click(function(){
        $(this).next('p').slideToggle();
    });
    $('.menu').click(function(){
        $(this).next('p').slideToggle();
    });




    // <!-- 사이드 바 이동 스크립트 코드 --!>
    $('.sidebartag').click(function() {
        var buttonId = $(this).attr('id'); // 클릭한 버튼의 id를 가져옵니다.

        if (buttonId === 'sidebar1') {
            window.location.href = '../customerServiceCategory/member.html'; // 회원정보
        } else if (buttonId === 'sidebar2') {
            window.location.href = '../customerServiceCategory/payment.html'; // 결제
        } else if (buttonId === 'sidebar3') {
            window.location.href = '../customerServiceCategory/coupon.html'; // 쿠폰 · 포인트
        } else if (buttonId === 'sidebar4') {
            window.location.href = '../customerServiceCategory/Shipping.html'; // 상품 · 배송
        } else if (buttonId === 'sidebar5') {
            window.location.href = '../customerServiceCategory/Membership.html'; // 멤버십
        } else if (buttonId === 'sidebar6') {
            window.location.href = '../customerServiceCategory/Exchange.html'; // 교환 · AS
        } else if (buttonId === 'sidebar7') {
            window.location.href = '../customerServiceCategory/refund.html'; // 취소 · 환불 · 반품
        } else if (buttonId === 'sidebar8') {
            window.location.href = '../customerServiceCategory/useService.html'; // 서비스 이용 문의
        }


    });



    //  <!--  --!>





    const contactmodal = document.querySelector(".contactmodal");
    const btn = document.querySelector(".contactBtn");
    const $span = document.querySelector(".close");


    btn.addEventListener('click', openContactModal);
    $span.addEventListener('click', closeContactModal);

    function openContactModal() {
        contactmodal.style.display = "block";
        contactmodal.animate([{opacity: 0}, {opacity: 1}], {duration: 300, fill: "forwards"});
    }

    function closeContactModal() {
        contactmodal.animate([{opacity: 1}, {opacity: 0}], {duration: 300, fill: "forwards"}).onfinish = function() {
            contactmodal.style.display = "none";
            const $img = document.querySelector(".contact-imgdiv");
            if($img.hasChildNodes()){
                $img.replaceChildren();
            }
        };
    }
</script>
<script>
    function contactreadURL(obj) {

        let reader = new FileReader();
        if(!obj.files.length) {
            return;
        }
        reader.readAsDataURL(obj.files[0]);
        reader.onload = function (e) {
            let $div = $('<div>');
            $($div).css('width','120px');
            $($div).css('height','120px');
            $($div).css('padding','10px 10px 0px 0px');

            $('.contact-imgdiv').append($div);

            let img = $('<img />');
            $(img).attr('src', e.target.result);
            $(img).css('width','100%');
            $(img).css('height','100%');
            $($div).append(img);
        }
    }

</script>

</body>
</main>
</html>
