<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/common/page.css}">
</head>
    <main>
        <div class="page-wrapper">
            <section>
                <div class="page-title">
                    <h1>쿠폰목록</h1>
                </div>
                <div class="coupon-count">
                    <strong>
                        현재 사용가능한 쿠폰
                        <span>1개</span>
                    </strong>
                </div>
                <div class="page-container">
                    <div class="page-content">
                        <h2 class="sr-only">쿠폰목록</h2>
                        <div class="coupon-container">
                            <div class="coupon-regi flex-wrapper">
                                <button>쿠폰 등록</button>
                                <input type="text" placeholder="쿠폰번호 입력" maxlength="12">
                            </div>

                            <div class="coupon-list-container">
                                <div class="coupon-list grid-wrapper">
                                    <div class="coupon-item-wrapper">
                                        <div class="coupon-item">
                                            <dl>
                                                <dt class="sr-only">할인 쿠폰</dt>
                                                <dd class="discount">3,000원</dd>
                                                <dd class="discount-text">첫 가입 축하 쿠폰</dd>
                                            </dl>
                                            <div class="coupon-desc">
                                                <span>유효기간</span>
                                                <span>2023.08.30 12시</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="coupon-item-wrapper">
                                        <div class="coupon-item">
                                            <dl>
                                                <dt class="sr-only">할인 쿠폰</dt>
                                                <dd class="discount">3,000원</dd>
                                                <dd class="discount-text">첫 가입 축하 쿠폰</dd>
                                            </dl>
                                            <div class="coupon-desc">
                                                <span>유효기간</span>
                                                <span>2023.08.30 12시</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="coupon-item-wrapper">
                                        <div class="coupon-item">
                                            <dl>
                                                <dt class="sr-only">할인 쿠폰</dt>
                                                <dd class="discount">3,000원</dd>
                                                <dd class="discount-text">첫 가입 축하 쿠폰</dd>
                                            </dl>
                                            <div class="coupon-desc">
                                                <span>유효기간</span>
                                                <span>2023.08.30 12시</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="coupon-item-wrapper">
                                        <div class="coupon-item">
                                            <dl>
                                                <dt class="sr-only">할인 쿠폰</dt>
                                                <dd class="discount">3,000원</dd>
                                                <dd class="discount-text">첫 가입 축하 쿠폰</dd>
                                            </dl>
                                            <div class="coupon-desc">
                                                <span>유효기간</span>
                                                <span>2023.08.30 12시</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="coupon-item-wrapper">
                                        <div class="coupon-item">
                                            <dl>
                                                <dt class="sr-only">할인 쿠폰</dt>
                                                <dd class="discount">3,000원</dd>
                                                <dd class="discount-text">첫 가입 축하 쿠폰</dd>
                                            </dl>
                                            <div class="coupon-desc">
                                                <span>유효기간</span>
                                                <span>2023.08.30 12시</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
<script src=""></script>

</html>