<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/user/mypage/inquireView.css}">
</head>
<!-- 메인 안에 넣어놓아야함 -->
<main>
    <div class="container">
        <!-- 메인 타이틀 -->
        <div class="main-title">
            <div class="main-text">신고 내역</div>
            <div class="sub-text">신고 내역을 확인하는 공간입니다.</div>
        </div>
    </div>
    <!-- 게시판 내용 -->
    <div class="content">
        <div class="contentbox">
            <div class="left">신고 제목</div>
            <div class="writer" th:text="${inquir.getContactSubject()}">펀딩에 대해 문의드릴꺼 있습니다.</div>
        </div>
        <div class="contentbox">
            <div class="left">작성자</div>
            <div class="writer"th:text="${member.getMemberName()}">김펀딩</div>
        </div>
        <div class="contentbox">
            <div class="left">작성일</div>
            <div class="writer" th:text="${ #dates.format(inquir.getDateCreationInquiry(), 'yyyy-MM-dd')}">2022.2.22</div>
        </div>
        <div class="contentwrite">
            <div th:text="${inquir.getContactDetails()}">
                <p>제가 펀딩을 신청하려고 하는데</p>
            </div>
        </div>
        <!-- 답변 상자  -->
        <div class="answer" th:if="${showAnswer}">
            <div class="contentbox">
                <div class="left answered" >답변완료</div>
                <div class="writer answered" th:text="${inquir.getContactSubject()}" >문의사항 답변입니다.</div>
            </div>
            <div class="contentbox">
                <div class="left" >작성자</div>
                <div class="writer">관리자</div>
            </div>
            <div class="contentbox">
                <div class="left">작성일</div>
                <div class="writer" th:text="${ #dates.format(inquir.getAnswerDate(), 'yyyy-MM-dd')}">2022.2.22</div>
            </div>
            <div class="contentwrite">
                <div th:text="${inquir.getAnswerContent()}">
                    <p>관리자 답변 드립니다.</p>
                </div>
            </div>
        </div>
        <!-- 미답변인 경우-->
        <!-- 답변 상자  -->
        <div class="answer" th:unless="${showAnswer}">
            <div class="contentbox">
                <div class="left answered" >답변 대기중</div>
                <div class="writer answered" th:text="${inquir.getContactSubject()}" >문의사항 답변입니다.</div>
            </div>
            <div class="contentbox">
                <div class="left" >작성자</div>
                <div class="writer">관리자</div>
            </div>
            <div class="contentbox">
                <div class="left">작성일</div>
                <div class="writer" th:text="${ #dates.format(inquir.getAnswerDate(), 'yyyy-MM-dd')}">2022.2.22</div>
            </div>
            <div class="contentwrite">
                    <h3>관리자가 내용을 확인 중 입니다.</h3>
                </div>
            </div>
        </div>
        <!-- 목록 페이지 이동 버튼 -->
        <div class="list">
            <button class="list-button" type="button">
                <a th:href="|@{/mypage/inquire}|"></a>
                <span>목록</span></button>
        </div>
    </div>
</main>
<!-- 오류때문에 스크립트 하나를 넣어놓아야함.  -->
<script src=""></script>
</html>