<!DOCTYPE html>
<html th:replace="~{/layouts/base :: layout(~{::main}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/user/mypage/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
</head>
<div class="wrapper">
    <!-- 메인 -->
    <main>
            <!-- 회원 탈퇴 실패페이지  -->
            <section>
                <div class="login">
                    <div class="pagetitle">
                        <h1>회원탈퇴 완료</h1>
                    </div>
                        <div class="inputboxs">
                        <div class="findIdresult" style="text-align: center">
                            <span>
                                <br><br>
                                <h1 style="font-size: 30px ; text-align: center" >탙퇴가 실패했습니다.</h1>
                                <br>
                                <span>승인대기, 펀딩 진행중, 승인완료중인 펀딩이 있습니다.</span>
                            </span>
                        </div>
                        <div class="buttons">
                            <div>
                                <a th:href="@{/}">
                                    <button class="signupButton" type="button">메인으로 이동하기
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
</div>
</main>
<script th:src="@{/js/user/member/check.js}"></script>
</div>
</html>